openapi: 3.2.0
info:
  contact:
    name: Mary Arem
    email: MARY.AREM@ADP.COM
  description: The Validation Tables Cost Number APIs are used to Add or Retrieve Cost Number codes to/from the Validation Tables setup of an ADP WorkForce Now client.For more information refer Validation Tables Job Title API Guide For ADP WFN. For more information refer Validation Tables Cost Number API Guide For ADP WFN. For more information refer Validation table Location Guide for ADP WFN
  title: Client Data - Validation Tables Cost Centers API
  version: 1.0.0
  x-apievangelist-source: https://api-library-marketplace.adp.com/hcm-offrg-wfn/hcm/validation-tables/v1/validation-tables-swagger_v1-merged.json
  x-apievangelist-product: ADP Workforce Now (hcm-offrg-wfn)
  x-apievangelist-resource-path: hcm/validation-tables/v1/validation-tables
servers:
- url: https://api.adp.com
  description: 'ADP production API gateway (mutual-TLS). Source: https://developers.adp.com/getting-started/key-concepts/access-tokens'
- url: https://api.eu.adp.com
  description: ADP European API gateway
- url: https://uat-api.adp.com
  description: ADP UAT / sandbox gateway
tags:
- name: Cost Centers
  description: Validation Table - Cost Centers
paths:
  /hcm/v1/validation-tables/cost-centers:
    x-adpPathData:
      uriTranslationIndicator: false
      featureCode: clientMasterDataManagement
      functionCode: validationTableManagement
      serviceCode: standardsInformationManagement
      serviceCategoryCode: hcm
      canonicalName: Validation Tables
    post:
      summary: Add new code to a validation table - Cost Centers
      x-adpOperationData:
        operationStateCode: active
        grantTypes:
        - authorization_code
        - urn:ietf:params:oauth:grant-type:saml2-bearer
        - urn:ietf:params:oauth:grant-type:jwt-bearer
        - client_credential
        asaFeatureCodes:
        - MobileADMClientMasterData
        - MobilePSSClientMasterData
        canonicalUri: hcm/standardsInformationManagement/clientMasterDataManagement/validationTableManagement/costCenters.item.add
        sorRequestTimeoutPolicies:
          cachedTimeout: 3
          notCachedTimeout: 10
        operationCode: costCenters.item.add
        operationId: 241c8033-89f3-4506-9471-c4f18c9bd9cf
        roleCodes:
        - administrator
        - practitioner
        performAuthIndicator: true
        scenarios:
        - summary: <span>Adds cost number into validation table .</span>
          name: Adding cost number to validation tables
          responses:
          - headers:
              Retry-After: ''
              Location: ''
            code: '201'
            description: Adds cost number into validation table.
            content:
              application/json:
                externalValue: ./examples/Adding_cost_number_to_validation_tables_Provide_Example_costCenters.item.add_201_44479.json
          - headers:
              Retry-After: unset
              Location: unset
            code: '201'
            description: Adding a cost number code and it's details into validation table.
            content:
              application/json:
                externalValue: ./examples/Adding_cost_number_to_validation_tables_Provide_Example_costCenters.item.add_201_44485.json
          - headers:
              Content-Language: unset
              Last-Modified: unset
            code: '400'
            description: "Adding department code with invalid payrollGroupCode.\n \"message\": \"payrollGroupCode is invalid.\","
            content:
              application/json:
                externalValue: ./examples/Adding_cost_number_to_validation_tables_Provide_Example_costCenters.item.add_400_44488.json
          - headers:
              Content-Language: ''
              Last-Modified: ''
            code: '400'
            description: "Adding already existing cost number code.\n \"message\": \"This record already exists. Enter a unique value.\","
            content:
              application/json:
                externalValue: ./examples/Adding_cost_number_to_validation_tables_Provide_Example_costCenters.item.add_400_44486.json
          - headers:
              Content-Language: unset
              Last-Modified: unset
            code: '400'
            description: "Adding cost number details without nameCode.\t\n\"message\": \"/nameCode/code is required.\","
            content:
              application/json:
                externalValue: ./examples/Adding_cost_number_to_validation_tables_Provide_Example_costCenters.item.add_400_44487.json
          description: <span>Adds cost number into validation table .</span>
          content:
            application/json:
              externalValue: ./examples/Adding_cost_number_to_validation_tables_Provide_Example_costCenters.item.add_request_3881.json
        visibilityCodes:
        - internal
        - external
        globalViewDevPortalIndicator: false
      requestBody:
        description: To add a new code to the validation table
        content:
          application/json: {}
        required: true
      responses:
        '201':
          headers:
            Retry-After:
              schema:
                type: string
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
            Location:
              schema:
                type: string
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
          description: Created
          content:
            application/json:
              schema:
                $ref: ../../../common/shared/confirm-message-schema_v03.json
        '400':
          $ref: '#/components/responses/400'
        '500':
          $ref: '#/components/responses/500'
        '401':
          $ref: '#/components/responses/401'
        '413':
          $ref: '#/components/responses/413'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '503':
          $ref: '#/components/responses/503'
      operationId: 241c8033-89f3-4506-9471-c4f18c9bd9cf
      parameters:
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Consumer-ApplicationID
        description: Identifier of the application sending a request - not intended to be used as a correlation id for messages across systems participating in a collaboration
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Action-Reason
        description: Free format to indicate a reason for the current request
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: practitioner
          type: string
          enum:
          - employee
          - ' manager'
          - ' practitioner'
          - ' administrator'
          - ' supervisor'
        in: header
        name: roleCode
        description: 'The role the user is playing during the transaction.  Possible values: employee,manager,practitioner,administrator,supervisor.  The roleCode header should be passed in all calls.'
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          default: ''
          type: string
        in: header
        name: Authorization
        description: Provides the client's authorization token to access the resource representation at a URI
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Context-ExpressionID
        description: Geopolitical context, typically country, region, e.g. country=CA;subdivision=Quebec
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: orgoid
        description: Organization OID of the requestor as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          default: G4O73G9Z62SL2NFM
          type: string
        in: header
        name: associateoid
        description: Associate OID of the requestor as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      tags:
      - Cost Centers
    get:
      summary: List of tems in the validation table - Cost Centers
      x-adpOperationData:
        operationStateCode: active
        grantTypes:
        - authorization_code
        - urn:ietf:params:oauth:grant-type:saml2-bearer
        - urn:ietf:params:oauth:grant-type:jwt-bearer
        - client_credential
        asaFeatureCodes:
        - MobileADMClientMasterData
        - MobilePSSClientMasterData
        canonicalUri: hcm/standardsInformationManagement/clientMasterDataManagement/validationTableManagement/costCenters.items.read
        sorRequestTimeoutPolicies:
          cachedTimeout: 3
          notCachedTimeout: 10
        operationCode: costCenters.items.read
        operationId: 58fb93f2-49d3-4cc5-8ae8-e7502b758077
        roleCodes:
        - administrator
        - practitioner
        performAuthIndicator: true
        scenarios:
        - summary: <span>Retrieves all Cost number codes setup for the client.</span>
          name: Retrieves cost number details from the validation table.
          responses:
          - headers:
              Last-Modified: unset
              ETag: unset
              Content-Language: unset
              Content-Type: unset
            code: '200'
            description: Retrieving list of cost Number  codes setup for a client.
            content:
              application/json:
                externalValue: ./examples/Retrieves_cost_number_details_from_the_validation_table._Provide_Example_costCenters.items.read_200_44481.json
          - headers:
              Last-Modified: unset
              ETag: unset
              Content-Language: unset
              Content-Type: unset
            code: '200'
            description: Retrieves all Cost number codes setup for the client.
            content:
              application/json:
                externalValue: ./examples/Retrieves_cost_number_details_from_the_validation_table._Provide_Example_costCenters.items.read_200_44478.json
          description: <span>Retrieves all Cost number codes setup for the client.</span>
          parameters:
            $skip: '0'
            $top: '1'
        visibilityCodes:
        - internal
        - external
        globalViewDevPortalIndicator: false
      responses:
        '200':
          headers:
            Last-Modified:
              schema:
                type: string
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
            ETag:
              schema:
                type: string
              x-adpParameterData:
                visibilityCodes:
                - internal
                - external
              required: false
            Content-Language:
              schema:
                type: string
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
            Content-Type:
              schema:
                type: string
              x-adpParameterData:
                visibilityCodes:
                - internal
                - external
              required: false
          description: OK
          content:
            application/json:
              schema:
                $ref: ./schemas/validation-table-response-schema_v01.json
        '400':
          $ref: '#/components/responses/400'
        '412':
          $ref: '#/components/responses/412'
        '500':
          $ref: '#/components/responses/500'
        '204':
          $ref: '#/components/responses/204'
        '413':
          $ref: '#/components/responses/413'
        '403':
          $ref: '#/components/responses/403'
        '503':
          $ref: '#/components/responses/503'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '406':
          $ref: '#/components/responses/406'
        '429':
          $ref: '#/components/responses/429'
      description: List of items in validation table - Cost Centers
      operationId: 58fb93f2-49d3-4cc5-8ae8-e7502b758077
      parameters:
      - schema:
          default: ''
          type: string
        in: query
        name: $search
        description: The OData $search parameter MUST be used to specify the search criterion
        x-adpParameterData:
          visibilityCodes:
          - internal
          - external
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: Authorization
        description: Provides the client's authorization token to access the resource representation at a URI
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Consumer-ApplicationID
        description: Identifier of the application sending a request - not intended to be used as a correlation id for messages across systems participating in a collaboration
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: query
        name: $skip
        description: The OData $skip parameter MUST be used to specify the start sequence criterion
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: query
        name: $top
        description: The OData $top parameter MUST be used to specify the maximum number criterion
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: practitioner
          type: string
          enum:
          - employee
          - ' manager'
          - ' practitioner'
          - ' administrator'
          - ' supervisor'
        in: header
        name: roleCode
        description: 'The role the user is playing during the transaction.  Possible values: employee,manager,practitioner,administrator,supervisor.  The roleCode header should be passed in all calls.'
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          default: ''
          type: string
        in: header
        name: SOR
        description: SOR where the call is routed to. Typically injected by the API proxy, with few exceptions, e.g. callback scenarios
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: orgoid
        description: Organization OID of the requestor as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          default: ''
          type: string
        in: query
        name: $filter
        description: The OData $filter parameter MUST be used to specify the filter criterion
        x-adpParameterData:
          visibilityCodes:
          - internal
          - external
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Context-ExpressionID
        description: Geopolitical context, typically country, region, e.g. country=CA;subdivision=Quebec
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: query
        name: version
        description: The version of the associated validation table
        x-adpParameterData:
          visibilityCodes:
          - internal
          - external
        required: false
      - schema:
          default: G4O73G9Z62SL2NFM
          type: string
        in: header
        name: associateoid
        description: Associate OID of the requestor as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      tags:
      - Cost Centers
components:
  responses:
    '404':
      description: Not Found
      content:
        application/json:
          schema:
            $ref: ../../../common/shared/confirm-message-schema_v03.json
    '405':
      description: Method Not Allowed
      content:
        application/json:
          schema:
            $ref: ../../../common/shared/confirm-message-schema_v03.json
    '412':
      description: Precondition Failed
      content:
        application/json:
          schema:
            $ref: ../../../common/shared/confirm-message-schema_v03.json
    '503':
      description: Service Unavailable
      content:
        application/json:
          schema:
            $ref: ../../../common/shared/confirm-message-schema_v03.json
    '403':
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: ../../../common/shared/confirm-message-schema_v03.json
    '413':
      description: Request Entity Too Large
      content:
        application/json:
          schema:
            $ref: ../../../common/shared/confirm-message-schema_v03.json
    '429':
      description: Too Many Requests
      content:
        application/json:
          schema:
            $ref: ../../../common/shared/confirm-message-schema_v03.json
    '401':
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: ../../../common/shared/confirm-message-schema_v03.json
    '204':
      headers:
        ETag:
          schema:
            type: string
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        Last-Modified:
          schema:
            type: string
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
      description: No Content
    '500':
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: ../../../common/shared/confirm-message-schema_v03.json
    '400':
      headers:
        Content-Language:
          schema:
            type: string
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Last-Modified:
          schema:
            type: string
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: ../../../common/shared/confirm-message-schema_v03.json
    '406':
      description: Not Acceptable
      content:
        application/json:
          schema:
            $ref: ../../../common/shared/confirm-message-schema_v03.json
x-adpSpecData:
  domain: HCM
  specId: 5c3f804f-ddea-490e-920c-4a80aeb20f9d
  canonicalSpecId: eb89f93f-c521-43b3-a24a-604d17cd31b9
  specStatusCode: publishing
  specTypeCode: REST
  specStateCode: active
  nonStandardIndicator: false
  visibilityCodes:
  - internal
  - external
  filename: validation-tables-swagger_v1-merged.json
  serviceProviderId: WFN
  resourcePath: hcm/validation-tables/v1
  libraryVersion: ''
  testCaseCollection:
    example:
      href: WFN_CG_ClientData_Validation_Tables.postman_collection.zip
    description: Client Data Validation Tables Postman Collection
  publicationContext:
    products:
    - productId: hcm-offrg-wfn
      productName: workforce now
      marketplaceProductName: ADP Workforce Now®
  specCategoryCode: ''
