openapi: 3.2.0
info:
  title: ADP Workers Organizations API
  description: The ADP Workers API enables access to employee and worker data including personal information, job assignments, pay grades, compensation, and employment status. REST APIs support worker lifecycle management for HCM integrations across ADP Workforce Now, Vantage HCM, and Enterprise HR platforms.
  version: 2.0.0
  contact:
    name: ADP Developer Resources
    url: https://developers.adp.com/
  license:
    name: ADP API License
    url: https://developers.adp.com/
servers:
- url: https://api.adp.com
  description: ADP Production API
security:
- oauth2ClientCredentials: []
tags:
- name: Organizations
  description: Organizational unit management
paths:
  /core/v1/organization-departments:
    get:
      operationId: listDepartments
      summary: List Organization Departments
      description: Retrieve all departments/organizational units in the company structure.
      tags:
      - Organizations
      responses:
        '200':
          description: List of departments
          content:
            application/json:
              schema:
                type: object
                properties:
                  organizationDepartments:
                    type: array
                    items:
                      $ref: '#/components/schemas/Department'
              examples:
                Listdepartments200Example:
                  summary: Default listDepartments 200 response
                  x-microcks-default: true
                  value:
                    organizationDepartments:
                    - departmentCode: example_value
                      departmentName: example_value
                      parentDepartmentCode: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Department:
      type: object
      properties:
        departmentCode:
          type: string
          example: example_value
        departmentName:
          type: string
          example: example_value
        parentDepartmentCode:
          type: string
          example: example_value
  securitySchemes:
    oauth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://accounts.adp.com/auth/oauth/v2/token
          scopes:
            api__workers-v2__read: Read worker data
            api__workers-v2__write: Write worker data
