openapi: 3.2.0
info:
  contact:
    name: MarketplaceImport System
    email: mpimport.mpuser@adp.com
  description: The Work Assignment Application Programming Interface (API) updates the work assignments details such as a worker's Job Title and Job Function. For more information, see Work Assignment API Guide for ADP WorkForce Now. And for Worker Terminate refer Worker Terminate Guide For ADP WFN.
  title: Workers - Work Assignment Management Modify Work Assignment…
  version: 2.0.14
  x-apievangelist-source: https://api-library-marketplace.adp.com/hcm-offrg-wfn/hr/workers-work-assignment-management/v2/workers-work-assignment-management-swagger_v2-merged.json
  x-apievangelist-product: ADP Workforce Now (hcm-offrg-wfn)
  x-apievangelist-resource-path: hr/workers-work-assignment-management/v2/workers-work-assignment-management
servers:
- url: https://api.adp.com
  description: 'ADP production API gateway (mutual-TLS). Source: https://developers.adp.com/getting-started/key-concepts/access-tokens'
- url: https://api.eu.adp.com
  description: ADP European API gateway
- url: https://uat-api.adp.com
  description: ADP UAT / sandbox gateway
tags:
- name: Modify Work Assignment
  description: Modify work assignment details
paths:
  /events/hr/v1/worker.work-assignment.modify:
    x-adpPathData:
      uriTranslationIndicator: false
      featureCode: workerManagement
      functionCode: workAssignmentManagement
      serviceCode: workerInformationManagement
      serviceCategoryCode: hr
      canonicalName: Modify Work Assignment
    post:
      summary: Modify Work Assignment
      x-adpOperationData:
        operationStateCode: active
        grantTypes:
        - authorization_code
        - urn:ietf:params:oauth:grant-type:saml2-bearer
        - urn:ietf:params:oauth:grant-type:jwt-bearer
        - client_credential
        asaFeatureCodes:
        - MobilePSSWorkerProfile
        - MobileMSSWorkerProfile
        sorRequestTimeoutPolicies:
          cachedTimeout: 3
          notCachedTimeout: 10
        canonicalUri: hr/workerInformationManagement/workerManagement/workAssignmentManagement/worker.workAssignment.modify
        operationCode: worker.workAssignment.modify
        operationId: 5c3b1946-8403-4011-876b-d572d7f938e2
        performAuthIndicator: true
        roleCodes:
        - practitioner
        - manager
        scenarios:
        - summary: '<p>The Work Assignment API updates the work assignments for a worker. Below are the few scenarios with different set of filter conditions of 400 status code.</p><table border="0" cellpadding="0" cellspacing="0" style="background:white;border-collapse:collapse;"><tbody><tr><td style="border: 1pt solid rgb(193, 199, 208);padding: 5.25pt 7.5pt;vertical-align: top;" valign="top"><p style=''margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;''><strong><span style=''font-size:14px;font-family:"Segoe UI",sans-serif;color:#172B4D;''>Condition</span></strong></p></td><td style="border-top: 1pt solid rgb(193, 199, 208);border-right: 1pt solid rgb(193, 199, 208);border-bottom: 1pt solid rgb(193, 199, 208);border-image: initial;border-left: none;padding: 5.25pt 7.5pt;vertical-align: top;" valign="top"><p style=''margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;''><strong><span style=''font-size:14px;font-family:"Segoe UI",sans-serif;color:#172B4D;''>Message Text</span></strong></p></td></tr><tr><td style="border-right: 1pt solid rgb(193, 199, 208);border-bottom: 1pt solid rgb(193, 199, 208);border-left: 1pt solid rgb(193, 199, 208);border-image: initial;border-top: none;padding: 5.25pt 7.5pt;vertical-align: top;" valign="top"><p style=''margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;''><span style=''font-size:14px;font-family:"Segoe UI",sans-serif;color:#172B4D;''>Update work assignment details with an invalid <strong>associateOID</strong> (Associate Object ID).</span></p></td><td style="border-top: none;border-left: none;border-bottom: 1pt solid rgb(193, 199, 208);border-right: 1pt solid rgb(193, 199, 208);padding: 5.25pt 7.5pt;vertical-align: top;" valign="top"><p style=''margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;''><span style=''font-size:14px;font-family:"Segoe UI",sans-serif;color:#172B4D;''>&quot;<strong>userMessage</strong>&quot;: { &quot;messageTxt&quot;: &quot;associateOID is invalid.&quot; }</span></p></td></tr><tr><td style="border-right: 1pt solid rgb(193, 199, 208);border-bottom: 1pt solid rgb(193, 199, 208);border-left: 1pt solid rgb(193, 199, 208);border-image: initial;border-top: none;padding: 5.25pt 7.5pt;vertical-align: top;" valign="top"><p style=''margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;''><span style=''font-size:14px;font-family:"Segoe UI",sans-serif;color:#172B4D;''>Update work assignment details with an invalid <strong>workAssignmentID</strong>.</span></p></td><td style="border-top: none;border-left: none;border-bottom: 1pt solid rgb(193, 199, 208);border-right: 1pt solid rgb(193, 199, 208);padding: 5.25pt 7.5pt;vertical-align: top;" valign="top"><p style=''margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;''><span style=''font-size:14px;font-family:"Segoe UI",sans-serif;color:#172B4D;''>&quot;<strong>userMessage</strong>&quot;: { &quot;messageTxt&quot;: &quot;workAssignmentID is invalid.&quot;</span></p></td></tr><tr><td style="border-right: 1pt solid rgb(193, 199, 208);border-bottom: 1pt solid rgb(193, 199, 208);border-left: 1pt solid rgb(193, 199, 208);border-image: initial;border-top: none;padding: 5.25pt 7.5pt;vertical-align: top;" valign="top"><p style=''margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;''><span style=''font-size:14px;font-family:"Segoe UI",sans-serif;color:#172B4D;''>Update work assignment details with an invalid <strong>codeValue</strong> for the job change reason.</span></p></td><td style="border-top: none;border-left: none;border-bottom: 1pt solid rgb(193, 199, 208);border-right: 1pt solid rgb(193, 199, 208);padding: 5.25pt 7.5pt;vertical-align: top;" valign="top"><p style=''margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;''><span style=''font-size:14px;font-family:"Segoe UI",sans-serif;color:#172B4D;''>&quot;<strong>userMessage</strong>&quot;: { &quot;messageTxt&quot;: &quot;/events/data/transform/workers/workAssignment/eventReasonCode/codeValue is invalid.&quot; }</span></p></td></tr><tr><td style="border-right: 1pt solid rgb(193, 199, 208);border-bottom: 1pt solid rgb(193, 199, 208);border-left: 1pt solid rgb(193, 199, 208);border-image: initial;border-top: none;padding: 5.25pt 7.5pt;vertical-align: top;" valign="top"><p style=''margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;''><span style=''font-size:14px;font-family:"Segoe UI",sans-serif;color:#172B4D;''>Update work assignment details with an invalid <strong>effectiveDate</strong>.</span></p></td><td style="border-top: none;border-left: none;border-bottom: 1pt solid rgb(193, 199, 208);border-right: 1pt solid rgb(193, 199, 208);padding: 5.25pt 7.5pt;vertical-align: top;" valign="top"><p style=''margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;''><strong><span style=''font-size:14px;font-family:"Segoe UI",sans-serif;color:#172B4D;''>&quot;userMessage&quot;</span></strong><span style=''font-size:14px;font-family:"Segoe UI",sans-serif;color:#172B4D;''>: { &quot;messageTxt&quot;: &quot;transform/ effectiveDateTime is not a valid date. Enter the date in the format yyyy-MM-dd.&quot;}</span></p></td></tr><tr><td style="border-right: 1pt solid rgb(193, 199, 208);border-bottom: 1pt solid rgb(193, 199, 208);border-left: 1pt solid rgb(193, 199, 208);border-image: initial;border-top: none;padding: 5.25pt 7.5pt;vertical-align: top;" valign="top"><p style=''margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;''><span style=''font-size:14px;font-family:"Segoe UI",sans-serif;color:#172B4D;''>Update work assignment details with an invalid <strong>wageLawcoverage&nbsp;</strong>(Fair Labor Standards Act - FLSA).</span></p></td><td style="border-top: none;border-left: none;border-bottom: 1pt solid rgb(193, 199, 208);border-right: 1pt solid rgb(193, 199, 208);padding: 5.25pt 7.5pt;vertical-align: top;" valign="top"><p style=''margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;''><span style=''font-size:14px;font-family:"Segoe UI",sans-serif;color:#172B4D;''>&quot;<strong>userMessage</strong>&quot;: { &quot;messageTxt&quot;: &quot;/events/data/transform/workers/workAssignment/wageLawCoverage is invalid.&quot; }</span></p></td></tr><tr><td style="border-right: 1pt solid rgb(193, 199, 208);border-bottom: 1pt solid rgb(193, 199, 208);border-left: 1pt solid rgb(193, 199, 208);border-image: initial;border-top: none;padding: 5.25pt 7.5pt;vertical-align: top;" valign="top"><p style=''margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;''><span style=''font-size:14px;font-family:"Segoe UI",sans-serif;color:#172B4D;''>Update work assignment details with invalid position start date.</span></p></td><td style="border-top: none;border-left: none;border-bottom: 1pt solid rgb(193, 199, 208);border-right: 1pt solid rgb(193, 199, 208);padding: 5.25pt 7.5pt;vertical-align: top;" valign="top"><p style=''margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;''><span style=''font-size:14px;font-family:"Segoe UI",sans-serif;color:#172B4D;''>&quot;<strong>userMessage</strong>&quot;: { &quot;<strong>messageTxt</strong>&quot;: &quot;An employee&#39;s position start date must be greater than or equal to the effective hire date (the greater of the hire date or the rehire date).&quot; }</span></p></td></tr><tr><td style="border-right: 1pt solid rgb(193, 199, 208);border-bottom: 1pt solid rgb(193, 199, 208);border-left: 1pt solid rgb(193, 199, 208);border-image: initial;border-top: none;padding: 5.25pt 7.5pt;vertical-align: top;" valign="top"><p style=''margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;''><span style=''font-size:14px;font-family:"Segoe UI",sans-serif;color:#172B4D;''>Update work assignment details with an invalid Job Title.</span></p></td><td style="border-top: none;border-left: none;border-bottom: 1pt solid rgb(193, 199, 208);border-right: 1pt solid rgb(193, 199, 208);padding: 5.25pt 7.5pt;vertical-align: top;" valign="top"><p style=''margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;''><span style=''font-size:14px;font-family:"Segoe UI",sans-serif;color:#172B4D;''>&quot;<strong>userMessage</strong>&quot;: {&quot;messageTxt&quot;: &quot;/events/data/transform/workers/workAssignment/jobTitle is invalid.&quot;}</span></p></td></tr><tr><td style="border-right: 1pt solid rgb(193, 199, 208);border-bottom: 1pt solid rgb(193, 199, 208);border-left: 1pt solid rgb(193, 199, 208);border-image: initial;border-top: none;padding: 5.25pt 7.5pt;vertical-align: top;" valign="top"><p style=''margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;''><span style=''font-size:14px;font-family:"Segoe UI",sans-serif;color:#172B4D;''>Update work assignment details with an invalid JOB function code.</span></p></td><td style="border-top: none;border-left: none;border-bottom: 1pt solid rgb(193, 199, 208);border-right: 1pt solid rgb(193, 199, 208);padding: 5.25pt 7.5pt;vertical-align: top;" valign="top"><p style=''margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;''><span style=''font-size:14px;font-family:"Segoe UI",sans-serif;color:#172B4D;''>&quot;<strong>userMessage</strong>&quot;:{&quot;messageTxt&quot;:&quot;/events/data/transform/workers/workAssignment /jobFunctionCode/codeValue is invalid.&quot; }</span></p></td></tr><tr><td style="border-right: 1pt solid rgb(193, 199, 208);border-bottom: 1pt solid rgb(193, 199, 208);border-left: 1pt solid rgb(193, 199, 208);border-image: initial;border-top: none;padding: 5.25pt 7.5pt;vertical-align: top;" valign="top"><p style=''margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;''><span style=''font-size:14px;font-family:"Segoe UI",sans-serif;color:#172B4D;''>Update work assignment details with invalid <strong>NAICS</strong> (industry classification code).</span></p></td><td style="border-top: none;border-left: none;border-bottom: 1pt solid rgb(193, 199, 208);border-right: 1pt solid rgb(193, 199, 208);padding: 5.25pt 7.5pt;vertical-align: top;" valign="top"><p style=''margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;''><span style=''font-size:14px;font-family:"Segoe UI",sans-serif;color:#172B4D;''>&quot;<strong>userMessage</strong>&quot;: { &quot;messageTxt&quot;: &quot;/events/data/transform/workers/workAssignment/industryClassifications/classificationCode is invalid.&quot; }</span></p></td></tr><tr><td style="border-right: 1pt solid rgb(193, 199, 208);border-bottom: 1pt solid rgb(193, 199, 208);border-left: 1pt solid rgb(193, 199, 208);border-image: initial;border-top: none;padding: 5.25pt 7.5pt;vertical-align: top;" valign="top"><p style=''margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;''><span style=''font-size:14px;font-family:"Segoe UI",sans-serif;color:#172B4D;''>Update work assignment details with an invalid <strong>officerTypeCode</strong>.</span></p></td><td style="border-top: none;border-left: none;border-bottom: 1pt solid rgb(193, 199, 208);border-right: 1pt solid rgb(193, 199, 208);padding: 5.25pt 7.5pt;vertical-align: top;" valign="top"><p style=''margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;''><span style=''font-size:14px;font-family:"Segoe UI",sans-serif;color:#172B4D;''>&quot;<strong>userMessage</strong>&quot;: { &quot;messageTxt&quot;: &quot;/events/data/transform/workers/workAssignment/officerTypeCode/codeValue is invalid.&quot; }</span></p></td></tr><tr><td style="border-right: 1pt solid rgb(193, 199, 208);border-bottom: 1pt solid rgb(193, 199, 208);border-left: 1pt solid rgb(193, 199, 208);border-image: initial;border-top: none;padding: 5.25pt 7.5pt;vertical-align: top;" valign="top"><p style=''margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;''><span style=''font-size:14px;font-family:"Segoe UI",sans-serif;color:#172B4D;''>Update work assignment details with an invalid <strong>payGradeCode</strong>.</span></p></td><td style="border-top: none;border-left: none;border-bottom: 1pt solid rgb(193, 199, 208);border-right: 1pt solid rgb(193, 199, 208);padding: 5.25pt 7.5pt;vertical-align: top;" valign="top"><p style=''margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;''><span style=''font-size:14px;font-family:"Segoe UI",sans-serif;color:#172B4D;''>&quot;<strong>userMessage</strong>&quot;: { &quot;messageTxt&quot;: &quot;/events/data/transform/workers/workAssignment/payGradeCode is invalid.&quot; }</span></p></td></tr><tr><td style="border-right: 1pt solid rgb(193, 199, 208);border-bottom: 1pt solid rgb(193, 199, 208);border-left: 1pt solid rgb(193, 199, 208);border-image: initial;border-top: none;padding: 5.25pt 7.5pt;vertical-align: top;" valign="top"><p style=''margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;''><span style=''font-size:14px;font-family:"Segoe UI",sans-serif;color:#172B4D;''>Update work assignment details with invalid Equal Employment Opportunity Commission (EEOC) job <strong>classificationCode</strong>.</span></p></td><td style="border-top: none;border-left: none;border-bottom: 1pt solid rgb(193, 199, 208);border-right: 1pt solid rgb(193, 199, 208);padding: 5.25pt 7.5pt;vertical-align: top;" valign="top"><p style=''margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;''><span style=''font-size:14px;font-family:"Segoe UI",sans-serif;color:#172B4D;''>&quot;<strong>userMessage</strong>&quot;: { &quot;messageTxt&quot;: &quot;/events/data/transform/workers/workAssignment/occupationalClassifications/classificationCode (EEOC) is invalid.&quot; }</span></p></td></tr><tr><td style="border-right: 1pt solid rgb(193, 199, 208);border-bottom: 1pt solid rgb(193, 199, 208);border-left: 1pt solid rgb(193, 199, 208);border-image: initial;border-top: none;padding: 5.25pt 7.5pt;vertical-align: top;" valign="top"><p style=''margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;''><span style=''font-size:14px;font-family:"Segoe UI",sans-serif;color:#172B4D;''>Update work assignment details with an invalid EEO Establishment.</span></p></td><td style="border-top: none;border-left: none;border-bottom: 1pt solid rgb(193, 199, 208);border-right: 1pt solid rgb(193, 199, 208);padding: 5.25pt 7.5pt;vertical-align: top;" valign="top"><p style=''margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;''><strong><span style=''font-size:14px;font-family:"Segoe UI",sans-serif;color:#172B4D;''>&quot;userMessage&quot;</span></strong><span style=''font-size:14px;font-family:"Segoe UI",sans-serif;color:#172B4D;''>: { &quot;messageTxt&quot;: &quot;/events/data/transform/workers/work Assignment/ occupational Classifications/ classificationCode/ codeValue (EEO Establishment) is invalid.&quot; }</span></p></td></tr></tbody></table><p style=''margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;''>&nbsp;</p><hr><p><br></p><p>&nbsp;</p>'
          name: Updating Work Assignment Details for an Employee
          responses:
          - code: '200'
            description: Update work assignment details for an employee with valid data.
            content:
              application/json:
                externalValue: ./examples/Updating_Work_Assignment_Details_for_an_Employee_Workassignment-update-success-http-200-response_worker.workAssignment.modify_200_44050.json
          - code: '400'
            description: Bad request due to validation error associateOID is invalid.
            content:
              application/json:
                externalValue: ./examples/Updating_Work_Assignment_Details_for_an_Employee_Workassignment-invalid-AOID-http-400-response_worker.workAssignment.modify_400_44042.json
          description: '<p>The Work Assignment API updates the work assignments for a worker. Below are the few scenarios with different set of filter conditions of 400 status code.</p><table border="0" cellpadding="0" cellspacing="0" style="background:white;border-collapse:collapse;"><tbody><tr><td style="border: 1pt solid rgb(193, 199, 208);padding: 5.25pt 7.5pt;vertical-align: top;" valign="top"><p style=''margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;''><strong><span style=''font-size:14px;font-family:"Segoe UI",sans-serif;color:#172B4D;''>Condition</span></strong></p></td><td style="border-top: 1pt solid rgb(193, 199, 208);border-right: 1pt solid rgb(193, 199, 208);border-bottom: 1pt solid rgb(193, 199, 208);border-image: initial;border-left: none;padding: 5.25pt 7.5pt;vertical-align: top;" valign="top"><p style=''margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;''><strong><span style=''font-size:14px;font-family:"Segoe UI",sans-serif;color:#172B4D;''>Message Text</span></strong></p></td></tr><tr><td style="border-right: 1pt solid rgb(193, 199, 208);border-bottom: 1pt solid rgb(193, 199, 208);border-left: 1pt solid rgb(193, 199, 208);border-image: initial;border-top: none;padding: 5.25pt 7.5pt;vertical-align: top;" valign="top"><p style=''margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;''><span style=''font-size:14px;font-family:"Segoe UI",sans-serif;color:#172B4D;''>Update work assignment details with an invalid <strong>associateOID</strong> (Associate Object ID).</span></p></td><td style="border-top: none;border-left: none;border-bottom: 1pt solid rgb(193, 199, 208);border-right: 1pt solid rgb(193, 199, 208);padding: 5.25pt 7.5pt;vertical-align: top;" valign="top"><p style=''margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;''><span style=''font-size:14px;font-family:"Segoe UI",sans-serif;color:#172B4D;''>&quot;<strong>userMessage</strong>&quot;: { &quot;messageTxt&quot;: &quot;associateOID is invalid.&quot; }</span></p></td></tr><tr><td style="border-right: 1pt solid rgb(193, 199, 208);border-bottom: 1pt solid rgb(193, 199, 208);border-left: 1pt solid rgb(193, 199, 208);border-image: initial;border-top: none;padding: 5.25pt 7.5pt;vertical-align: top;" valign="top"><p style=''margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;''><span style=''font-size:14px;font-family:"Segoe UI",sans-serif;color:#172B4D;''>Update work assignment details with an invalid <strong>workAssignmentID</strong>.</span></p></td><td style="border-top: none;border-left: none;border-bottom: 1pt solid rgb(193, 199, 208);border-right: 1pt solid rgb(193, 199, 208);padding: 5.25pt 7.5pt;vertical-align: top;" valign="top"><p style=''margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;''><span style=''font-size:14px;font-family:"Segoe UI",sans-serif;color:#172B4D;''>&quot;<strong>userMessage</strong>&quot;: { &quot;messageTxt&quot;: &quot;workAssignmentID is invalid.&quot;</span></p></td></tr><tr><td style="border-right: 1pt solid rgb(193, 199, 208);border-bottom: 1pt solid rgb(193, 199, 208);border-left: 1pt solid rgb(193, 199, 208);border-image: initial;border-top: none;padding: 5.25pt 7.5pt;vertical-align: top;" valign="top"><p style=''margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;''><span style=''font-size:14px;font-family:"Segoe UI",sans-serif;color:#172B4D;''>Update work assignment details with an invalid <strong>codeValue</strong> for the job change reason.</span></p></td><td style="border-top: none;border-left: none;border-bottom: 1pt solid rgb(193, 199, 208);border-right: 1pt solid rgb(193, 199, 208);padding: 5.25pt 7.5pt;vertical-align: top;" valign="top"><p style=''margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;''><span style=''font-size:14px;font-family:"Segoe UI",sans-serif;color:#172B4D;''>&quot;<strong>userMessage</strong>&quot;: { &quot;messageTxt&quot;: &quot;/events/data/transform/workers/workAssignment/eventReasonCode/codeValue is invalid.&quot; }</span></p></td></tr><tr><td style="border-right: 1pt solid rgb(193, 199, 208);border-bottom: 1pt solid rgb(193, 199, 208);border-left: 1pt solid rgb(193, 199, 208);border-image: initial;border-top: none;padding: 5.25pt 7.5pt;vertical-align: top;" valign="top"><p style=''margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;''><span style=''font-size:14px;font-family:"Segoe UI",sans-serif;color:#172B4D;''>Update work assignment details with an invalid <strong>effectiveDate</strong>.</span></p></td><td style="border-top: none;border-left: none;border-bottom: 1pt solid rgb(193, 199, 208);border-right: 1pt solid rgb(193, 199, 208);padding: 5.25pt 7.5pt;vertical-align: top;" valign="top"><p style=''margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;''><strong><span style=''font-size:14px;font-family:"Segoe UI",sans-serif;color:#172B4D;''>&quot;userMessage&quot;</span></strong><span style=''font-size:14px;font-family:"Segoe UI",sans-serif;color:#172B4D;''>: { &quot;messageTxt&quot;: &quot;transform/ effectiveDateTime is not a valid date. Enter the date in the format yyyy-MM-dd.&quot;}</span></p></td></tr><tr><td style="border-right: 1pt solid rgb(193, 199, 208);border-bottom: 1pt solid rgb(193, 199, 208);border-left: 1pt solid rgb(193, 199, 208);border-image: initial;border-top: none;padding: 5.25pt 7.5pt;vertical-align: top;" valign="top"><p style=''margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;''><span style=''font-size:14px;font-family:"Segoe UI",sans-serif;color:#172B4D;''>Update work assignment details with an invalid <strong>wageLawcoverage&nbsp;</strong>(Fair Labor Standards Act - FLSA).</span></p></td><td style="border-top: none;border-left: none;border-bottom: 1pt solid rgb(193, 199, 208);border-right: 1pt solid rgb(193, 199, 208);padding: 5.25pt 7.5pt;vertical-align: top;" valign="top"><p style=''margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;''><span style=''font-size:14px;font-family:"Segoe UI",sans-serif;color:#172B4D;''>&quot;<strong>userMessage</strong>&quot;: { &quot;messageTxt&quot;: &quot;/events/data/transform/workers/workAssignment/wageLawCoverage is invalid.&quot; }</span></p></td></tr><tr><td style="border-right: 1pt solid rgb(193, 199, 208);border-bottom: 1pt solid rgb(193, 199, 208);border-left: 1pt solid rgb(193, 199, 208);border-image: initial;border-top: none;padding: 5.25pt 7.5pt;vertical-align: top;" valign="top"><p style=''margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;''><span style=''font-size:14px;font-family:"Segoe UI",sans-serif;color:#172B4D;''>Update work assignment details with invalid position start date.</span></p></td><td style="border-top: none;border-left: none;border-bottom: 1pt solid rgb(193, 199, 208);border-right: 1pt solid rgb(193, 199, 208);padding: 5.25pt 7.5pt;vertical-align: top;" valign="top"><p style=''margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;''><span style=''font-size:14px;font-family:"Segoe UI",sans-serif;color:#172B4D;''>&quot;<strong>userMessage</strong>&quot;: { &quot;<strong>messageTxt</strong>&quot;: &quot;An employee&#39;s position start date must be greater than or equal to the effective hire date (the greater of the hire date or the rehire date).&quot; }</span></p></td></tr><tr><td style="border-right: 1pt solid rgb(193, 199, 208);border-bottom: 1pt solid rgb(193, 199, 208);border-left: 1pt solid rgb(193, 199, 208);border-image: initial;border-top: none;padding: 5.25pt 7.5pt;vertical-align: top;" valign="top"><p style=''margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;''><span style=''font-size:14px;font-family:"Segoe UI",sans-serif;color:#172B4D;''>Update work assignment details with an invalid Job Title.</span></p></td><td style="border-top: none;border-left: none;border-bottom: 1pt solid rgb(193, 199, 208);border-right: 1pt solid rgb(193, 199, 208);padding: 5.25pt 7.5pt;vertical-align: top;" valign="top"><p style=''margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;''><span style=''font-size:14px;font-family:"Segoe UI",sans-serif;color:#172B4D;''>&quot;<strong>userMessage</strong>&quot;: {&quot;messageTxt&quot;: &quot;/events/data/transform/workers/workAssignment/jobTitle is invalid.&quot;}</span></p></td></tr><tr><td style="border-right: 1pt solid rgb(193, 199, 208);border-bottom: 1pt solid rgb(193, 199, 208);border-left: 1pt solid rgb(193, 199, 208);border-image: initial;border-top: none;padding: 5.25pt 7.5pt;vertical-align: top;" valign="top"><p style=''margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;''><span style=''font-size:14px;font-family:"Segoe UI",sans-serif;color:#172B4D;''>Update work assignment details with an invalid JOB function code.</span></p></td><td style="border-top: none;border-left: none;border-bottom: 1pt solid rgb(193, 199, 208);border-right: 1pt solid rgb(193, 199, 208);padding: 5.25pt 7.5pt;vertical-align: top;" valign="top"><p style=''margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;''><span style=''font-size:14px;font-family:"Segoe UI",sans-serif;color:#172B4D;''>&quot;<strong>userMessage</strong>&quot;:{&quot;messageTxt&quot;:&quot;/events/data/transform/workers/workAssignment /jobFunctionCode/codeValue is invalid.&quot; }</span></p></td></tr><tr><td style="border-right: 1pt solid rgb(193, 199, 208);border-bottom: 1pt solid rgb(193, 199, 208);border-left: 1pt solid rgb(193, 199, 208);border-image: initial;border-top: none;padding: 5.25pt 7.5pt;vertical-align: top;" valign="top"><p style=''margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;''><span style=''font-size:14px;font-family:"Segoe UI",sans-serif;color:#172B4D;''>Update work assignment details with invalid <strong>NAICS</strong> (industry classification code).</span></p></td><td style="border-top: none;border-left: none;border-bottom: 1pt solid rgb(193, 199, 208);border-right: 1pt solid rgb(193, 199, 208);padding: 5.25pt 7.5pt;vertical-align: top;" valign="top"><p style=''margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;''><span style=''font-size:14px;font-family:"Segoe UI",sans-serif;color:#172B4D;''>&quot;<strong>userMessage</strong>&quot;: { &quot;messageTxt&quot;: &quot;/events/data/transform/workers/workAssignment/industryClassifications/classificationCode is invalid.&quot; }</span></p></td></tr><tr><td style="border-right: 1pt solid rgb(193, 199, 208);border-bottom: 1pt solid rgb(193, 199, 208);border-left: 1pt solid rgb(193, 199, 208);border-image: initial;border-top: none;padding: 5.25pt 7.5pt;vertical-align: top;" valign="top"><p style=''margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;''><span style=''font-size:14px;font-family:"Segoe UI",sans-serif;color:#172B4D;''>Update work assignment details with an invalid <strong>officerTypeCode</strong>.</span></p></td><td style="border-top: none;border-left: none;border-bottom: 1pt solid rgb(193, 199, 208);border-right: 1pt solid rgb(193, 199, 208);padding: 5.25pt 7.5pt;vertical-align: top;" valign="top"><p style=''margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;''><span style=''font-size:14px;font-family:"Segoe UI",sans-serif;color:#172B4D;''>&quot;<strong>userMessage</strong>&quot;: { &quot;messageTxt&quot;: &quot;/events/data/transform/workers/workAssignment/officerTypeCode/codeValue is invalid.&quot; }</span></p></td></tr><tr><td style="border-right: 1pt solid rgb(193, 199, 208);border-bottom: 1pt solid rgb(193, 199, 208);border-left: 1pt solid rgb(193, 199, 208);border-image: initial;border-top: none;padding: 5.25pt 7.5pt;vertical-align: top;" valign="top"><p style=''margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;''><span style=''font-size:14px;font-family:"Segoe UI",sans-serif;color:#172B4D;''>Update work assignment details with an invalid <strong>payGradeCode</strong>.</span></p></td><td style="border-top: none;border-left: none;border-bottom: 1pt solid rgb(193, 199, 208);border-right: 1pt solid rgb(193, 199, 208);padding: 5.25pt 7.5pt;vertical-align: top;" valign="top"><p style=''margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;''><span style=''font-size:14px;font-family:"Segoe UI",sans-serif;color:#172B4D;''>&quot;<strong>userMessage</strong>&quot;: { &quot;messageTxt&quot;: &quot;/events/data/transform/workers/workAssignment/payGradeCode is invalid.&quot; }</span></p></td></tr><tr><td style="border-right: 1pt solid rgb(193, 199, 208);border-bottom: 1pt solid rgb(193, 199, 208);border-left: 1pt solid rgb(193, 199, 208);border-image: initial;border-top: none;padding: 5.25pt 7.5pt;vertical-align: top;" valign="top"><p style=''margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;''><span style=''font-size:14px;font-family:"Segoe UI",sans-serif;color:#172B4D;''>Update work assignment details with invalid Equal Employment Opportunity Commission (EEOC) job <strong>classificationCode</strong>.</span></p></td><td style="border-top: none;border-left: none;border-bottom: 1pt solid rgb(193, 199, 208);border-right: 1pt solid rgb(193, 199, 208);padding: 5.25pt 7.5pt;vertical-align: top;" valign="top"><p style=''margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;''><span style=''font-size:14px;font-family:"Segoe UI",sans-serif;color:#172B4D;''>&quot;<strong>userMessage</strong>&quot;: { &quot;messageTxt&quot;: &quot;/events/data/transform/workers/workAssignment/occupationalClassifications/classificationCode (EEOC) is invalid.&quot; }</span></p></td></tr><tr><td style="border-right: 1pt solid rgb(193, 199, 208);border-bottom: 1pt solid rgb(193, 199, 208);border-left: 1pt solid rgb(193, 199, 208);border-image: initial;border-top: none;padding: 5.25pt 7.5pt;vertical-align: top;" valign="top"><p style=''margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;''><span style=''font-size:14px;font-family:"Segoe UI",sans-serif;color:#172B4D;''>Update work assignment details with an invalid EEO Establishment.</span></p></td><td style="border-top: none;border-left: none;border-bottom: 1pt solid rgb(193, 199, 208);border-right: 1pt solid rgb(193, 199, 208);padding: 5.25pt 7.5pt;vertical-align: top;" valign="top"><p style=''margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;''><strong><span style=''font-size:14px;font-family:"Segoe UI",sans-serif;color:#172B4D;''>&quot;userMessage&quot;</span></strong><span style=''font-size:14px;font-family:"Segoe UI",sans-serif;color:#172B4D;''>: { &quot;messageTxt&quot;: &quot;/events/data/transform/workers/work Assignment/ occupational Classifications/ classificationCode/ codeValue (EEO Establishment) is invalid.&quot; }</span></p></td></tr></tbody></table><p style=''margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;''>&nbsp;</p><hr><p><br></p><p>&nbsp;</p>'
          content:
            application/json:
              externalValue: ./examples/Updating_Work_Assignment_Details_for_an_Employee_Workassignment-invalid-AOID-http-400-request_worker.workAssignment.modify_request_3681.json
        visibilityCodes:
        - internal
        - external
        globalViewDevPortalIndicator: true
      requestBody:
        description: posted contents
        content:
          application/json:
            schema:
              $ref: ./schemas/events_hr.worker.workAssignment.modify_schema_v01_00_rev007.json
        required: true
      responses:
        '200':
          headers:
            ADP-Acting-Session-Expires:
              schema:
                type: string
              description: Specifies the date and time the representational state of the resource is considered stale in 'Act-As' and act 'On-Behalf-Of' scenarios
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
            Cache-Control:
              schema:
                type: string
              description: Specifies directives that must be obeyed by all caching mechanisms along the request/response chain.
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
            sm_transactionid:
              schema:
                type: string
              description: 'SiteMinder transaction ID.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_transactionid: 1aaf14ac-7083-54c0186f-4680c940-82b33ca3'
              x-adpParameterData:
                visibilityCodes:
                - internal
                - external
              required: false
            ETag:
              schema:
                type: string
              description: Defines the entity tag for use with the If-Match and If-None-Match request headers.
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
            ADP-Acting-SessionID:
              schema:
                type: string
              description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
              x-adpParameterData:
                visibilityCodes:
                - internal
                - external
              required: false
            Content-Type:
              schema:
                type: string
              description: 'Content-Type'' '': '' type ''/'' subtype. Describes the media type and subtype of an entity-body.'
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
          description: Modify work assignment details
          content:
            application/json:
              schema:
                $ref: ./schemas/events_hr.worker.workAssignment.modify_schema_v01_00_rev007.json
        '400':
          $ref: '#/components/responses/400'
        '500':
          $ref: '#/components/responses/500'
        '412':
          $ref: '#/components/responses/412'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '503':
          $ref: '#/components/responses/503'
        '504':
          $ref: '#/components/responses/504'
        '405':
          $ref: '#/components/responses/405'
        '406':
          $ref: '#/components/responses/406'
        '429':
          $ref: '#/components/responses/429'
      description: Modify work assignment details.
      operationId: 5c3b1946-8403-4011-876b-d572d7f938e2
      parameters:
      - schema:
          default: ''
          type: string
        in: header
        name: sm_user
        description: 'SiteMinder user ID.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_user: JJohns@Abc'
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-On-Behalf-Of-OrgOID
        description: Org OID for organization of the associate that is the actor in ' On Behalf Of' as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-On-Behalf-Of-AssociateOID
        description: Associate OID for the associate that is the actor in ' On Behalf Of' as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: SORUri
        description: Actual Uri within the SOR
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: sm_serversessionid
        description: 'SiteMinder session ID.   Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_serversessionid: SoFpy8UMyhtXY6YsEumvXJbznFA='
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: Authorization
        description: Provides the client's authorization token to access the resource representation at a URI
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Acting-SessionID
        description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Act-As-OrgOID
        description: Org OID for organization of the associate that is the actor in 'Acting As' as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: sm_transactionid
        description: 'SiteMinder transaction ID.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_transactionid: 1aaf14ac-7083-54c0186f-4680c940-82b33ca3'
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Context-ExpressionID
        description: Geopolitical context, typically country, region, e.g. country=CA;subdivision=Quebec
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ConsumerAppOID
        description: Identifier for the service consumer application.  This header is required, if the actor (Service Consumer) is an application or the actor is internal to ADP
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: sm_userdn
        description: 'SiteMinder user LDAP distinguished name.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_userdn: uid=JJohns@Abc,ou=Users,o=Abc'
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Act-As-AssociateOID
        description: Associate OID of the associate that is the actor in 'Acting As' as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: SOR
        description: SOR where the call is routed to - usuall injected by the API proxy, with few exceptions
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Consumer-ApplicationID
        description: Identifier of the application sending a request - not intended to be used as a correlation id for messages across systems participating in a collaboration
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: en-US
          type: string
        in: header
        name: Accept-Language
        description: 'Accept-Language'' '': '' ( language | ''*'' ) ['';'' ''q'' ''=''qvalue]. Specifies the language(s) that are acceptable for the response. The optional qvalue represents a quality level for acceptable languages.'
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: sm_auth_level
        description: 'SiteMinder autorization level.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_auth_level: 10'
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: SORContext
        description: Context within an SOR that the call should be routed to
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: employee
          type: string
          enum:
          - employee
          - ' manager'
          - ' practitioner'
          - ' administrator'
          - ' supervisor'
        in: header
        name: roleCode
        description: 'The role the user is playing during the transaction.  Possible values: employee,manager,practitioner,administrator,supervisor.  The roleCode header should be passed in all calls.'
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          default: ISI
          type: string
        in: header
        name: realm
        description: The identity management realm, e.g. ISI
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          default: ''
          type: string
        in: header
        name: orgoid
        description: Organization OID of the requestor as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          default: G4O73G9Z62SL2NFM
          type: string
        in: header
        name: associateoid
        description: Associate OID of the requestor as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      tags:
      - Modify Work Assignment
  /events/hr/v1/worker.work-assignment.modify/meta:
    x-adpPathData:
      uriTranslationIndicator: false
      featureCode: workerManagement
      functionCode: workAssignmentManagement
      serviceCode: workerInformationManagement
      serviceCategoryCode: hr
      canonicalName: Modify Work Assignment
    get:
      summary: Modify Work Assignment Meta
      x-adpOperationData:
        operationStateCode: active
        grantTypes:
        - authorization_code
        - urn:ietf:params:oauth:grant-type:saml2-bearer
        - urn:ietf:params:oauth:grant-type:jwt-bearer
        - client_credential
        asaFeatureCodes:
        - MobileMSSWorkerProfile
        - MobilePSSWorkerProfile
        sorRequestTimeoutPolicies:
          cachedTimeout: 3
          notCachedTimeout: 10
        canonicalUri: hr/workerInformationManagement/workerManagement/workAssignmentManagement/worker.workAssignment.modify
        operationCode: worker.workAssignment.modify
        operationId: b451d2d2-c440-423a-97a8-4012fb88d6cc
        performAuthIndicator: true
        roleCodes:
        - manager
        - practitioner
        scenarios:
        - summary: Retrieves the meta information.
          name: Retrieves the meta information.
          responses:
          - code: '200'
            description: Retrieves the meta information.
            content:
              application/json:
                externalValue: ./examples/Retrieves_the_meta_information._workassignment-meta-call-http-200-response_worker.workAssignment.modify_200_44052.json
          description: Retrieves the meta information.
        visibilityCodes:
        - internal
        - external
        globalViewDevPortalIndicator: true
      responses:
        '200':
          headers:
            ADP-Acting-Session-Expires:
              schema:
                type: string
              description: Specifies the date and time the representational state of the resource is considered stale in 'Act-As' and act 'On-Behalf-Of' scenarios
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
            Cache-Control:
              schema:
                type: string
              description: Specifies directives that must be obeyed by all caching mechanisms along the request/response chain.
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
            sm_transactionid:
              schema:
                type: string
              description: 'SiteMinder transaction ID.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_transactionid: 1aaf14ac-7083-54c0186f-4680c940-82b33ca3'
              x-adpParameterData:
                visibilityCodes:
                - internal
                - external
              required: false
            ETag:
              schema:
                type: string
              description: Defines the entity tag for use with the If-Match and If-None-Match request headers.
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
            ADP-Acting-SessionID:
              schema:
                type: string
              description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
              x-adpParameterData:
                visibilityCodes:
                - internal
                - external
              required: false
            Content-Type:
              schema:
                type: string
              description: 'Content-Type'' '': '' type ''/'' subtype. Describes the media type and subtype of an entity-body.'
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
          description: Returns an event metadata
          content:
            application/json:
              schema:
                $ref: ./schemas/events_hr.worker.workAssignment.modify_meta_schema_v01_00_rev007.json
        '400':
          $ref: '#/components/responses/400'
        '500':
          $ref: '#/components/responses/500'
        '401':
          $ref: '#/components/responses/401'
        '412':
          $ref: '#/components/responses/412'
        '413':
          $ref: '#/components/responses/413'
        '403':
          $ref: '#/components/responses/403'
        '304':
          $ref: '#/components/responses/304'
        '404':
          $ref: '#/components/responses/404'
        '503':
          $ref: '#/components/responses/503'
        '405':
          $ref: '#/components/responses/405'
        '504':
          $ref: '#/components/responses/504'
        '406':
          $ref: '#/components/responses/406'
        '429':
          $ref: '#/components/responses/429'
      description: Returns an event metadata
      operationId: b451d2d2-c440-423a-97a8-4012fb88d6cc
      parameters:
      - schema:
          default: ''
          type: string
        in: header
        name: sm_user
        description: 'SiteMinder user ID.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_user: JJohns@Abc'
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-On-Behalf-Of-OrgOID
        description: Org OID for organization of the associate that is the actor in ' On Behalf Of' as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Context-ExpressionID
        description: Geopolitical context, typically country, region, e.g. country=CA;subdivision=Quebec
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-On-Behalf-Of-AssociateOID
        description: Associate OID for the associate that is the actor in ' On Behalf Of' as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: SORUri
        description: Actual Uri within the SOR
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: sm_serversessionid
        description: 'SiteMinder session ID.   Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_serversessionid: SoFpy8UMyhtXY6YsEumvXJbznFA='
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Acting-SessionID
        description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Act-As-OrgOID
        description: Org OID for organization of the associate that is the actor in 'Acting As' as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: sm_transactionid
        description: 'SiteMinder transaction ID.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_transactionid: 1aaf14ac-7083-54c0186f-4680c940-82b33ca3'
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: query
        name: $filter
        description: The OData $filter parameter MUST be used to specify the filter criterion.  Please refer RESTful Web API Design Standard document for this query parameter specification details.
        x-adpParameterData:
          visibilityCodes:
          - internal
          - external
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ConsumerAppOID
        description: Identifier for the service consumer application.  This header is required, if the actor (Service Consumer) is an application or the actor is internal to ADP
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: sm_userdn
        description: 'SiteMinder user LDAP distinguished name.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_userdn: uid=JJohns@Abc,ou=Users,o=Abc'
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Act-As-AssociateOID
        description: Associate OID of the associate that is the actor in 'Acting As' as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: SOR
        description: SOR where the call is routed to - usuall injected by the API proxy, with few exceptions
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          default: en-US
          type: string
        in: header
        name: Accept-Language
        description: 'Accept-Language'' '': '' ( language | ''*'' ) ['';'' ''q'' ''=''qvalue]. Specifies the language(s) that are acceptable for the response. The optional qvalue represents a quality level for acceptable languages.'
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: sm_auth_level
        description: 'SiteMinder autorization level.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_auth_level: 10'
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: SORContext
        description: Context within an SOR that the call should be routed to
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: Authorization
        description: Provides the client's authorization token to access the resource representation at a URI
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Consumer-ApplicationID
        description: Identifier of the application sending a request - not intended to be used as a correlation id for messages across systems participating in a collaboration
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: employee
          type: string
          enum:
          - employee
          - ' manager'
          - ' practitioner'
          - ' administrator'
          - ' supervisor'
        in: header
        name: roleCode
        description: 'The role the user is playing during the transaction.  Possible values: employee,manager,practitioner,administrator,supervisor.  The roleCode header should be passed in all calls.'
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          default: ISI
          type: string
        in: header
        name: realm
        description: The identity management realm, e.g. ISI
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          default: ''
          type: string
        in: header
        name: orgoid
        description: Organization OID of the requestor as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          default: G4O73G9Z62SL2NFM
          type: string
        in: header
        name: associateoid
        description: Associate OID of the requestor as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      tags:
      - Modify Work Assignment
components:
  responses:
    '404':
      headers:
        ADP-Acting-Session-Expires:
          schema:
            type: string
          description: Specifies the date and time the representational state of the resource is considered stale in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Cache-Control:
          schema:
            type: string
          description: Specifies directives that must be obeyed by all caching mechanisms along the request/response chain.
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        sm_transactionid:
          schema:
            type: string
          description: 'SiteMinder transaction ID.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_transactionid: 1aaf14ac-7083-54c0186f-4680c940-82b33ca3'
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        ETag:
          schema:
            type: string
          description: Defines the entity tag for use with the If-Match and If-None-Match request headers.
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        ADP-Acting-SessionID:
          schema:
            type: string
          description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        Content-Type:
          schema:
            type: string
          description: 'Content-Type'' '': '' type ''/'' subtype. Describes the media type and subtype of an entity-body.'
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
      description: Not Found
      content:
        application/json:
          schema:
            $ref: ../../../common/responses/v1/schemas/confirmMessage_schema_v01_00_rev008.json
    '405':
      headers:
        ADP-Acting-Session-Expires:
          schema:
            type: string
          description: Specifies the date and time the representational state of the resource is considered stale in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Cache-Control:
          schema:
            type: string
          description: Specifies directives that must be obeyed by all caching mechanisms along the request/response chain.
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        sm_transactionid:
          schema:
            type: string
          description: 'SiteMinder transaction ID.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_transactionid: 1aaf14ac-7083-54c0186f-4680c940-82b33ca3'
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        ETag:
          schema:
            type: string
          description: Defines the entity tag for use with the If-Match and If-None-Match request headers.
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        ADP-Acting-SessionID:
          schema:
            type: string
          description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        Content-Type:
          schema:
            type: string
          description: 'Content-Type'' '': '' type ''/'' subtype. Describes the media type and subtype of an entity-body.'
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
      description: Method Not Allowed
      content:
        application/json:
          schema:
            $ref: ../../../common/responses/v1/schemas/confirmMessage_schema_v01_00_rev008.json
    '503':
      headers:
        ADP-Acting-Session-Expires:
          schema:
            type: string
          description: Specifies the date and time the representational state of the resource is considered stale in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Cache-Control:
          schema:
            type: string
          description: Specifies directives that must be obeyed by all caching mechanisms along the request/response chain.
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        sm_transactionid:
          schema:
            type: string
          description: 'SiteMinder transaction ID.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_transactionid: 1aaf14ac-7083-54c0186f-4680c940-82b33ca3'
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        ETag:
          schema:
            type: string
          description: Defines the entity tag for use with the If-Match and If-None-Match request headers.
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        ADP-Acting-SessionID:
          schema:
            type: string
          description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        Content-Type:
          schema:
            type: string
          description: 'Content-Type'' '': '' type ''/'' subtype. Describes the media type and subtype of an entity-body.'
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
      description: Service Unavailable
      content:
        application/json:
          schema:
            $ref: ../../../common/responses/v1/schemas/confirmMessage_schema_v01_00_rev008.json
    '403':
      headers:
        ADP-Acting-Session-Expires:
          schema:
            type: string
          description: Specifies the date and time the representational state of the resource is considered stale in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Cache-Control:
          schema:
            type: string
          description: Specifies directives that must be obeyed by all caching mechanisms along the request/response chain.
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        sm_transactionid:
          schema:
            type: string
          description: 'SiteMinder transaction ID.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_transactionid: 1aaf14ac-7083-54c0186f-4680c940-82b33ca3'
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        ETag:
          schema:
            type: string
          description: Defines the entity tag for use with the If-Match and If-None-Match request headers.
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        ADP-Acting-SessionID:
          schema:
            type: string
          description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        Content-Type:
          schema:
            type: string
          description: 'Content-Type'' '': '' type ''/'' subtype. Describes the media type and subtype of an entity-body.'
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: ../../../common/responses/v1/schemas/confirmMessage_schema_v01_00_rev008.json
    '304':
      headers:
        ADP-Acting-Session-Expires:
          schema:
            type: string
          description: Specifies the date and time the representational state of the resource is considered stale in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Cache-Control:
          schema:
            type: string
          description: Specifies directives that must be obeyed by all caching mechanisms along the request/response chain.
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        sm_transactionid:
          schema:
            type: string
          description: 'SiteMinder transaction ID.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_transactionid: 1aaf14ac-7083-54c0186f-4680c940-82b33ca3'
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        ETag:
          schema:
            type: string
          description: Defines the entity tag for use with the If-Match and If-None-Match request headers.
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        ADP-Acting-SessionID:
          schema:
            type: string
          description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        Content-Type:
          schema:
            type: string
          description: 'Content-Type'' '': '' type ''/'' subtype. Describes the media type and subtype of an entity-body.'
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
      description: Not Modified
    '413':
      headers:
        ADP-Acting-Session-Expires:
          schema:
            type: string
          description: Specifies the date and time the representational state of the resource is considered stale in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Cache-Control:
          schema:
            type: string
          description: Specifies directives that must be obeyed by all caching mechanisms along the request/response chain.
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        sm_transactionid:
          schema:
            type: string
          description: 'SiteMinder transaction ID.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_transactionid: 1aaf14ac-7083-54c0186f-4680c940-82b33ca3'
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        ETag:
          schema:
            type: string
          description: Defines the entity tag for use with the If-Match and If-None-Match request headers.
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        ADP-Acting-SessionID:
          schema:
            type: string
          description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        Content-Type:
          schema:
            type: string
          description: 'Content-Type'' '': '' type ''/'' subtype. Describes the media type and subtype of an entity-body.'
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
      description: Request Entity Too Large
      content:
        application/json:
          schema:
            $ref: ../../../common/responses/v1/schemas/confirmMessage_schema_v01_00_rev008.json
    '400':
      headers:
        ADP-Acting-Session-Expires:
          schema:
            type: string
          description: Specifies the date and time the representational state of the resource is considered stale in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Cache-Control:
          schema:
            type: string
          description: Specifies directives that must be obeyed by all caching mechanisms along the request/response chain.
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        sm_transactionid:
          schema:
            type: string
          description: 'SiteMinder transaction ID.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_transactionid: 1aaf14ac-7083-54c0186f-4680c940-82b33ca3'
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        ETag:
          schema:
            type: string
          description: Defines the entity tag for use with the If-Match and If-None-Match request headers.
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        ADP-Acting-SessionID:
          schema:
            type: string
          description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        Content-Type:
          schema:
            type: string
          description: 'Content-Type'' '': '' type ''/'' subtype. Describes the media type and subtype of an entity-body.'
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: ../../../common/responses/v1/schemas/confirmMessage_schema_v01_00_rev008.json
    '429':
      headers:
        ADP-Acting-Session-Expires:
          schema:
            type: string
          description: Specifies the date and time the representational state of the resource is considered stale in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Cache-Control:
          schema:
            type: string
          description: Specifies directives that must be obeyed by all caching mechanisms along the request/response chain.
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        sm_transactionid:
          schema:
            type: string
          description: 'SiteMinder transaction ID.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_transactionid: 1aaf14ac-7083-54c0186f-4680c940-82b33ca3'
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        ETag:
          schema:
            type: string
          description: Defines the entity tag for use with the If-Match and If-None-Match request headers.
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        ADP-Acting-SessionID:
          schema:
            type: string
          description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        Content-Type:
          schema:
            type: string
          description: 'Content-Type'' '': '' type ''/'' subtype. Describes the media type and subtype of an entity-body.'
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
      description: Too Many Requests
      content:
        application/json:
          schema:
            $ref: ../../../common/responses/v1/schemas/confirmMessage_schema_v01_00_rev008.json
    '401':
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: ../../../common/responses/v1/schemas/confirmMessage_schema_v01_00_rev008.json
    '500':
      headers:
        ADP-Acting-Session-Expires:
          schema:
            type: string
          description: Specifies the date and time the representational state of the resource is considered stale in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Cache-Control:
          schema:
            type: string
          description: Specifies directives that must be obeyed by all caching mechanisms along the request/response chain.
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        sm_transactionid:
          schema:
            type: string
          description: 'SiteMinder transaction ID.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_transactionid: 1aaf14ac-7083-54c0186f-4680c940-82b33ca3'
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        ETag:
          schema:
            type: string
          description: Defines the entity tag for use with the If-Match and If-None-Match request headers.
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        ADP-Acting-SessionID:
          schema:
            type: string
          description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        Content-Type:
          schema:
            type: string
          description: 'Content-Type'' '': '' type ''/'' subtype. Describes the media type and subtype of an entity-body.'
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: ../../../common/responses/v1/schemas/confirmMessage_schema_v01_00_rev008.json
    '412':
      headers:
        ADP-Acting-Session-Expires:
          schema:
            type: string
          description: Specifies the date and time the representational state of the resource is considered stale in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Cache-Control:
          schema:
            type: string
          description: Specifies directives that must be obeyed by all caching mechanisms along the request/response chain.
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        sm_transactionid:
          schema:
            type: string
          description: 'SiteMinder transaction ID.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_transactionid: 1aaf14ac-7083-54c0186f-4680c940-82b33ca3'
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        ETag:
          schema:
            type: string
          description: Defines the entity tag for use with the If-Match and If-None-Match request headers.
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        ADP-Acting-SessionID:
          schema:
            type: string
          description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        Content-Type:
          schema:
            type: string
          description: 'Content-Type'' '': '' type ''/'' subtype. Describes the media type and subtype of an entity-body.'
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
      description: Precondition Failed
      content:
        application/json:
          schema:
            $ref: ../../../common/responses/v1/schemas/confirmMessage_schema_v01_00_rev008.json
    '406':
      headers:
        ADP-Acting-Session-Expires:
          schema:
            type: string
          description: Specifies the date and time the representational state of the resource is considered stale in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Cache-Control:
          schema:
            type: string
          description: Specifies directives that must be obeyed by all caching mechanisms along the request/response chain.
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        sm_transactionid:
          schema:
            type: string
          description: 'SiteMinder transaction ID.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_transactionid: 1aaf14ac-7083-54c0186f-4680c940-82b33ca3'
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        ETag:
          schema:
            type: string
          description: Defines the entity tag for use with the If-Match and If-None-Match request headers.
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        ADP-Acting-SessionID:
          schema:
            type: string
          description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        Content-Type:
          schema:
            type: string
          description: 'Content-Type'' '': '' type ''/'' subtype. Describes the media type and subtype of an entity-body.'
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
      description: Not Acceptable
      content:
        application/json:
          schema:
            $ref: ../../../common/responses/v1/schemas/confirmMessage_schema_v01_00_rev008.json
    '504':
      description: Gateway Timeout
      content:
        application/json:
          schema:
            $ref: ../../../common/responses/v1/schemas/confirmMessage_schema_v01_00_rev008.json
x-adpSpecData:
  domain: HR
  specId: 42fae2a2-0c64-4f07-9ac1-d979cb73b5c6
  canonicalSpecId: a3bc9bd4-0e27-47de-affc-6391672b6469
  specStatusCode: publishing
  specTypeCode: REST
  specStateCode: active
  nonStandardIndicator: false
  visibilityCodes:
  - internal
  - external
  filename: workers-work-assignment-management-swagger_v2-merged.json
  serviceProviderId: 'null'
  resourcePath: hr/workers/v2
  libraryVersion: ''
  businessRules:
  - rule: R3.4
    ruleTitle: /data/output may be provided during the recording of the event showing the intermediary results.
    visibilityCodes:
    - internal
  - rule: R3.3
    ruleTitle: /data/output communicates the result of the event instance.
    visibilityCodes:
    - internal
  - rule: R6.0
    ruleTitle: An event instance may be created by a System of record for a user to complete. This event instance will have a event.status.code=created
    visibilityCodes:
    - internal
  - rule: R6.1
    ruleTitle: An event instance which is being “worked on” has an event.status.code=inprogress
    visibilityCodes:
    - internal
  - rule: R2.1
    ruleTitle: If the event is declared by an actor then the creationDateTime is the date time when the first call is made to the System of Record.
    visibilityCodes:
    - internal
  - rule: R2.2
    ruleTitle: The recordDateTime is the date time which the event is recorded in the system of record with an event.status.code=complete
    visibilityCodes:
    - internal
  - rule: R3.0
    ruleTitle: /data/schemaContext communicates the keys and properties that relate the event instance to a concrete concept (e.g. associate).
    visibilityCodes:
    - internal
  - rule: R8.1
    ruleTitle: An event notification includes the /data/eventContext and /data/output objects.
    visibilityCodes:
    - internal
  - rule: R5.1
    ruleTitle: The only information that must be valued in the meta for the events header are the standard codelist references for priorityCode, eventStatusCode, and serviceCategoryCode
    visibilityCodes:
    - internal
  - rule: R8.3
    ruleTitle: 'A self link is included in the /data/links with 1 links item with the following 2 properties: rel=”self” href=”/events-notifications/{domain}/v1/{event-name}/{eventID}”'
    visibilityCodes:
    - internal
  - rule: R6.2
    ruleTitle: An event instance which has been recorded has an event.status.code=complete
    visibilityCodes:
    - internal
  - rule: R2.4
    ruleTitle: If there is no effective date from a business perspective then the effective date should be set equal to the record date time.
    visibilityCodes:
    - internal
  - rule: R8.2
    ruleTitle: An event notification does not include the transform or meta objects.
    visibilityCodes:
    - internal
  - rule: R2.3
    ruleTitle: effectiveDateTime is the date that the event is effective from a business perspective
    visibilityCodes:
    - internal
  - rule: R0.1
    ruleTitle: If request contains ADP-Act-As-OrgOID, ADP-Act-As-AssociateOID and ADP-Acting-SessionID header values, SOR MUST use ADP-Act-As-AssociateOID header value to authorize the data requested, NOT associateoid header value to authorize the data.
    visibilityCodes:
    - internal
  - rule: R1.0
    ruleTitle: event.id is generated once an event is recorded with a event.status.code=complete
    visibilityCodes:
    - internal
  - rule: R5.0
    ruleTitle: Meta returns the context rules for each data section
    visibilityCodes:
    - internal
  - rule: R4.0
    ruleTitle: All envelope data is set by the System of Record (e.g. event.ID, creationDateTime, recordDateTime, event.status.code, etc…
    visibilityCodes:
    - internal
  - rule: R0.3
    ruleTitle: 'For Act-As or On-Behalf-Of requests, header ''Cache-Control: no-store'' MUST be set to indicate on server or on UI the response object SHOULD not be cached'
    visibilityCodes:
    - internal
  - rule: R15.1
    ruleTitle: 'An SOR may return an HTTP 503 when they are down for a scheduled maintenance or for an outage.If an SOR is planning a maintenance window then they should plan on having an end point available to return the 503 with a standard confirmMessage.  The confirmMessage will contain a message stating the date and timeframe that the maintenance window is for.The SOR should return the Retry-After response-header field with the Date and Time when they expect the system to be available.  E.g. §  Retry-After: Fri, 31 Dec 1999 23:59:59 GMT  This does not need to be handled dynamically.  They can set the time that their maintenance window ends.'
    visibilityCodes:
    - internal
  - rule: R2.0
    ruleTitle: creationDateTime is the date that the event is created.  If a System of Record creates the event instance then it sets the creationDateTime.
    visibilityCodes:
    - internal
  - rule: R3.2
    ruleTitle: /data/transform is only used during the recording of the event.  The transform is the data that is provided by a user/machine to complete the recording of the event.
    visibilityCodes:
    - internal
  - rule: R3.1
    ruleTitle: /data/input is optional.  Input communicates data that is needed to complete recording the event instance.  An example is a benefits.enroll event.  The input communicates the benefitOfferings (the choices) that the user has to make which are communicated in the transform.
    visibilityCodes:
    - internal
  - rule: R3.6
    ruleTitle: An event which is being recorded includes the /data/eventContext and the /data/transform during the composition phase (i.e. recording of the event).
    visibilityCodes:
    - internal
  - rule: R3.5
    ruleTitle: A complete event has /data/eventContext and /data/output
    visibilityCodes:
    - internal
  - rule: R0.2
    ruleTitle: If request contains ADP-On-Behalf-Of-OrgOID, ADP-On-Behalf-Of-AssociateOID and ADP-Acting-SessionID header values, SOR MUST use ADP-On-Behalf-Of-AssociateOID header value to authorize the data requested, NOT associateoid header value to authorize the data.
    visibilityCodes:
    - internal
  eventNotifications:
  - eventCode: worker.workAssignment.modify.eventNotify.subscribe
    example:
      href: HR-worker.work-assignment.modify_WFN.json
  - eventCode: worker.terminate.eventNotify.subscribe
    example:
      href: HR-worker.terminate_WFN.json
  - eventCode: corporateGroup.changed.eventNotify.subscribe
    example:
      href: corporateGroup.changed.eventNotify.json
  - eventCode: worker.workAssignment.retire.eventNotify.subscribe
    example:
      href: HR-worker.work-assignment.retire_WFN.json
  - eventCode: worker.workAssignment.homeOrganizationalUnits.modify.eventNotify.subscribe
    example:
      href: HR-worker.work-assignment.home-organizational-units.modify_WFN.json
  - eventCode: worker.workAssignment.homeWorkLocation.change.eventNotify.subscribe
    example:
      href: worker.workAssignment.homeWorkLocation.change-event-response.json
  - eventCode: worker.reportsTo.modify.eventNotify.subscribe
    example:
      href: HR-worker.reports-to.modify_WFN.json
  - eventCode: worker.reportsTo.modify.eventNotify
    example:
      href: HR-worker.reports-to.modify_WFN.json
  testCaseCollection:
    example:
      href: WFN_CG_Work_Assignment_Management.postman_collection.json
    description: Work Assignment Postman
  publicationContext:
    products:
    - productId: hcm-offrg-wfn
      productName: workforce now
      marketplaceProductName: ADP Workforce Now®
  specCategoryCode: ''
