openapi: 3.2.0
info:
  contact:
    name: Mary Arem
    email: MARY.AREM@ADP.COM
  description: The Talent Profile - Certifications Application Programming Interfaces (APIs) support the management of an associate's Certifications.
  title: Associate Certifications Certification Remove API
  version: 2.0.2
  x-apievangelist-source: https://api-library-marketplace.adp.com/hcm-offrg-wfn/talent/associate-certifications/v2/associate-certifications-swagger_v2-merged.json
  x-apievangelist-product: ADP Workforce Now (hcm-offrg-wfn)
  x-apievangelist-resource-path: talent/associate-certifications/v2/associate-certifications
servers:
- url: https://api.adp.com
  description: 'ADP production API gateway (mutual-TLS). Source: https://developers.adp.com/getting-started/key-concepts/access-tokens'
- url: https://api.eu.adp.com
  description: ADP European API gateway
- url: https://uat-api.adp.com
  description: ADP UAT / sandbox gateway
tags:
- name: Certification Remove
  description: Organization certification remove management events.
paths:
  /events/talent/v1/associate.ksaoc.certification.remove:
    x-adpPathData:
      uriTranslationIndicator: false
      featureCode: workerKSAOCManagement
      functionCode: certificationManagement
      serviceCode: workerTalentManagement
      serviceCategoryCode: talent
      canonicalName: Certification Remove
    post:
      summary: Remove Certification
      x-adpOperationData:
        operationStateCode: active
        grantTypes:
        - authorization_code
        - urn:ietf:params:oauth:grant-type:saml2-bearer
        - urn:ietf:params:oauth:grant-type:jwt-bearer
        - client_credential
        asaFeatureCodes:
        - MobileESSWorkerKSAOC
        - MobileMSSWorkerKSAOC
        - MobilePSSWorkerKSAOC
        canonicalUri: talent/workerTalentManagement/workerKSAOCManagement/certificationManagement/certification.remove
        sorRequestTimeoutPolicies:
          cachedTimeout: 3
          notCachedTimeout: 10
        operationCode: certification.remove
        operationId: 7b4667af-06ce-4f8f-a103-591c82d79308
        roleCodes:
        - employee
        - manager
        - practitioner
        performAuthIndicator: true
        scenarios:
        - summary: <span>Removes an associate&#39;s certifications.</span>
          name: Remove an associates data
          responses:
          - headers:
              ADP-Acting-Session-Expires: unset
              Cache-Control: unset
              sm_transactionid: unset
              ETag: unset
              ADP-Acting-SessionID: unset
              Content-Type: unset
            code: '200'
            description: An associate's certification is removed
            content:
              application/json:
                externalValue: ./examples/Remove_an_associates_data_Provide_Example_certification.remove_200_45732.json
          - headers:
              ADP-Acting-Session-Expires: unset
              Cache-Control: unset
              sm_transactionid: unset
              ETag: unset
              ADP-Acting-SessionID: unset
              Content-Type: unset
            code: '400'
            description: 'Bad Request.Removing the certification for an employee with an invalid associateOID.

              "userMessage": {

              "messageTxt": "The Employee record was not found."

              }'
            content:
              application/json:
                externalValue: ./examples/Remove_an_associates_data_Provide_Example_certification.remove_400_45734.json
          - headers:
              ADP-Acting-Session-Expires: unset
              Cache-Control: unset
              sm_transactionid: unset
              ETag: unset
              ADP-Acting-SessionID: unset
              Content-Type: unset
            code: '400'
            description: 'Bad Request.Removing the certification for an employee with an invalid item ID.

              "userMessage": {

              "messageTxt": "itemID is invalid."

              }'
            content:
              application/json:
                externalValue: ./examples/Remove_an_associates_data_Provide_Example_certification.remove_400_45733.json
          description: <span>Removes an associate&#39;s certifications.</span>
          content:
            application/json:
              externalValue: ./examples/Remove_an_associates_data_Provide_Example_certification.remove_request_4277.json
        visibilityCodes:
        - internal
        - external
        globalViewDevPortalIndicator: true
      requestBody:
        description: posted contents
        content:
          application/json:
            schema:
              $ref: ./schemas/events_talent.associate.ksaoc.certification.remove_schema_v01_00_rev006.json
        required: true
      responses:
        '200':
          headers:
            ADP-Acting-Session-Expires:
              schema:
                type: string
              description: Specifies the date and time the representational state of the resource is considered stale in 'Act-As' and act 'On-Behalf-Of' scenarios
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
            sm_transactionid:
              schema:
                type: string
              description: 'SiteMinder transaction ID.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_transactionid: 1aaf14ac-7083-54c0186f-4680c940-82b33ca3'
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
            Cache-Control:
              schema:
                type: string
              description: Specifies directives that must be obeyed by all caching mechanisms along the request/response chain.
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
            ETag:
              schema:
                type: string
              description: Defines the entity tag for use with the If-Match and If-None-Match request headers.
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
            ADP-Acting-SessionID:
              schema:
                type: string
              description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
            Content-Type:
              schema:
                type: string
              description: 'Content-Type'' '': '' type ''/'' subtype. Describes the media type and subtype of an entity-body.'
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
          description: An associate's certification is removed
          content:
            application/json:
              schema:
                $ref: ./schemas/events_talent.associate.ksaoc.certification.remove_schema_v01_00_rev006.json
        '400':
          $ref: '#/components/responses/400'
        '412':
          $ref: '#/components/responses/412'
        '500':
          $ref: '#/components/responses/500'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '503':
          $ref: '#/components/responses/503'
        '504':
          $ref: '#/components/responses/504'
        '405':
          $ref: '#/components/responses/405'
        '406':
          $ref: '#/components/responses/406'
        '429':
          $ref: '#/components/responses/429'
      operationId: 7b4667af-06ce-4f8f-a103-591c82d79308
      description: An associate's certification is removed
      parameters:
      - schema:
          default: ISI
          type: string
        in: header
        name: realm
        description: The identity management realm, e.g. ISI
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Context-ExpressionID
        description: Geopolitical context, typically country, region, e.g. country=CA;subdivision=Quebec
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: sm_transactionid
        description: 'SiteMinder transaction ID.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_transactionid: 1aaf14ac-7083-54c0186f-4680c940-82b33ca3'
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: SORContext
        description: Context within an SOR that the call should be routed to
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: sm_auth_level
        description: 'SiteMinder autorization level.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_auth_level: 10'
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Act-As-OrgOID
        description: Org OID for organization of the associate that is the actor in 'Acting As' as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ConsumerAppOID
        description: Identifier for the service consumer application.  This header is required, if the actor (Service Consumer) is an application or the actor is internal to ADP
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-On-Behalf-Of-OrgOID
        description: Org OID for organization of the associate that is the actor in ' On Behalf Of' as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: en-US
          type: string
        in: header
        name: Accept-Language
        description: 'Accept-Language'' '': '' ( language | ''*'' ) ['';'' ''q'' ''=''qvalue]. Specifies the language(s) that are acceptable for the response. The optional qvalue represents a quality level for acceptable languages.'
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: G4O73G9Z62SL2NFM
          type: string
        in: header
        name: associateoid
        description: Associate OID of the requestor as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-On-Behalf-Of-AssociateOID
        description: Associate OID for the associate that is the actor in ' On Behalf Of' as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: SOR
        description: SOR where the call is routed to - usuall injected by the API proxy, with few exceptions
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          default: ''
          type: string
        in: header
        name: sm_serversessionid
        description: 'SiteMinder session ID.   Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_serversessionid: SoFpy8UMyhtXY6YsEumvXJbznFA='
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Acting-SessionID
        description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: orgoid
        description: Organization OID of the requestor as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          default: employee
          type: string
          enum:
          - employee
          - ' manager'
          - ' practitioner'
          - ' administrator'
          - ' supervisor'
        in: header
        name: roleCode
        description: 'The role the user is playing during the transaction.  Possible values: employee,manager,practitioner,administrator,supervisor.  The roleCode header should be passed in all calls.'
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Consumer-ApplicationID
        description: Identifier of the application sending a request - not intended to be used as a correlation id for messages across systems participating in a collaboration
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: sm_user
        description: 'SiteMinder user ID.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_user: JJohns@Abc'
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: SORUri
        description: Actual Uri within the SOR
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: Authorization
        description: Provides the client's authorization token to access the resource representation at a URI
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Act-As-AssociateOID
        description: Associate OID of the associate that is the actor in 'Acting As' as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: sm_userdn
        description: 'SiteMinder user LDAP distinguished name.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_userdn: uid=JJohns@Abc,ou=Users,o=Abc'
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      tags:
      - Certification Remove
  /events/talent/v1/associate.ksaoc.certification.remove/meta:
    x-adpPathData:
      uriTranslationIndicator: false
      featureCode: workerKSAOCManagement
      functionCode: certificationManagement
      serviceCode: workerTalentManagement
      serviceCategoryCode: talent
      canonicalName: Certification Remove
    get:
      summary: Remove Certification Meta
      x-adpOperationData:
        operationStateCode: active
        grantTypes:
        - authorization_code
        - urn:ietf:params:oauth:grant-type:saml2-bearer
        - urn:ietf:params:oauth:grant-type:jwt-bearer
        - client_credential
        asaFeatureCodes:
        - MobilePSSWorkerKSAOC
        - MobileMSSWorkerKSAOC
        - MobileESSWorkerKSAOC
        canonicalUri: talent/workerTalentManagement/workerKSAOCManagement/certificationManagement/certification.remove
        sorRequestTimeoutPolicies:
          cachedTimeout: 3
          notCachedTimeout: 10
        operationCode: certification.remove
        operationId: 6c435a85-8324-4423-871e-2218f9c92121
        roleCodes:
        - practitioner
        - manager
        - employee
        performAuthIndicator: true
        scenarios:
        - summary: <span>Returns meta information.</span>
          name: Returns meta information.
          responses:
          - headers:
              ADP-Acting-Session-Expires: unset
              Cache-Control: unset
              sm_transactionid: unset
              ETag: unset
              ADP-Acting-SessionID: unset
              Content-Type: unset
            code: '200'
            description: Returns an event metadata
            content:
              application/json:
                externalValue: ./examples/Returns_meta_information._Provide_Example_certification.remove_200_45735.json
          description: <span>Returns meta information.</span>
        visibilityCodes:
        - internal
        - external
        globalViewDevPortalIndicator: true
      responses:
        '200':
          headers:
            ADP-Acting-Session-Expires:
              schema:
                type: string
              description: Specifies the date and time the representational state of the resource is considered stale in 'Act-As' and act 'On-Behalf-Of' scenarios
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
            sm_transactionid:
              schema:
                type: string
              description: 'SiteMinder transaction ID.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_transactionid: 1aaf14ac-7083-54c0186f-4680c940-82b33ca3'
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
            Cache-Control:
              schema:
                type: string
              description: Specifies directives that must be obeyed by all caching mechanisms along the request/response chain.
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
            ETag:
              schema:
                type: string
              description: Defines the entity tag for use with the If-Match and If-None-Match request headers.
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
            ADP-Acting-SessionID:
              schema:
                type: string
              description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
            Content-Type:
              schema:
                type: string
              description: 'Content-Type'' '': '' type ''/'' subtype. Describes the media type and subtype of an entity-body.'
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
          description: Returns an event metadata
          content:
            application/json:
              schema:
                $ref: ./schemas/events_talent.associate.ksaoc.certification.remove_meta_schema_v01_00_rev006.json
        '400':
          $ref: '#/components/responses/400'
        '500':
          $ref: '#/components/responses/500'
        '412':
          $ref: '#/components/responses/412'
        '401':
          $ref: '#/components/responses/401'
        '413':
          $ref: '#/components/responses/413'
        '304':
          $ref: '#/components/responses/304'
        '403':
          $ref: '#/components/responses/403'
        '503':
          $ref: '#/components/responses/503'
        '404':
          $ref: '#/components/responses/404'
        '504':
          $ref: '#/components/responses/504'
        '405':
          $ref: '#/components/responses/405'
        '406':
          $ref: '#/components/responses/406'
        '429':
          $ref: '#/components/responses/429'
      operationId: 6c435a85-8324-4423-871e-2218f9c92121
      description: Returns an event metadata
      parameters:
      - schema:
          default: ISI
          type: string
        in: header
        name: realm
        description: The identity management realm, e.g. ISI
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          default: ''
          type: string
        in: header
        name: sm_transactionid
        description: 'SiteMinder transaction ID.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_transactionid: 1aaf14ac-7083-54c0186f-4680c940-82b33ca3'
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: SORContext
        description: Context within an SOR that the call should be routed to
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: sm_auth_level
        description: 'SiteMinder autorization level.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_auth_level: 10'
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Act-As-OrgOID
        description: Org OID for organization of the associate that is the actor in 'Acting As' as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ConsumerAppOID
        description: Identifier for the service consumer application.  This header is required, if the actor (Service Consumer) is an application or the actor is internal to ADP
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-On-Behalf-Of-OrgOID
        description: Org OID for organization of the associate that is the actor in ' On Behalf Of' as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: en-US
          type: string
        in: header
        name: Accept-Language
        description: 'Accept-Language'' '': '' ( language | ''*'' ) ['';'' ''q'' ''=''qvalue]. Specifies the language(s) that are acceptable for the response. The optional qvalue represents a quality level for acceptable languages.'
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: G4O73G9Z62SL2NFM
          type: string
        in: header
        name: associateoid
        description: Associate OID of the requestor as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-On-Behalf-Of-AssociateOID
        description: Associate OID for the associate that is the actor in ' On Behalf Of' as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Context-ExpressionID
        description: Geopolitical context, typically country, region, e.g. country=CA;subdivision=Quebec
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: SOR
        description: SOR where the call is routed to - usuall injected by the API proxy, with few exceptions
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          default: ''
          type: string
        in: header
        name: Authorization
        description: Provides the client's authorization token to access the resource representation at a URI
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: sm_serversessionid
        description: 'SiteMinder session ID.   Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_serversessionid: SoFpy8UMyhtXY6YsEumvXJbznFA='
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Acting-SessionID
        description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: orgoid
        description: Organization OID of the requestor as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          default: ''
          type: string
        in: query
        name: $filter
        description: The OData $filter parameter MUST be used to specify the filter criterion.  Please refer RESTful Web API Design Standard document for this query parameter specification details.
        x-adpParameterData:
          visibilityCodes:
          - internal
          - external
        required: false
      - schema:
          default: employee
          type: string
          enum:
          - employee
          - ' manager'
          - ' practitioner'
          - ' administrator'
          - ' supervisor'
        in: header
        name: roleCode
        description: 'The role the user is playing during the transaction.  Possible values: employee,manager,practitioner,administrator,supervisor.  The roleCode header should be passed in all calls.'
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          default: ''
          type: string
        in: header
        name: sm_user
        description: 'SiteMinder user ID.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_user: JJohns@Abc'
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Consumer-ApplicationID
        description: Identifier of the application sending a request - not intended to be used as a correlation id for messages across systems participating in a collaboration
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: SORUri
        description: Actual Uri within the SOR
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Act-As-AssociateOID
        description: Associate OID of the associate that is the actor in 'Acting As' as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: sm_userdn
        description: 'SiteMinder user LDAP distinguished name.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_userdn: uid=JJohns@Abc,ou=Users,o=Abc'
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      tags:
      - Certification Remove
components:
  responses:
    '404':
      headers:
        ADP-Acting-Session-Expires:
          schema:
            type: string
          description: Specifies the date and time the representational state of the resource is considered stale in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        sm_transactionid:
          schema:
            type: string
          description: 'SiteMinder transaction ID.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_transactionid: 1aaf14ac-7083-54c0186f-4680c940-82b33ca3'
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Cache-Control:
          schema:
            type: string
          description: Specifies directives that must be obeyed by all caching mechanisms along the request/response chain.
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        ETag:
          schema:
            type: string
          description: Defines the entity tag for use with the If-Match and If-None-Match request headers.
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        ADP-Acting-SessionID:
          schema:
            type: string
          description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Content-Type:
          schema:
            type: string
          description: 'Content-Type'' '': '' type ''/'' subtype. Describes the media type and subtype of an entity-body.'
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
      description: Not Found
      content:
        application/json:
          schema:
            $ref: ../../../common/responses/v1/schemas/confirmMessage_schema_v01_00_rev008.json
    '405':
      headers:
        ADP-Acting-Session-Expires:
          schema:
            type: string
          description: Specifies the date and time the representational state of the resource is considered stale in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        sm_transactionid:
          schema:
            type: string
          description: 'SiteMinder transaction ID.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_transactionid: 1aaf14ac-7083-54c0186f-4680c940-82b33ca3'
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Cache-Control:
          schema:
            type: string
          description: Specifies directives that must be obeyed by all caching mechanisms along the request/response chain.
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        ETag:
          schema:
            type: string
          description: Defines the entity tag for use with the If-Match and If-None-Match request headers.
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        ADP-Acting-SessionID:
          schema:
            type: string
          description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Content-Type:
          schema:
            type: string
          description: 'Content-Type'' '': '' type ''/'' subtype. Describes the media type and subtype of an entity-body.'
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
      description: Method Not Allowed
      content:
        application/json:
          schema:
            $ref: ../../../common/responses/v1/schemas/confirmMessage_schema_v01_00_rev008.json
    '503':
      headers:
        ADP-Acting-Session-Expires:
          schema:
            type: string
          description: Specifies the date and time the representational state of the resource is considered stale in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        sm_transactionid:
          schema:
            type: string
          description: 'SiteMinder transaction ID.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_transactionid: 1aaf14ac-7083-54c0186f-4680c940-82b33ca3'
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Cache-Control:
          schema:
            type: string
          description: Specifies directives that must be obeyed by all caching mechanisms along the request/response chain.
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        ETag:
          schema:
            type: string
          description: Defines the entity tag for use with the If-Match and If-None-Match request headers.
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        ADP-Acting-SessionID:
          schema:
            type: string
          description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Content-Type:
          schema:
            type: string
          description: 'Content-Type'' '': '' type ''/'' subtype. Describes the media type and subtype of an entity-body.'
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
      description: Service Unavailable
      content:
        application/json:
          schema:
            $ref: ../../../common/responses/v1/schemas/confirmMessage_schema_v01_00_rev008.json
    '403':
      headers:
        ADP-Acting-Session-Expires:
          schema:
            type: string
          description: Specifies the date and time the representational state of the resource is considered stale in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        sm_transactionid:
          schema:
            type: string
          description: 'SiteMinder transaction ID.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_transactionid: 1aaf14ac-7083-54c0186f-4680c940-82b33ca3'
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Cache-Control:
          schema:
            type: string
          description: Specifies directives that must be obeyed by all caching mechanisms along the request/response chain.
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        ETag:
          schema:
            type: string
          description: Defines the entity tag for use with the If-Match and If-None-Match request headers.
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        ADP-Acting-SessionID:
          schema:
            type: string
          description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Content-Type:
          schema:
            type: string
          description: 'Content-Type'' '': '' type ''/'' subtype. Describes the media type and subtype of an entity-body.'
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: ../../../common/responses/v1/schemas/confirmMessage_schema_v01_00_rev008.json
    '304':
      headers:
        ADP-Acting-Session-Expires:
          schema:
            type: string
          description: Specifies the date and time the representational state of the resource is considered stale in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        sm_transactionid:
          schema:
            type: string
          description: 'SiteMinder transaction ID.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_transactionid: 1aaf14ac-7083-54c0186f-4680c940-82b33ca3'
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Cache-Control:
          schema:
            type: string
          description: Specifies directives that must be obeyed by all caching mechanisms along the request/response chain.
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        ETag:
          schema:
            type: string
          description: Defines the entity tag for use with the If-Match and If-None-Match request headers.
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        ADP-Acting-SessionID:
          schema:
            type: string
          description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Content-Type:
          schema:
            type: string
          description: 'Content-Type'' '': '' type ''/'' subtype. Describes the media type and subtype of an entity-body.'
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
      description: Not Modified
    '413':
      headers:
        ADP-Acting-Session-Expires:
          schema:
            type: string
          description: Specifies the date and time the representational state of the resource is considered stale in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        sm_transactionid:
          schema:
            type: string
          description: 'SiteMinder transaction ID.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_transactionid: 1aaf14ac-7083-54c0186f-4680c940-82b33ca3'
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Cache-Control:
          schema:
            type: string
          description: Specifies directives that must be obeyed by all caching mechanisms along the request/response chain.
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        ETag:
          schema:
            type: string
          description: Defines the entity tag for use with the If-Match and If-None-Match request headers.
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        ADP-Acting-SessionID:
          schema:
            type: string
          description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Content-Type:
          schema:
            type: string
          description: 'Content-Type'' '': '' type ''/'' subtype. Describes the media type and subtype of an entity-body.'
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
      description: Request Entity Too Large
      content:
        application/json:
          schema:
            $ref: ../../../common/responses/v1/schemas/confirmMessage_schema_v01_00_rev008.json
    '400':
      headers:
        ADP-Acting-Session-Expires:
          schema:
            type: string
          description: Specifies the date and time the representational state of the resource is considered stale in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        sm_transactionid:
          schema:
            type: string
          description: 'SiteMinder transaction ID.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_transactionid: 1aaf14ac-7083-54c0186f-4680c940-82b33ca3'
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Cache-Control:
          schema:
            type: string
          description: Specifies directives that must be obeyed by all caching mechanisms along the request/response chain.
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        ETag:
          schema:
            type: string
          description: Defines the entity tag for use with the If-Match and If-None-Match request headers.
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        ADP-Acting-SessionID:
          schema:
            type: string
          description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Content-Type:
          schema:
            type: string
          description: 'Content-Type'' '': '' type ''/'' subtype. Describes the media type and subtype of an entity-body.'
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: ../../../common/responses/v1/schemas/confirmMessage_schema_v01_00_rev008.json
    '429':
      headers:
        ADP-Acting-Session-Expires:
          schema:
            type: string
          description: Specifies the date and time the representational state of the resource is considered stale in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        sm_transactionid:
          schema:
            type: string
          description: 'SiteMinder transaction ID.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_transactionid: 1aaf14ac-7083-54c0186f-4680c940-82b33ca3'
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Cache-Control:
          schema:
            type: string
          description: Specifies directives that must be obeyed by all caching mechanisms along the request/response chain.
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        ETag:
          schema:
            type: string
          description: Defines the entity tag for use with the If-Match and If-None-Match request headers.
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        ADP-Acting-SessionID:
          schema:
            type: string
          description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Content-Type:
          schema:
            type: string
          description: 'Content-Type'' '': '' type ''/'' subtype. Describes the media type and subtype of an entity-body.'
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
      description: Too Many Requests
      content:
        application/json:
          schema:
            $ref: ../../../common/responses/v1/schemas/confirmMessage_schema_v01_00_rev008.json
    '401':
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: ../../../common/responses/v1/schemas/confirmMessage_schema_v01_00_rev008.json
    '500':
      headers:
        ADP-Acting-Session-Expires:
          schema:
            type: string
          description: Specifies the date and time the representational state of the resource is considered stale in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        sm_transactionid:
          schema:
            type: string
          description: 'SiteMinder transaction ID.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_transactionid: 1aaf14ac-7083-54c0186f-4680c940-82b33ca3'
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Cache-Control:
          schema:
            type: string
          description: Specifies directives that must be obeyed by all caching mechanisms along the request/response chain.
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        ETag:
          schema:
            type: string
          description: Defines the entity tag for use with the If-Match and If-None-Match request headers.
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        ADP-Acting-SessionID:
          schema:
            type: string
          description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Content-Type:
          schema:
            type: string
          description: 'Content-Type'' '': '' type ''/'' subtype. Describes the media type and subtype of an entity-body.'
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: ../../../common/responses/v1/schemas/confirmMessage_schema_v01_00_rev008.json
    '412':
      headers:
        ADP-Acting-Session-Expires:
          schema:
            type: string
          description: Specifies the date and time the representational state of the resource is considered stale in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        sm_transactionid:
          schema:
            type: string
          description: 'SiteMinder transaction ID.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_transactionid: 1aaf14ac-7083-54c0186f-4680c940-82b33ca3'
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Cache-Control:
          schema:
            type: string
          description: Specifies directives that must be obeyed by all caching mechanisms along the request/response chain.
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        ETag:
          schema:
            type: string
          description: Defines the entity tag for use with the If-Match and If-None-Match request headers.
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        ADP-Acting-SessionID:
          schema:
            type: string
          description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Content-Type:
          schema:
            type: string
          description: 'Content-Type'' '': '' type ''/'' subtype. Describes the media type and subtype of an entity-body.'
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
      description: Precondition Failed
      content:
        application/json:
          schema:
            $ref: ../../../common/responses/v1/schemas/confirmMessage_schema_v01_00_rev008.json
    '406':
      headers:
        ADP-Acting-Session-Expires:
          schema:
            type: string
          description: Specifies the date and time the representational state of the resource is considered stale in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        sm_transactionid:
          schema:
            type: string
          description: 'SiteMinder transaction ID.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_transactionid: 1aaf14ac-7083-54c0186f-4680c940-82b33ca3'
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Cache-Control:
          schema:
            type: string
          description: Specifies directives that must be obeyed by all caching mechanisms along the request/response chain.
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        ETag:
          schema:
            type: string
          description: Defines the entity tag for use with the If-Match and If-None-Match request headers.
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        ADP-Acting-SessionID:
          schema:
            type: string
          description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Content-Type:
          schema:
            type: string
          description: 'Content-Type'' '': '' type ''/'' subtype. Describes the media type and subtype of an entity-body.'
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
      description: Not Acceptable
      content:
        application/json:
          schema:
            $ref: ../../../common/responses/v1/schemas/confirmMessage_schema_v01_00_rev008.json
    '504':
      description: Gateway Timeout
      content:
        application/json:
          schema:
            $ref: ../../../common/responses/v1/schemas/confirmMessage_schema_v01_00_rev008.json
x-adpSpecData:
  domain: Talent
  specId: d536518f-d950-4e2e-9ff5-c5ff11b86363
  canonicalSpecId: 78714e51-8b4f-4732-8277-bf8dff8b7922
  specStatusCode: publishing
  specTypeCode: REST
  specStateCode: active
  nonStandardIndicator: false
  visibilityCodes:
  - internal
  - external
  filename: associate-certifications-swagger_v2-merged.json
  serviceProviderId: 'null'
  resourcePath: talent/associate-certifications/v2
  libraryVersion: ''
  businessRules:
  - rule: R2.3
    ruleTitle: effectiveDateTime is the date that the event is effective from a business perspective
    visibilityCodes:
    - internal
  - rule: R8.1
    ruleTitle: An event notification includes the /data/eventContext and /data/output objects.
    visibilityCodes:
    - internal
  - rule: R8.3
    ruleTitle: 'A self link is included in the /data/links with 1 links item with the following 2 properties: rel=”self” href=”/events-notifications/{domain}/v1/{event-name}/{eventID}”'
    visibilityCodes:
    - internal
  - rule: R6.0
    ruleTitle: An event instance may be created by a System of record for a user to complete. This event instance will have a event.status.code=created
    visibilityCodes:
    - internal
  - rule: R1.0
    ruleTitle: event.id is generated once an event is recorded with a event.status.code=complete
    visibilityCodes:
    - internal
  - rule: R5.1
    ruleTitle: The only information that must be valued in the meta for the events header are the standard codelist references for priorityCode, eventStatusCode, and serviceCategoryCode
    visibilityCodes:
    - internal
  - rule: R8.2
    ruleTitle: An event notification does not include the transform or meta objects.
    visibilityCodes:
    - internal
  - rule: R3.2
    ruleTitle: /data/transform is only used during the recording of the event.  The transform is the data that is provided by a user/machine to complete the recording of the event.
    visibilityCodes:
    - internal
  - rule: R11.1
    ruleTitle: '''associateoid'' in the uri pattern should match the ''associateoid'' in the request header parameter'
    visibilityCodes:
    - internal
  - rule: R2.4
    ruleTitle: If there is no effective date from a business perspective then the effective date should be set equal to the record date time.
    visibilityCodes:
    - internal
  - rule: R0.2
    ruleTitle: If request contains ADP-On-Behalf-Of-OrgOID, ADP-On-Behalf-Of-AssociateOID and ADP-Acting-SessionID header values, SOR MUST use ADP-On-Behalf-Of-AssociateOID header value to authorize the data requested, NOT associateoid header value to authorize the data.
    visibilityCodes:
    - internal
  - rule: R2.1
    ruleTitle: If the event is declared by an actor then the creationDateTime is the date time when the first call is made to the System of Record.
    visibilityCodes:
    - internal
  - rule: R2.0
    ruleTitle: creationDateTime is the date that the event is created.  If a System of Record creates the event instance then it sets the creationDateTime.
    visibilityCodes:
    - internal
  - rule: R2.2
    ruleTitle: The recordDateTime is the date time which the event is recorded in the system of record with an event.status.code=complete
    visibilityCodes:
    - internal
  - rule: R0.1
    ruleTitle: If request contains ADP-Act-As-OrgOID, ADP-Act-As-AssociateOID and ADP-Acting-SessionID header values, SOR MUST use ADP-Act-As-AssociateOID header value to authorize the data requested, NOT associateoid header value to authorize the data.
    visibilityCodes:
    - internal
  - rule: R3.6
    ruleTitle: An event which is being recorded includes the /data/eventContext and the /data/transform during the composition phase (i.e. recording of the event).
    visibilityCodes:
    - internal
  - rule: R4.0
    ruleTitle: All envelope data is set by the System of Record (e.g. event.ID, creationDateTime, recordDateTime, event.status.code, etc…
    visibilityCodes:
    - internal
  - rule: R3.1
    ruleTitle: /data/input is optional.  Input communicates data that is needed to complete recording the event instance.  An example is a benefits.enroll event.  The input communicates the benefitOfferings (the choices) that the user has to make which are communicated in the transform.
    visibilityCodes:
    - internal
  - rule: R5.0
    ruleTitle: Meta returns the context rules for each data section
    visibilityCodes:
    - internal
  - rule: R3.0
    ruleTitle: /data/schemaContext communicates the keys and properties that relate the event instance to a concrete concept (e.g. associate).
    visibilityCodes:
    - internal
  - rule: R0.3
    ruleTitle: 'For Act-As or On-Behalf-Of requests, header ''Cache-Control: no-store'' MUST be set to indicate on server or on UI the response object SHOULD not be cached'
    visibilityCodes:
    - internal
  - rule: R3.3
    ruleTitle: /data/output communicates the result of the event instance.
    visibilityCodes:
    - internal
  - rule: R6.1
    ruleTitle: An event instance which is being “worked on” has an event.status.code=inprogress
    visibilityCodes:
    - internal
  - rule: R3.4
    ruleTitle: /data/output may be provided during the recording of the event showing the intermediary results.
    visibilityCodes:
    - internal
  - rule: R15.1
    ruleTitle: 'An SOR may return an HTTP 503 when they are down for a scheduled maintenance or for an outage.If an SOR is planning a maintenance window then they should plan on having an end point available to return the 503 with a standard confirmMessage.  The confirmMessage will contain a message stating the date and timeframe that the maintenance window is for.The SOR should return the Retry-After response-header field with the Date and Time when they expect the system to be available.  E.g. §  Retry-After: Fri, 31 Dec 1999 23:59:59 GMT  This does not need to be handled dynamically.  They can set the time that their maintenance window ends.'
    visibilityCodes:
    - internal
  - rule: R6.2
    ruleTitle: An event instance which has been recorded has an event.status.code=complete
    visibilityCodes:
    - internal
  - rule: R3.5
    ruleTitle: A complete event has /data/eventContext and /data/output
    visibilityCodes:
    - internal
  eventNotifications:
  - eventCode: certification.change.eventNotify.subscribe
    example:
      href: TALENT_associate.ksaoc.certification.change_WFN-CG.json
  - eventCode: certification.add.eventNotify.subscribe
    example:
      href: TALENT_associate.ksaoc.certification.add_WFN-CG.json
  testCaseCollection:
    example:
      href: WFNCG_AssociateCertifications.postman_collection.json
    description: Associate Certifications  postman collection
  publicationContext:
    products:
    - productId: hcm-offrg-wfn
      productName: workforce now
      marketplaceProductName: ADP Workforce Now®
  specCategoryCode: ''
