openapi: 3.0.1
servers:
- url: https://api.adp.com
  description: 'ADP production API gateway (mutual-TLS). Source: https://developers.adp.com/getting-started/key-concepts/access-tokens'
- url: https://api.eu.adp.com
  description: ADP European API gateway
- url: https://uat-api.adp.com
  description: ADP UAT / sandbox gateway
info:
  contact:
    name: Donald Vargo
    email: donny.vargo@adp.com
  description: '<p>The API to retrieve GL related documents.&nbsp;</p><p>Guide: <a href="https://developers.adp.com/guides/api-guides/general-ledger-documents-api-guide-for-marketplace">https://developers.adp.com/guides/api-guides/general-ledger-documents-api-guide-for-marketplace</a></p>'
  title: General Ledger Document Management
  version: 1.0.3
  x-apievangelist-source: https://api-library-marketplace.adp.com/hcm-offrg-wfn/payroll/general-ledger-documents/v1/general-ledger-documents-swagger_v1-merged.json
  x-apievangelist-product: ADP Workforce Now (hcm-offrg-wfn)
  x-apievangelist-resource-path: payroll/general-ledger-documents/v1/general-ledger-documents
x-adpSpecData:
  domain: Payroll
  specId: 6df9ad06-6804-4ad5-b79d-27c2d767c861
  canonicalSpecId: aac51d36-ea60-49ea-b767-fe63b7467bd4
  specStatusCode: publishing
  specTypeCode: REST
  specStateCode: active
  nonStandardIndicator: false
  visibilityCodes:
  - internal
  - external
  filename: general-ledger-documents-swagger_v1-merged.json
  serviceProviderId: 'null'
  resourcePath: payroll/general-ledger-documents/v1
  libraryVersion: ''
  eventNotifications:
  - eventCode: document.add.eventNotify
    example:
      href: General_Ledger.json
  testCaseCollection:
    example:
      href: General_Ledger_API.postman_collection.json
    description: General Ledger
  publicationContext:
    products:
    - productId: hcm-offrg-wfn.next.gen
      productName: workforce now next generation
      marketplaceProductName: ADP Workforce Now® Next Generation
    - productId: hcm-offrg-wfn
      productName: workforce now
      marketplaceProductName: ADP Workforce Now®
  specCategoryCode: ''
tags:
- name: General Ledger Documents
  description: General ledger document mamangement
paths:
  /payroll/v1/general-ledger/documents:
    x-adpPathData:
      uriTranslationIndicator: false
      featureCode: generalLedgerManagement
      functionCode: documentManagement
      serviceCode: payrollManagement
      serviceCategoryCode: payroll
      canonicalName: General Ledger Documents
    get:
      summary: General Ledger Documents
      x-adpOperationData:
        asaFeatureCodes:
        - MobilePSSGeneralLedger
        canonicalUri: payroll/payrollManagement/generalLedgerManagement/documentManagement/document.read
        operationCode: document.read
        roleCodes:
        - practitioner
        scenarios:
        - summary: <span>Actor sees all G/L files available for download.</span>
          name: Retrieve all G/L files available for download
          responses:
          - headers:
              ADP-Acting-Session-Expires: unset
              Cache-Control: unset
              sm_transactionid: unset
              ETag: unset
              ADP-Acting-SessionID: unset
            code: '200'
            description: Returns public recruiting documents
            content:
              application/json:
                externalValue: ./examples/Retrieve_all_G/L_files_available_for_download_Custom_Example_document.read_200_548030.json
          - headers:
              ADP-Acting-Session-Expires: unset
              Cache-Control: unset
              sm_transactionid: unset
              ETag: unset
              ADP-Acting-SessionID: unset
            code: '400'
            description: Bad Request
            content:
              application/json:
                externalValue: ./examples/Retrieve_all_G/L_files_available_for_download_Custom_Example_document.read_400_548031.json
          - code: '401'
            description: bad request
            content:
              application/json:
                externalValue: ./examples/Retrieve_all_G/L_files_available_for_download_Custom_Example_document.read_401_548032.json
          description: <span>Actor sees all G/L files available for download.</span>
        globalViewDevPortalIndicator: false
        operationStateCode: active
        grantTypes:
        - authorization_code
        - urn:ietf:params:oauth:grant-type:saml2-bearer
        - urn:ietf:params:oauth:grant-type:jwt-bearer
        - client_credential
        sorRequestTimeoutPolicies:
          cachedTimeout: 3
          notCachedTimeout: 10
        operationDataAttributeSensitivitylevels:
        - dataSensitivityCategory: NA
          attributeName: /documents/eSignatureSignedBy
          dataSensitivityLevelCode: 2
        operationId: df687442-6c0c-4a5d-ba55-9cf0523cf8d4
        performAuthIndicator: true
        dataSensitivityLevelCode: 2
        visibilityCodes:
        - internal
        - external
      responses:
        '200':
          headers:
            ADP-Acting-Session-Expires:
              schema:
                type: string
              description: Specifies the date and time the representational state of the resource is considered stale in 'Act-As'
                and act 'On-Behalf-Of' scenarios
              x-adpParameterData:
                visibilityCodes:
                - internal
                - external
              required: false
            sm_transactionid:
              schema:
                type: string
              description: 'SiteMinder transaction ID.  Required for requests where conversation was initiated from a service
                consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_transactionid: 1aaf14ac-7083-54c0186f-4680c940-82b33ca3'
              x-adpParameterData:
                visibilityCodes:
                - internal
                - external
              required: false
            Cache-Control:
              schema:
                type: string
              description: Specifies directives that must be obeyed by all caching mechanisms along the request/response chain.
              x-adpParameterData:
                visibilityCodes:
                - internal
                - external
              required: false
            ETag:
              schema:
                type: string
              description: Defines the entity tag for use with the If-Match and If-None-Match request headers.
              x-adpParameterData:
                visibilityCodes:
                - internal
                - external
              required: false
            ADP-Acting-SessionID:
              schema:
                type: string
              description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
              x-adpParameterData:
                visibilityCodes:
                - internal
                - external
              required: false
          description: Returns public recruiting documents
          content:
            application/json:
              schema:
                $ref: ./schemas/documents_schema_v01_00_rev006.json
        '400':
          $ref: '#/components/responses/400'
        '412':
          $ref: '#/components/responses/412'
        '500':
          $ref: '#/components/responses/500'
        '401':
          $ref: '#/components/responses/401'
        '413':
          $ref: '#/components/responses/413'
        '304':
          $ref: '#/components/responses/304'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '503':
          $ref: '#/components/responses/503'
        '405':
          $ref: '#/components/responses/405'
        '406':
          $ref: '#/components/responses/406'
        '429':
          $ref: '#/components/responses/429'
      description: Returns a list of available general ledger documents
      operationId: df687442-6c0c-4a5d-ba55-9cf0523cf8d4
      parameters:
      - schema:
          default: ''
          type: string
        in: header
        name: sm_transactionid
        description: 'SiteMinder transaction ID.  Required for requests where conversation was initiated from a service consumer,
          external to ADP, and that consumer was authenticated by SMS. Example - sm_transactionid: 1aaf14ac-7083-54c0186f-4680c940-82b33ca3'
        x-adpParameterData:
          visibilityCodes:
          - internal
          - external
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: associateoid
        description: Associate OID of the requestor as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
          - external
        required: true
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Consumer-ApplicationID
        description: Identifier of the application sending a request - not intended to be used as a correlation id for messages
          across systems participating in a collaboration
        x-adpParameterData:
          visibilityCodes:
          - internal
          - external
        required: false
      - schema:
          default: employee
          type: string
          enum:
          - employee
          - ' manager'
          - ' practitioner'
          - ' administrator'
          - ' supervisor'
        in: header
        name: roleCode
        description: 'The role the user is playing during the transaction.  Possible values: employee,manager,practitioner,administrator,supervisor.  The
          roleCode header should be passed in all calls.'
        x-adpParameterData:
          visibilityCodes:
          - internal
          - external
        required: true
      - schema:
          default: ''
          type: string
        in: header
        name: sm_serversessionid
        description: 'SiteMinder session ID.   Required for requests where conversation was initiated from a service consumer,
          external to ADP, and that consumer was authenticated by SMS. Example - sm_serversessionid: SoFpy8UMyhtXY6YsEumvXJbznFA='
        x-adpParameterData:
          visibilityCodes:
          - internal
          - external
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: sm_auth_level
        description: 'SiteMinder autorization level.  Required for requests where conversation was initiated from a service
          consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_auth_level: 10'
        x-adpParameterData:
          visibilityCodes:
          - internal
          - external
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Act-As-OrgOID
        description: Org OID for organization of the associate that is the actor in 'Acting As' as provisioned by the ADP
          Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
          - external
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Acting-SessionID
        description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
        x-adpParameterData:
          visibilityCodes:
          - internal
          - external
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Act-As-AssociateOID
        description: Associate OID of the associate that is the actor in 'Acting As' as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
          - external
        required: false
      - schema:
          default: ''
          type: string
        in: query
        name: $filter
        description: The OData $filter parameter MUST be used to specify the filter criterion.  Please refer RESTful Web API
          Design Standard document for this query parameter specification details.
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: Authorization
        description: Provides the client's authorization token to access the resource representation at a URI
        x-adpParameterData:
          visibilityCodes:
          - internal
          - external
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-On-Behalf-Of-OrgOID
        description: Org OID for organization of the associate that is the actor in ' On Behalf Of' as provisioned by the
          ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
          - external
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Context-ExpressionID
        description: Geopolitical context, typically country, region, e.g. country=CA;subdivision=Quebec
        x-adpParameterData:
          visibilityCodes:
          - internal
          - external
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: orgoid
        description: Organization OID of the requestor as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
          - external
        required: true
      - schema:
          default: ''
          type: string
        in: header
        name: sm_user
        description: 'SiteMinder user ID.  Required for requests where conversation was initiated from a service consumer,
          external to ADP, and that consumer was authenticated by SMS. Example - sm_user: JJohns@Abc'
        x-adpParameterData:
          visibilityCodes:
          - internal
          - external
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: sm_userdn
        description: 'SiteMinder user LDAP distinguished name.  Required for requests where conversation was initiated from
          a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_userdn: uid=JJohns@Abc,ou=Users,o=Abc'
        x-adpParameterData:
          visibilityCodes:
          - internal
          - external
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ConsumerAppOID
        description: Identifier for the service consumer application.  This header is required, if the actor (Service Consumer)
          is an application or the actor is internal to ADP
        x-adpParameterData:
          visibilityCodes:
          - internal
          - external
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-On-Behalf-Of-AssociateOID
        description: Associate OID for the associate that is the actor in ' On Behalf Of' as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
          - external
        required: false
      - schema:
          default: ISI
          type: string
        in: header
        name: realm
        description: The identity management realm, e.g. ISI
        x-adpParameterData:
          visibilityCodes:
          - internal
          - external
        required: true
      - schema:
          default: ''
          type: string
        in: header
        name: SOR
        description: SOR where the call is routed to - usuall injected by the API proxy, with few exceptions
        x-adpParameterData:
          visibilityCodes:
          - internal
          - external
        required: true
      - schema:
          default: ''
          type: string
        in: header
        name: SORContext
        description: Context within an SOR that the call should be routed to
        x-adpParameterData:
          visibilityCodes:
          - internal
          - external
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: SORUri
        description: Actual Uri within the SOR
        x-adpParameterData:
          visibilityCodes:
          - internal
          - external
        required: false
      tags:
      - General Ledger Documents
  /payroll/v1/general-ledger/documents/{document-id}:
    x-adpPathData:
      uriTranslationIndicator: false
      featureCode: generalLedgerManagement
      functionCode: documentManagement
      serviceCode: payrollManagement
      serviceCategoryCode: payroll
      canonicalName: General Ledger Documents
    get:
      summary: Download General Ledger Document
      x-adpOperationData:
        operationStateCode: active
        grantTypes:
        - authorization_code
        - urn:ietf:params:oauth:grant-type:saml2-bearer
        - urn:ietf:params:oauth:grant-type:jwt-bearer
        - client_credential
        asaFeatureCodes:
        - MobilePSSGeneralLedger
        sorRequestTimeoutPolicies:
          cachedTimeout: 3
          notCachedTimeout: 10
        canonicalUri: payroll/payrollManagement/generalLedgerManagement/documentManagement/document.read
        operationCode: document.read
        operationId: dd041f41-f507-4371-85d9-11d5fe3702f7
        roleCodes:
        - practitioner
        performAuthIndicator: true
        scenarios:
        - summary: Subscribe to the GL Event Notification created upon successful G/L file creation. In this case the actor
            will receive Document ID that can be utilized to download respective G/L file.
          name: Retrieve single general ledger document
          responses:
          - headers:
              ADP-Acting-Session-Expires: unset
              Cache-Control: unset
              sm_transactionid: unset
              ETag: unset
              ADP-Acting-SessionID: unset
            code: '200'
            description: Returns a single General Ledger document
            content:
              application/pdf:
                externalValue: ./examples/Retrieve_single_general_ledger_document_Custom_Example_document.read_200_548094.json
          description: Subscribe to the GL Event Notification created upon successful G/L file creation. In this case the
            actor will receive Document ID that can be utilized to download respective G/L file.
        visibilityCodes:
        - internal
        - external
        globalViewDevPortalIndicator: false
      responses:
        '200':
          headers:
            ADP-Acting-Session-Expires:
              schema:
                type: string
              description: Specifies the date and time the representational state of the resource is considered stale in 'Act-As'
                and act 'On-Behalf-Of' scenarios
              x-adpParameterData:
                visibilityCodes:
                - internal
                - external
              required: false
            sm_transactionid:
              schema:
                type: string
              description: 'SiteMinder transaction ID.  Required for requests where conversation was initiated from a service
                consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_transactionid: 1aaf14ac-7083-54c0186f-4680c940-82b33ca3'
              x-adpParameterData:
                visibilityCodes:
                - internal
                - external
              required: false
            Cache-Control:
              schema:
                type: string
              description: Specifies directives that must be obeyed by all caching mechanisms along the request/response chain.
              x-adpParameterData:
                visibilityCodes:
                - internal
                - external
              required: false
            ETag:
              schema:
                type: string
              description: Defines the entity tag for use with the If-Match and If-None-Match request headers.
              x-adpParameterData:
                visibilityCodes:
                - internal
                - external
              required: false
            ADP-Acting-SessionID:
              schema:
                type: string
              description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
              x-adpParameterData:
                visibilityCodes:
                - internal
                - external
              required: false
          description: Returns a single public recruiting document
          content:
            application/pdf: {}
        '400':
          $ref: '#/components/responses/400'
        '412':
          $ref: '#/components/responses/412'
        '500':
          $ref: '#/components/responses/500'
        '413':
          $ref: '#/components/responses/413'
        '304':
          $ref: '#/components/responses/304'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '503':
          $ref: '#/components/responses/503'
        '405':
          $ref: '#/components/responses/405'
        '406':
          $ref: '#/components/responses/406'
        '429':
          $ref: '#/components/responses/429'
      description: Returns a single general ledger document
      operationId: dd041f41-f507-4371-85d9-11d5fe3702f7
      parameters:
      - schema:
          default: ''
          type: string
        in: header
        name: sm_transactionid
        description: 'SiteMinder transaction ID.  Required for requests where conversation was initiated from a service consumer,
          external to ADP, and that consumer was authenticated by SMS. Example - sm_transactionid: 1aaf14ac-7083-54c0186f-4680c940-82b33ca3'
        x-adpParameterData:
          visibilityCodes:
          - internal
          - external
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: associateoid
        description: Associate OID of the requestor as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
          - external
        required: true
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Consumer-ApplicationID
        description: Identifier of the application sending a request - not intended to be used as a correlation id for messages
          across systems participating in a collaboration
        x-adpParameterData:
          visibilityCodes:
          - internal
          - external
        required: false
      - schema:
          default: employee
          type: string
          enum:
          - employee
          - ' manager'
          - ' practitioner'
          - ' administrator'
          - ' supervisor'
        in: header
        name: roleCode
        description: 'The role the user is playing during the transaction.  Possible values: employee,manager,practitioner,administrator,supervisor.  The
          roleCode header should be passed in all calls.'
        x-adpParameterData:
          visibilityCodes:
          - internal
          - external
        required: true
      - schema:
          default: ''
          type: string
        in: header
        name: sm_serversessionid
        description: 'SiteMinder session ID.   Required for requests where conversation was initiated from a service consumer,
          external to ADP, and that consumer was authenticated by SMS. Example - sm_serversessionid: SoFpy8UMyhtXY6YsEumvXJbznFA='
        x-adpParameterData:
          visibilityCodes:
          - internal
          - external
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: sm_auth_level
        description: 'SiteMinder autorization level.  Required for requests where conversation was initiated from a service
          consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_auth_level: 10'
        x-adpParameterData:
          visibilityCodes:
          - internal
          - external
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Act-As-OrgOID
        description: Org OID for organization of the associate that is the actor in 'Acting As' as provisioned by the ADP
          Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
          - external
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Acting-SessionID
        description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
        x-adpParameterData:
          visibilityCodes:
          - internal
          - external
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: Accept
        description: 'Accept'' '': '' ( ''*/*'' | (type''/'' ''*'') | (type''/''subtype)) [''; '' ''q'' ''=''qvalue]. Describes
          media type(s) and subtype(s) that are acceptable for the response. The optional qvalue represents an acceptable
          quality level for acceptable types.'
        x-adpParameterData:
          visibilityCodes:
          - internal
          - external
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Act-As-AssociateOID
        description: Associate OID of the associate that is the actor in 'Acting As' as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
          - external
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: Authorization
        description: Provides the client's authorization token to access the resource representation at a URI
        x-adpParameterData:
          visibilityCodes:
          - internal
          - external
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-On-Behalf-Of-OrgOID
        description: Org OID for organization of the associate that is the actor in ' On Behalf Of' as provisioned by the
          ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
          - external
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Context-ExpressionID
        description: Geopolitical context, typically country, region, e.g. country=CA;subdivision=Quebec
        x-adpParameterData:
          visibilityCodes:
          - internal
          - external
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: orgoid
        description: Organization OID of the requestor as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
          - external
        required: true
      - schema:
          default: ''
          type: string
        in: header
        name: sm_user
        description: 'SiteMinder user ID.  Required for requests where conversation was initiated from a service consumer,
          external to ADP, and that consumer was authenticated by SMS. Example - sm_user: JJohns@Abc'
        x-adpParameterData:
          visibilityCodes:
          - internal
          - external
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: sm_userdn
        description: 'SiteMinder user LDAP distinguished name.  Required for requests where conversation was initiated from
          a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_userdn: uid=JJohns@Abc,ou=Users,o=Abc'
        x-adpParameterData:
          visibilityCodes:
          - internal
          - external
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ConsumerAppOID
        description: Identifier for the service consumer application.  This header is required, if the actor (Service Consumer)
          is an application or the actor is internal to ADP
        x-adpParameterData:
          visibilityCodes:
          - internal
          - external
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-On-Behalf-Of-AssociateOID
        description: Associate OID for the associate that is the actor in ' On Behalf Of' as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
          - external
        required: false
      - schema:
          default: ISI
          type: string
        in: header
        name: realm
        description: The identity management realm, e.g. ISI
        x-adpParameterData:
          visibilityCodes:
          - internal
          - external
        required: true
      - schema:
          default: ''
          type: string
        in: header
        name: SOR
        description: SOR where the call is routed to - usuall injected by the API proxy, with few exceptions
        x-adpParameterData:
          visibilityCodes:
          - internal
          - external
        required: true
      - schema:
          default: DOC-123456
          type: string
        in: path
        name: document-id
        description: Document ID
        x-adpParameterData:
          visibilityCodes:
          - internal
          - external
        required: true
      - schema:
          default: ''
          type: string
        in: header
        name: SORContext
        description: Context within an SOR that the call should be routed to
        x-adpParameterData:
          visibilityCodes:
          - internal
          - external
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: SORUri
        description: Actual Uri within the SOR
        x-adpParameterData:
          visibilityCodes:
          - internal
          - external
        required: false
      tags:
      - General Ledger Documents
components:
  responses:
    '400':
      headers:
        ADP-Acting-Session-Expires:
          schema:
            type: string
          description: Specifies the date and time the representational state of the resource is considered stale in 'Act-As'
            and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        sm_transactionid:
          schema:
            type: string
          description: 'SiteMinder transaction ID.  Required for requests where conversation was initiated from a service
            consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_transactionid: 1aaf14ac-7083-54c0186f-4680c940-82b33ca3'
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        Cache-Control:
          schema:
            type: string
          description: Specifies directives that must be obeyed by all caching mechanisms along the request/response chain.
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        ETag:
          schema:
            type: string
          description: Defines the entity tag for use with the If-Match and If-None-Match request headers.
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        ADP-Acting-SessionID:
          schema:
            type: string
          description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: ../../../common/responses/v1/schemas/confirmMessage_schema_v01_00_rev008.json
    '412':
      headers:
        ADP-Acting-Session-Expires:
          schema:
            type: string
          description: Specifies the date and time the representational state of the resource is considered stale in 'Act-As'
            and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        sm_transactionid:
          schema:
            type: string
          description: 'SiteMinder transaction ID.  Required for requests where conversation was initiated from a service
            consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_transactionid: 1aaf14ac-7083-54c0186f-4680c940-82b33ca3'
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        Cache-Control:
          schema:
            type: string
          description: Specifies directives that must be obeyed by all caching mechanisms along the request/response chain.
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        ETag:
          schema:
            type: string
          description: Defines the entity tag for use with the If-Match and If-None-Match request headers.
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        ADP-Acting-SessionID:
          schema:
            type: string
          description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
      description: Precondition Failed
      content:
        application/json:
          schema:
            $ref: ../../../common/responses/v1/schemas/confirmMessage_schema_v01_00_rev008.json
    '500':
      headers:
        ADP-Acting-Session-Expires:
          schema:
            type: string
          description: Specifies the date and time the representational state of the resource is considered stale in 'Act-As'
            and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        sm_transactionid:
          schema:
            type: string
          description: 'SiteMinder transaction ID.  Required for requests where conversation was initiated from a service
            consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_transactionid: 1aaf14ac-7083-54c0186f-4680c940-82b33ca3'
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        Cache-Control:
          schema:
            type: string
          description: Specifies directives that must be obeyed by all caching mechanisms along the request/response chain.
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        ETag:
          schema:
            type: string
          description: Defines the entity tag for use with the If-Match and If-None-Match request headers.
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        ADP-Acting-SessionID:
          schema:
            type: string
          description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: ../../../common/responses/v1/schemas/confirmMessage_schema_v01_00_rev008.json
    '401':
      description: bad request
      content:
        application/json: {}
    '413':
      headers:
        ADP-Acting-Session-Expires:
          schema:
            type: string
          description: Specifies the date and time the representational state of the resource is considered stale in 'Act-As'
            and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        sm_transactionid:
          schema:
            type: string
          description: 'SiteMinder transaction ID.  Required for requests where conversation was initiated from a service
            consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_transactionid: 1aaf14ac-7083-54c0186f-4680c940-82b33ca3'
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        Cache-Control:
          schema:
            type: string
          description: Specifies directives that must be obeyed by all caching mechanisms along the request/response chain.
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        ETag:
          schema:
            type: string
          description: Defines the entity tag for use with the If-Match and If-None-Match request headers.
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        ADP-Acting-SessionID:
          schema:
            type: string
          description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
      description: Request Entity Too Large
      content:
        application/json:
          schema:
            $ref: ../../../common/responses/v1/schemas/confirmMessage_schema_v01_00_rev008.json
    '304':
      headers:
        ADP-Acting-Session-Expires:
          schema:
            type: string
          description: Specifies the date and time the representational state of the resource is considered stale in 'Act-As'
            and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        sm_transactionid:
          schema:
            type: string
          description: 'SiteMinder transaction ID.  Required for requests where conversation was initiated from a service
            consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_transactionid: 1aaf14ac-7083-54c0186f-4680c940-82b33ca3'
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        Cache-Control:
          schema:
            type: string
          description: Specifies directives that must be obeyed by all caching mechanisms along the request/response chain.
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        ETag:
          schema:
            type: string
          description: Defines the entity tag for use with the If-Match and If-None-Match request headers.
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        ADP-Acting-SessionID:
          schema:
            type: string
          description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
      description: Not Modified
    '403':
      headers:
        ADP-Acting-Session-Expires:
          schema:
            type: string
          description: Specifies the date and time the representational state of the resource is considered stale in 'Act-As'
            and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        sm_transactionid:
          schema:
            type: string
          description: 'SiteMinder transaction ID.  Required for requests where conversation was initiated from a service
            consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_transactionid: 1aaf14ac-7083-54c0186f-4680c940-82b33ca3'
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        Cache-Control:
          schema:
            type: string
          description: Specifies directives that must be obeyed by all caching mechanisms along the request/response chain.
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        ETag:
          schema:
            type: string
          description: Defines the entity tag for use with the If-Match and If-None-Match request headers.
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        ADP-Acting-SessionID:
          schema:
            type: string
          description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: ../../../common/responses/v1/schemas/confirmMessage_schema_v01_00_rev008.json
    '404':
      headers:
        ADP-Acting-Session-Expires:
          schema:
            type: string
          description: Specifies the date and time the representational state of the resource is considered stale in 'Act-As'
            and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        sm_transactionid:
          schema:
            type: string
          description: 'SiteMinder transaction ID.  Required for requests where conversation was initiated from a service
            consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_transactionid: 1aaf14ac-7083-54c0186f-4680c940-82b33ca3'
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        Cache-Control:
          schema:
            type: string
          description: Specifies directives that must be obeyed by all caching mechanisms along the request/response chain.
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        ETag:
          schema:
            type: string
          description: Defines the entity tag for use with the If-Match and If-None-Match request headers.
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        ADP-Acting-SessionID:
          schema:
            type: string
          description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
      description: Not Found
      content:
        application/json:
          schema:
            $ref: ../../../common/responses/v1/schemas/confirmMessage_schema_v01_00_rev008.json
    '503':
      headers:
        ADP-Acting-Session-Expires:
          schema:
            type: string
          description: Specifies the date and time the representational state of the resource is considered stale in 'Act-As'
            and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        sm_transactionid:
          schema:
            type: string
          description: 'SiteMinder transaction ID.  Required for requests where conversation was initiated from a service
            consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_transactionid: 1aaf14ac-7083-54c0186f-4680c940-82b33ca3'
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        Cache-Control:
          schema:
            type: string
          description: Specifies directives that must be obeyed by all caching mechanisms along the request/response chain.
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        ETag:
          schema:
            type: string
          description: Defines the entity tag for use with the If-Match and If-None-Match request headers.
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        ADP-Acting-SessionID:
          schema:
            type: string
          description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
      description: Service Unavailable
      content:
        application/json:
          schema:
            $ref: ../../../common/responses/v1/schemas/confirmMessage_schema_v01_00_rev008.json
    '405':
      headers:
        ADP-Acting-Session-Expires:
          schema:
            type: string
          description: Specifies the date and time the representational state of the resource is considered stale in 'Act-As'
            and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        sm_transactionid:
          schema:
            type: string
          description: 'SiteMinder transaction ID.  Required for requests where conversation was initiated from a service
            consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_transactionid: 1aaf14ac-7083-54c0186f-4680c940-82b33ca3'
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        Cache-Control:
          schema:
            type: string
          description: Specifies directives that must be obeyed by all caching mechanisms along the request/response chain.
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        ETag:
          schema:
            type: string
          description: Defines the entity tag for use with the If-Match and If-None-Match request headers.
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        ADP-Acting-SessionID:
          schema:
            type: string
          description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
      description: Method Not Allowed
      content:
        application/json:
          schema:
            $ref: ../../../common/responses/v1/schemas/confirmMessage_schema_v01_00_rev008.json
    '406':
      headers:
        ADP-Acting-Session-Expires:
          schema:
            type: string
          description: Specifies the date and time the representational state of the resource is considered stale in 'Act-As'
            and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        sm_transactionid:
          schema:
            type: string
          description: 'SiteMinder transaction ID.  Required for requests where conversation was initiated from a service
            consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_transactionid: 1aaf14ac-7083-54c0186f-4680c940-82b33ca3'
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        Cache-Control:
          schema:
            type: string
          description: Specifies directives that must be obeyed by all caching mechanisms along the request/response chain.
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        ETag:
          schema:
            type: string
          description: Defines the entity tag for use with the If-Match and If-None-Match request headers.
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        ADP-Acting-SessionID:
          schema:
            type: string
          description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
      description: Not Acceptable
      content:
        application/json:
          schema:
            $ref: ../../../common/responses/v1/schemas/confirmMessage_schema_v01_00_rev008.json
    '429':
      headers:
        ADP-Acting-Session-Expires:
          schema:
            type: string
          description: Specifies the date and time the representational state of the resource is considered stale in 'Act-As'
            and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        sm_transactionid:
          schema:
            type: string
          description: 'SiteMinder transaction ID.  Required for requests where conversation was initiated from a service
            consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_transactionid: 1aaf14ac-7083-54c0186f-4680c940-82b33ca3'
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        Cache-Control:
          schema:
            type: string
          description: Specifies directives that must be obeyed by all caching mechanisms along the request/response chain.
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        ETag:
          schema:
            type: string
          description: Defines the entity tag for use with the If-Match and If-None-Match request headers.
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        ADP-Acting-SessionID:
          schema:
            type: string
          description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
      description: Too Many Requests
      content:
        application/json:
          schema:
            $ref: ../../../common/responses/v1/schemas/confirmMessage_schema_v01_00_rev008.json
