openapi: 3.2.0
info:
  contact:
    name: Donald Vargo
    email: Donald.vargo@gmail.com
  description: Experience APIs to manage the HR Worker Profile implementation by WorkforceNow.
  title: Worker Profile Experience (WFN) Compensation Management API
  version: 1.0.3
  x-apievangelist-source: https://api-library-marketplace.adp.com/hcm-offrg-wfn/hr/hr-worker-profiles/v1/hr-worker-profiles-swagger_v1-merged.json
  x-apievangelist-product: ADP Workforce Now (hcm-offrg-wfn)
  x-apievangelist-resource-path: hr/hr-worker-profiles/v1/hr-worker-profiles
servers:
- url: https://api.adp.com
  description: 'ADP production API gateway (mutual-TLS). Source: https://developers.adp.com/getting-started/key-concepts/access-tokens'
- url: https://api.eu.adp.com
  description: ADP European API gateway
- url: https://uat-api.adp.com
  description: ADP UAT / sandbox gateway
tags:
- name: Compensation Management
  description: Worker compensation data APIs, e.g. pay history, regular and vairiable compensation details
paths:
  /hr/worker-profile/v1/workers/{aoid}/work-assignments/{assignment-id}/base-remuneration:
    x-adpPathData:
      uriTranslationIndicator: false
      featureCode: workerProfileManagement
      functionCode: compensationManagement
      serviceCode: wfnService
      serviceCategoryCode: hr
      canonicalName: Regular Compensation
    put:
      summary: Update base remuneration
      x-adpOperationData:
        asaFeatureCodes:
        - WfnExperienceMSSWorkerProfile
        - WfnExperienceESSWorkerProfile
        - WfnExperiencePSSWorkerProfile
        canonicalUri: hr/wfnService/workerProfileManagement/compensationManagement/baseRemuneration.change
        operationCode: baseRemuneration.change
        roleCodes:
        - manager
        - employee
        - practitioner
        scenarios:
        - summary: <span>Update the Regular pay with</span><strong>&nbsp;&quot;payPeriodRateAmount&quot;(Salary Amount)</strong><span>.</span>
          name: 3. Updating the Regular pay with payPeriodRateAmount(Salary Amount)
          responses:
          - headers:
              ETag: unset
              Content-Language: unset
              Last-Modified: unset
            code: '200'
            description: Successful response of Updating the Regular pay with "payPeriodRateAmount"(Salary Amount).
            content:
              application/json:
                externalValue: ./examples/3._Updating_the_Regular_pay_with_payPeriodRateAmount(Salary_Amount)_Provide_Example_baseRemuneration.change_200_44656.json
          description: <span>Update the Regular pay with</span><strong>&nbsp;&quot;payPeriodRateAmount&quot;(Salary Amount)</strong><span>.</span>
          content:
            application/json:
              externalValue: ./examples/3._Updating_the_Regular_pay_with_payPeriodRateAmount(Salary_Amount)_Provide_Example_baseRemuneration.change_request_3986.json
        - summary: <span>Update the Regular pay with&nbsp;</span><strong>&quot;payCycleCode&quot;</strong><span>&nbsp;as empty.</span>
          name: 5. Update the Regular pay with payCycleCode as empty.
          responses:
          - headers:
              ETag: unset
              Content-Language: unset
              Last-Modified: unset
            code: '200'
            description: Successful response of Update the Regular pay with "payCycleCode" as empty.
            content:
              application/json:
                externalValue: ./examples/5._Update_the_Regular_pay_with_payCycleCode_as_empty._Provide_Example_baseRemuneration.change_200_44658.json
          description: <span>Update the Regular pay with&nbsp;</span><strong>&quot;payCycleCode&quot;</strong><span>&nbsp;as empty.</span>
          content:
            application/json:
              externalValue: ./examples/5._Update_the_Regular_pay_with_payCycleCode_as_empty._Provide_Example_baseRemuneration.change_request_3988.json
        - summary: <span>Update the Regular pay with&nbsp;</span><strong>&quot;wageLawCoverage&quot;(Set the FLSA Overtime=&quot;N&quot; false)</strong><span>.</span>
          name: 7. Updating the Regular pay with wageLawCoverage(Set the FLSA Overtime=N false)
          responses:
          - headers:
              ETag: unset
              Content-Language: unset
              Last-Modified: unset
            code: '200'
            description: Successful response of Update the Regular pay with "wageLawCoverage"(Set the FLSA Overtime="N" false)
            content:
              application/json:
                externalValue: ./examples/7._Updating_the_Regular_pay_with_wageLawCoverage(Set_the_FLSA_Overtime=N_false)_Provide_Example_baseRemuneration.change_200_44694.json
          description: <span>Update the Regular pay with&nbsp;</span><strong>&quot;wageLawCoverage&quot;(Set the FLSA Overtime=&quot;N&quot; false)</strong><span>.</span>
          content:
            application/json:
              externalValue: ./examples/7._Updating_the_Regular_pay_with_wageLawCoverage(Set_the_FLSA_Overtime=N_false)_Provide_Example_baseRemuneration.change_request_4000.json
        - summary: <span>Update the Regular pay with&nbsp;</span><strong>&quot;hourlyRateAmount&quot;</strong><span>.</span></p><p>A worker&#39;s base remuneration is changed.</p><p><strong>NOTE:</strong></p><p>The <strong>{assignment-id}</strong> can be obtained by making hr/v2/workers API call. Use <strong>itemID</strong> under<br><strong>workAssignments</strong> of the API response.
          name: 1. Updating the Regular pay with hourlyRateAmount
          responses:
          - headers:
              ETag: unset
              Content-Language: unset
              Last-Modified: unset
            code: '200'
            description: Successful Response of Update the Regular pay with "hourlyRateAmount".
            content:
              application/json:
                externalValue: ./examples/1._Updating_the_Regular_pay_with_hourlyRateAmount_Provide_Example_baseRemuneration.change_200_44654.json
          - headers:
              Content-Language: unset
              Last-Modified: unset
            code: '400'
            description: 'Update the Regular pay with invalid "hourlyRateAmount".


              "userMessage": { "messageTxt": "Label not found, missing following key: /baseRemuneration/hourlyRateAmount This value must be in the range: -9999999.9999 to 9999999.9999" }'
            content:
              application/json:
                externalValue: ./examples/1._Updating_the_Regular_pay_with_hourlyRateAmount_Provide_Example_baseRemuneration.change_400_44697.json
          description: <span>Update the Regular pay with&nbsp;</span><strong>&quot;hourlyRateAmount&quot;</strong><span>.</span></p><p>A worker&#39;s base remuneration is changed.</p><p><strong>NOTE:</strong></p><p>The <strong>{assignment-id}</strong> can be obtained by making hr/v2/workers API call. Use <strong>itemID</strong> under<br><strong>workAssignments</strong> of the API response.
          content:
            application/json:
              externalValue: ./examples/1._Updating_the_Regular_pay_with_hourlyRateAmount_Provide_Example_baseRemuneration.change_request_3984.json
        - summary: <span>Update the Regular pay with&nbsp;</span><strong>&quot;tippedworkerIndicator&quot;</strong><span>&nbsp;as true.</span>
          name: 9. Update the Regular pay with tippedworkerIndicator as true.
          responses:
          - headers:
              ETag: unset
              Content-Language: unset
              Last-Modified: unset
            code: '200'
            description: Successful response of Update the Regular pay with "tippedworkerIndicator" as true.
            content:
              application/json:
                externalValue: ./examples/9._Update_the_Regular_pay_with_tippedworkerIndicator_as_true._Provide_Example_baseRemuneration.change_200_44696.json
          description: <span>Update the Regular pay with&nbsp;</span><strong>&quot;tippedworkerIndicator&quot;</strong><span>&nbsp;as true.</span>
          content:
            application/json:
              externalValue: ./examples/9._Update_the_Regular_pay_with_tippedworkerIndicator_as_true._Provide_Example_baseRemuneration.change_request_4002.json
        - summary: <span>Update the Regular pay with&nbsp;</span><strong>&quot;standardHours&quot;</strong><span>.</span>
          name: 6. Update the Regular pay with standardHours
          responses:
          - headers:
              ETag: unset
              Content-Language: unset
              Last-Modified: unset
            code: '200'
            description: Successful response of Update the Regular pay with "standardHours".
            content:
              application/json:
                externalValue: ./examples/6._Update_the_Regular_pay_with_standardHours_Provide_Example_baseRemuneration.change_200_44659.json
          description: <span>Update the Regular pay with&nbsp;</span><strong>&quot;standardHours&quot;</strong><span>.</span>
          content:
            application/json:
              externalValue: ./examples/6._Update_the_Regular_pay_with_standardHours_Provide_Example_baseRemuneration.change_request_3989.json
        - summary: <span>Update the Regular pay with&nbsp;</span><strong>&quot;payCycleCode&quot;</strong><span>.</span>
          name: 4. Updating the Regular pay with payCycleCode
          responses:
          - headers:
              ETag: ''
              Content-Language: ''
              Last-Modified: ''
            code: '200'
            description: Successful response of Updating the Regular pay with "payCycleCode"
            content:
              application/json:
                externalValue: ./examples/4._Updating_the_Regular_pay_with_payCycleCode_Provide_Example_baseRemuneration.change_200_44657.json
          description: <span>Update the Regular pay with&nbsp;</span><strong>&quot;payCycleCode&quot;</strong><span>.</span>
          content:
            application/json:
              externalValue: ./examples/4._Updating_the_Regular_pay_with_payCycleCode_Provide_Example_baseRemuneration.change_request_3987.json
        - summary: <span>Update the Regular pay with&nbsp;</span><strong>&quot;dailyRateAmount&quot;</strong>
          name: 2. Updating the Regular pay with dailyRateAmount
          responses:
          - headers:
              ETag: unset
              Content-Language: unset
              Last-Modified: unset
            code: '200'
            description: Successful response of Update the Regular pay with "dailyRateAmount"
            content:
              application/json:
                externalValue: ./examples/2._Updating_the_Regular_pay_with_dailyRateAmount_Provide_Example_baseRemuneration.change_200_44655.json
          description: <span>Update the Regular pay with&nbsp;</span><strong>&quot;dailyRateAmount&quot;</strong>
          content:
            application/json:
              externalValue: ./examples/2._Updating_the_Regular_pay_with_dailyRateAmount_Provide_Example_baseRemuneration.change_request_3985.json
        - summary: <span>Update the Regular pay with&nbsp;</span><strong>&quot;wageLawCoverage&quot;(Set the FLSA Overtime=&quot;E&quot; true)</strong><span>.</span>
          name: 8. Updating the Regular pay with wageLawCoverage(Set the FLSA Overtime=E true)
          responses:
          - headers:
              ETag: unset
              Content-Language: unset
              Last-Modified: unset
            code: '200'
            description: Successful response of Update the Regular pay with "wageLawCoverage"(Set the FLSA Overtime="E" true).
            content:
              application/json:
                externalValue: ./examples/8._Updating_the_Regular_pay_with_wageLawCoverage(Set_the_FLSA_Overtime=E_true)_Provide_Example_baseRemuneration.change_200_44695.json
          description: <span>Update the Regular pay with&nbsp;</span><strong>&quot;wageLawCoverage&quot;(Set the FLSA Overtime=&quot;E&quot; true)</strong><span>.</span>
          content:
            application/json:
              externalValue: ./examples/8._Updating_the_Regular_pay_with_wageLawCoverage(Set_the_FLSA_Overtime=E_true)_Provide_Example_baseRemuneration.change_request_4001.json
        globalViewDevPortalIndicator: true
        operationStateCode: active
        grantTypes:
        - authorization_code
        - urn:ietf:params:oauth:grant-type:saml2-bearer
        - urn:ietf:params:oauth:grant-type:jwt-bearer
        - client_credential
        sorRequestTimeoutPolicies:
          cachedTimeout: 3
          notCachedTimeout: 10
        operationId: a638ee8c-1f38-4d0c-b54c-42f90c14fffd
        performAuthIndicator: true
        dataSensitivityLevelCode: 3
        visibilityCodes:
        - internal
        - external
      requestBody:
        description: Representation of the worker regular compensation, e.g. base remuneration
        required: true
        content:
          application/json:
            schema:
              $ref: ./schemas/worker-compensation-regular-request-schema_v01.json
      responses:
        '200':
          headers:
            ETag:
              schema:
                type: string
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
            Content-Language:
              schema:
                type: string
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
            Last-Modified:
              schema:
                type: string
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
          description: OK
          content:
            application/json:
              schema:
                $ref: ./schemas/worker-compensation-regular-schema_v01.json
        '400':
          $ref: '#/components/responses/400'
        '500':
          $ref: '#/components/responses/500'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '503':
          $ref: '#/components/responses/503'
      description: Operation to update worker's base remuneration, e.g. salary, hourly rate, etc.
      operationId: a638ee8c-1f38-4d0c-b54c-42f90c14fffd
      parameters:
      - schema:
          default: employee
          type: string
          enum:
          - employee
          - ' manager'
          - ' practitioner'
          - ' administrator'
          - ' supervisor'
        in: header
        name: roleCode
        description: 'The role the user is playing during the transaction.  Possible values: employee,manager,practitioner,administrator,supervisor.  The roleCode header will be passed in all calls. When coming from Myself capabilities rolecode=employee. When coming from Team capabilities roleCode=manager. When coming from Practitioner capabilities roleCode=practitioner.'
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          default: ''
          type: string
        in: header
        name: Authorization
        description: Provides the client's authorization token to access the resource representation at a URI
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Consumer-ApplicationID
        description: Identifier of the application sending a request - not intended to be used as a correlation id for messages across systems participating in a collaboration
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: Accept-Language
        description: Accept-Language:language|*;q=qvalue. Specifies the language(s) that are acceptable for the response. The optional qvalue represents a quality level for acceptable languages.
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-CorrelationID
        description: Geopolitical context, typically country, region, e.g. country=CA;subdivision=Quebec
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          type: string
        in: header
        name: orgoid
        description: Organization OID of the requestor as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          type: string
        in: header
        name: associateoid
        description: Associate OID of the requestor as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Context-ExpressionID
        description: Geopolitical context, typically country, region, e.g. country=CA;subdivision=Quebec
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          type: string
        in: path
        name: assignment-id
        description: Unique identifier of a work assignment
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          type: string
        in: path
        name: aoid
        description: Unique worker associate OID as generated by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      tags:
      - Compensation Management
  /hr/worker-profile/v1/workers/{aoid}/work-assignments/{assignment-id}/base-remuneration/meta:
    x-adpPathData:
      uriTranslationIndicator: false
      featureCode: workerProfileManagement
      functionCode: compensationManagement
      serviceCode: wfnService
      serviceCategoryCode: hr
      canonicalName: Worker Profile Experience (WFN)
    get:
      summary: Read base remuneration update metadata
      x-adpOperationData:
        operationStateCode: active
        grantTypes:
        - authorization_code
        - urn:ietf:params:oauth:grant-type:saml2-bearer
        - urn:ietf:params:oauth:grant-type:jwt-bearer
        - client_credential
        asaFeatureCodes:
        - WfnExperienceESSWorkerProfile
        - WfnExperienceMSSWorkerProfile
        - WfnExperiencePSSWorkerProfile
        sorRequestTimeoutPolicies:
          cachedTimeout: 3
          notCachedTimeout: 10
        canonicalUri: hr/wfnService/workerProfileManagement/compensationManagement/baseRemuneration.change.meta.read
        operationCode: baseRemuneration.change.meta.read
        operationId: a4bdb22e-d9ed-4f78-b9cf-74e2ca8ec1fe
        performAuthIndicator: true
        roleCodes:
        - employee
        - manager
        - practitioner
        scenarios:
        - summary: <span>Returns event metadata information.</span>
          name: Returns event metadata
          responses:
          - headers:
              ETag: unset
              Content-Language: unset
              Last-Modified: unset
            code: '200'
            description: meta
            content:
              application/json:
                externalValue: ./examples/Returns_event_metadata_Provide_Example_baseRemuneration.change.meta.read_200_44653.json
          description: <span>Returns event metadata information.</span>
        visibilityCodes:
        - internal
        - external
        globalViewDevPortalIndicator: true
      responses:
        '200':
          headers:
            ETag:
              schema:
                type: string
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
            Content-Language:
              schema:
                type: string
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
            Last-Modified:
              schema:
                type: string
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
          description: OK
          content:
            application/json:
              schema:
                $ref: ./schemas/worker-compensation-regular-meta-schema_v01.json
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
        '403':
          $ref: '#/components/responses/403'
        '503':
          $ref: '#/components/responses/503'
        '404':
          $ref: '#/components/responses/404'
      description: Operation to read worker's base remuneration update metadata
      operationId: a4bdb22e-d9ed-4f78-b9cf-74e2ca8ec1fe
      parameters:
      - schema:
          default: employee
          type: string
          enum:
          - employee
          - ' manager'
          - ' practitioner'
          - ' administrator'
          - ' supervisor'
        in: header
        name: roleCode
        description: 'The role the user is playing during the transaction.  Possible values: employee,manager,practitioner,administrator,supervisor.  The roleCode header will be passed in all calls. When coming from Myself capabilities rolecode=employee. When coming from Team capabilities roleCode=manager. When coming from Practitioner capabilities roleCode=practitioner.'
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          default: ''
          type: string
        in: header
        name: Accept-Language
        description: Accept-Language:language|*;q=qvalue. Specifies the language(s) that are acceptable for the response. The optional qvalue represents a quality level for acceptable languages.
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Consumer-ApplicationID
        description: Identifier of the application sending a request - not intended to be used as a correlation id for messages across systems participating in a collaboration
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          type: string
        in: header
        name: orgoid
        description: Organization OID of the requestor as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Context-ExpressionID
        description: Geopolitical context, typically country, region, e.g. country=CA;subdivision=Quebec
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          type: string
        in: header
        name: associateoid
        description: Associate OID of the requestor as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          default: ''
          type: string
        in: header
        name: Authorization
        description: Provides the client's authorization token to access the resource representation at a URI
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: query
        name: $filter
        description: The OData $filter parameter MUST be used to specify the filter criterion to limit the resultset
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          type: string
        in: path
        name: assignment-id
        description: Unique identifier of a work assignment
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          type: string
        in: path
        name: aoid
        description: Unique worker associate OID as generated by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-CorrelationID
        description: Geopolitical context, typically country, region, e.g. country=CA;subdivision=Quebec
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      tags:
      - Compensation Management
  /hr/worker-profile/v1/workers/{aoid}/work-assignments/{assignment-id}/additional-remunerations:
    x-adpPathData:
      uriTranslationIndicator: false
      featureCode: workerProfileManagement
      functionCode: compensationManagement
      serviceCode: wfnService
      serviceCategoryCode: hr
      canonicalName: Worker Variable Compensation
    post:
      summary: Create worker's additional remunerations
      x-adpOperationData:
        asaFeatureCodes:
        - WfnExperienceMSSWorkerProfile
        - WfnExperienceESSWorkerProfile
        - WfnExperiencePSSWorkerProfile
        canonicalUri: hr/wfnService/workerProfileManagement/compensationManagement/additionalRemunerations.add
        operationCode: additionalRemunerations.add
        roleCodes:
        - manager
        - employee
        - practitioner
        scenarios:
        - summary: <span>Add an additional earning with status as inactive.</span>
          name: 2. Adding an additional earning with status as inactive.
          responses:
          - headers:
              ETag: unset
              Content-Language: unset
              Last-Modified: unset
            code: '200'
            description: Response of Add an additional earning with status as inactive.
            content:
              application/json:
                externalValue: ./examples/2._Adding_an_additional_earning_with_status_as_inactive._Custom_Example_additionalRemunerations.add_200_143200.json
          description: <span>Add an additional earning with status as inactive.</span>
          content:
            application/json:
              externalValue: ./examples/2._Adding_an_additional_earning_with_status_as_inactive._Custom_Example_additionalRemunerations.add_request_12933.json
        - summary: <p>Adds a workers additional earning details</p><p><strong>Note:</strong></p><p>The <strong>{assignment-id}</strong> can be obtained by making hr/v2/workers API call. Use <strong>itemID</strong> under <strong>workAssignments</strong> of the API response.</p>
          name: 1. Adding a workers additional earning details
          responses:
          - headers:
              ETag: unset
              Content-Language: unset
              Last-Modified: unset
            code: '200'
            description: Response of Adding a workers additional earning details
            content:
              application/json:
                externalValue: ./examples/1._Adding_a_workers_additional_earning_details_Custom_Example_additionalRemunerations.add_200_143199.json
          - headers:
              Content-Language: unset
              Last-Modified: unset
            code: '400'
            description: 'Add an additional earning with invalid work assignmentID.

              "userMessage": {

              "messageTxt": "workAssignmentID is invalid."

              }'
            content:
              application/json:
                externalValue: ./examples/1._Adding_a_workers_additional_earning_details_Custom_Example_additionalRemunerations.add_400_143202.json
          - headers:
              Content-Language: unset
              Last-Modified: unset
            code: '500'
            description: 'Add an additional earning with an invalid earning code.


              "userMessage": {

              "messageTxt": "Label not found, missing following key: Exception in the request Additional Earnings unavailable/ inactive for this earning code TES1"

              }'
            content:
              application/json:
                externalValue: ./examples/1._Adding_a_workers_additional_earning_details_Custom_Example_additionalRemunerations.add_500_143201.json
          description: <p>Adds a workers additional earning details</p><p><strong>Note:</strong></p><p>The <strong>{assignment-id}</strong> can be obtained by making hr/v2/workers API call. Use <strong>itemID</strong> under <strong>workAssignments</strong> of the API response.</p>
          content:
            application/json:
              externalValue: ./examples/1._Adding_a_workers_additional_earning_details_Custom_Example_additionalRemunerations.add_request_12932.json
        globalViewDevPortalIndicator: false
        operationStateCode: active
        grantTypes:
        - authorization_code
        - urn:ietf:params:oauth:grant-type:saml2-bearer
        - urn:ietf:params:oauth:grant-type:jwt-bearer
        - client_credential
        sorRequestTimeoutPolicies:
          cachedTimeout: 3
          notCachedTimeout: 10
        operationId: e10cd2d8-c8cb-4cc6-9803-b0f498059457
        performAuthIndicator: true
        dataSensitivityLevelCode: 3
        visibilityCodes:
        - internal
      requestBody:
        description: Representation of the worker viriable compensation, e.g. additional remunerations
        required: true
        content:
          application/json:
            schema:
              $ref: ./schemas/worker-compensation-variable-request-schema_v01.json
      responses:
        '200':
          headers:
            ETag:
              schema:
                type: string
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
            Content-Language:
              schema:
                type: string
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
            Last-Modified:
              schema:
                type: string
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
          description: OK
          content:
            application/json:
              schema:
                $ref: ./schemas/worker-compensation-variable-schema_v01.json
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
        '403':
          $ref: '#/components/responses/403'
        '503':
          $ref: '#/components/responses/503'
        '404':
          $ref: '#/components/responses/404'
      description: Operation to create worker's additional remunerations, e.g. bonus, commission, etc.
      operationId: e10cd2d8-c8cb-4cc6-9803-b0f498059457
      parameters:
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Consumer-ApplicationID
        description: Identifier of the application sending a request - not intended to be used as a correlation id for messages across systems participating in a collaboration
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: employee
          type: string
          enum:
          - employee
          - ' manager'
          - ' practitioner'
          - ' administrator'
          - ' supervisor'
        in: header
        name: roleCode
        description: 'The role the user is playing during the transaction.  Possible values: employee,manager,practitioner,administrator,supervisor.  The roleCode header will be passed in all calls. When coming from Myself capabilities rolecode=employee. When coming from Team capabilities roleCode=manager. When coming from Practitioner capabilities roleCode=practitioner.'
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          default: ''
          type: string
        in: header
        name: Authorization
        description: Provides the client's authorization token to access the resource representation at a URI
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: Accept-Language
        description: Accept-Language:language|*;q=qvalue. Specifies the language(s) that are acceptable for the response. The optional qvalue represents a quality level for acceptable languages.
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-CorrelationID
        description: Geopolitical context, typically country, region, e.g. country=CA;subdivision=Quebec
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          type: string
        in: header
        name: orgoid
        description: Organization OID of the requestor as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          type: string
        in: header
        name: associateoid
        description: Associate OID of the requestor as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Context-ExpressionID
        description: Geopolitical context, typically country, region, e.g. country=CA;subdivision=Quebec
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          type: string
        in: path
        name: assignment-id
        description: Unique identifier of a work assignment
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          type: string
        in: path
        name: aoid
        description: Unique worker associate OID as generated by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      tags:
      - Compensation Management
    get:
      summary: Read worker's additional remunerations
      x-adpOperationData:
        operationStateCode: active
        grantTypes:
        - authorization_code
        - urn:ietf:params:oauth:grant-type:saml2-bearer
        - urn:ietf:params:oauth:grant-type:jwt-bearer
        - client_credential
        asaFeatureCodes:
        - WfnExperiencePSSWorkerProfile
        - WfnExperienceMSSWorkerProfile
        - WfnExperienceESSWorkerProfile
        canonicalUri: hr/wfnService/workerProfileManagement/compensationManagement/additionalRemunerations.read
        operationCode: additionalRemunerations.read
        operationId: 1c7e1eaa-6258-4751-966e-d3f28e49c096
        performAuthIndicator: true
        roleCodes:
        - practitioner
        - manager
        - employee
        scenarios:
        - summary: <p>Retrieves a workers additional earning details</p><p><strong>Note:</strong></p><p>The <strong>{assignment-id}</strong> can be obtained by making hr/v2/workers API call. Use <strong>itemID</strong> under <strong>workAssignments</strong> of the API response.</p>
          name: Retrieves a workers additional earning details
          responses:
          - headers:
              ETag: unset
              Content-Language: unset
              Last-Modified: unset
            code: '200'
            description: Response of a workers additional earning details
            content:
              application/json:
                externalValue: ./examples/Retrieves_a_workers_additional_earning_details_Provide_Example_additionalRemunerations.read_200_94001.json
          - headers:
              Content-Language: unset
              Last-Modified: unset
            code: '400'
            description: 'Retrieve an additional earning for an employee with invalid Associate Object ID (AOID).

              "messageTxt": "associateOID is invalid."'
            content:
              application/json:
                externalValue: ./examples/Retrieves_a_workers_additional_earning_details_Provide_Example_additionalRemunerations.read_400_94003.json
          - headers:
              Content-Language: unset
              Last-Modified: unset
            code: '400'
            description: 'Retrieve an additional earning for an employee with invalid workAssignmentID.

              "messageTxt": "workAssignmentID is invalid."'
            content:
              application/json:
                externalValue: ./examples/Retrieves_a_workers_additional_earning_details_Provide_Example_additionalRemunerations.read_400_94002.json
          description: <p>Retrieves a workers additional earning details</p><p><strong>Note:</strong></p><p>The <strong>{assignment-id}</strong> can be obtained by making hr/v2/workers API call. Use <strong>itemID</strong> under <strong>workAssignments</strong> of the API response.</p>
        dataSensitivityLevelCode: 3
        visibilityCodes:
        - internal
        globalViewDevPortalIndicator: false
      responses:
        '200':
          headers:
            ETag:
              schema:
                type: string
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
            Content-Language:
              schema:
                type: string
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
            Last-Modified:
              schema:
                type: string
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
          description: OK
          content:
            application/json:
              schema:
                $ref: ./schemas/worker-compensation-variable-schema_v01.json
        '400':
          $ref: '#/components/responses/400'
        '500':
          $ref: '#/components/responses/500'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '503':
          $ref: '#/components/responses/503'
      description: Operation to read worker's additional remunerations, e.g. bonus, commission, etc.
      operationId: 1c7e1eaa-6258-4751-966e-d3f28e49c096
      parameters:
      - schema:
          default: employee
          type: string
          enum:
          - employee
          - ' manager'
          - ' practitioner'
          - ' administrator'
          - ' supervisor'
        in: header
        name: roleCode
        description: 'The role the user is playing during the transaction.  Possible values: employee,manager,practitioner,administrator,supervisor.  The roleCode header will be passed in all calls. When coming from Myself capabilities rolecode=employee. When coming from Team capabilities roleCode=manager. When coming from Practitioner capabilities roleCode=practitioner.'
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          default: ''
          type: string
        in: header
        name: Authorization
        description: Provides the client's authorization token to access the resource representation at a URI
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: Accept-Language
        description: Accept-Language:language|*;q=qvalue. Specifies the language(s) that are acceptable for the response. The optional qvalue represents a quality level for acceptable languages.
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Context-ExpressionID
        description: Geopolitical context, typically country, region, e.g. country=CA;subdivision=Quebec
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-CorrelationID
        description: Geopolitical context, typically country, region, e.g. country=CA;subdivision=Quebec
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          type: string
        in: header
        name: orgoid
        description: Organization OID of the requestor as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          type: string
        in: header
        name: associateoid
        description: Associate OID of the requestor as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          default: ''
          type: string
        in: query
        name: $filter
        description: The OData $filter parameter MUST be used to specify the filter criterion to limit the resultset
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          type: string
        in: path
        name: assignment-id
        description: Unique identifier of a work assignment
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          type: string
        in: path
        name: aoid
        description: Unique worker associate OID as generated by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Consumer-ApplicationID
        description: Identifier of the application sending a request - not intended to be used as a correlation id for messages across systems participating in a collaboration
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      tags:
      - Compensation Management
    put:
      summary: Update worker's additional remunerations
      x-adpOperationData:
        asaFeatureCodes:
        - WfnExperiencePSSWorkerProfile
        - WfnExperienceMSSWorkerProfile
        - WfnExperienceESSWorkerProfile
        canonicalUri: hr/wfnService/workerProfileManagement/compensationManagement/additionalRemunerations.change
        operationCode: additionalRemunerations.change
        roleCodes:
        - practitioner
        - manager
        - employee
        scenarios:
        - summary: <span>Update an inactive additional earning to active.</span>
          name: 2. Updating an inactive additional earning to active.
          responses:
          - headers:
              ETag: unset
              Content-Language: unset
              Last-Modified: unset
            code: '200'
            description: Response of Update an inactive additional earning to active.
            content:
              application/json:
                externalValue: ./examples/2._Updating_an_inactive_additional_earning_to_active._Custom_Example_additionalRemunerations.change_200_143204.json
          description: <span>Update an inactive additional earning to active.</span>
          content:
            application/json:
              externalValue: ./examples/2._Updating_an_inactive_additional_earning_to_active._Custom_Example_additionalRemunerations.change_request_12935.json
        - summary: <p>Updates a workers additional earning details</p><p><strong>Note:</strong></p><p>The <strong>{assignment-id}</strong> can be obtained by making hr/v2/workers API call. Use <strong>itemID</strong> under <strong>workAssignments</strong> of the API response</p>
          name: 1. Updating a workers additional earning details
          responses:
          - headers:
              ETag: ''
              Content-Language: ''
              Last-Modified: ''
            code: '200'
            description: 'Response of Updates a workers additional earning details

              "userMessage": { "messageTxt": "Label not found, missing following key: Exception in the request Additional earnings unavailable/ inactive for this earning code :BB" }'
            content:
              application/json:
                externalValue: ./examples/1._Updating_a_workers_additional_earning_details_Custom_Example_additionalRemunerations.change_200_143203.json
          - headers:
              Content-Language: unset
              Last-Modified: unset
            code: '400'
            description: 'Update an additional earning with invalid work assignmentID.

              "userMessage": {

              "messageTxt": "workAssignmentID is invalid."}'
            content:
              application/json:
                externalValue: ./examples/1._Updating_a_workers_additional_earning_details_Custom_Example_additionalRemunerations.change_400_143206.json
          - headers:
              Content-Language: unset
              Last-Modified: unset
            code: '500'
            description: 'Update an additional earning with invalid earning code.

              "userMessage": { "messageTxt": "Label not found, missing following key: Exception in the request Additional earnings unavailable/ inactive for this earning code :BB" }'
            content:
              application/json:
                externalValue: ./examples/1._Updating_a_workers_additional_earning_details_Custom_Example_additionalRemunerations.change_500_143205.json
          description: <p>Updates a workers additional earning details</p><p><strong>Note:</strong></p><p>The <strong>{assignment-id}</strong> can be obtained by making hr/v2/workers API call. Use <strong>itemID</strong> under <strong>workAssignments</strong> of the API response</p>
          content:
            application/json:
              externalValue: ./examples/1._Updating_a_workers_additional_earning_details_Custom_Example_additionalRemunerations.change_request_12934.json
        globalViewDevPortalIndicator: false
        operationStateCode: active
        grantTypes:
        - authorization_code
        - urn:ietf:params:oauth:grant-type:saml2-bearer
        - urn:ietf:params:oauth:grant-type:jwt-bearer
        - client_credential
        sorRequestTimeoutPolicies:
          cachedTimeout: 3
          notCachedTimeout: 10
        operationId: 88505d88-9d17-486e-bcba-b224ff234dce
        performAuthIndicator: true
        dataSensitivityLevelCode: 3
        visibilityCodes:
        - internal
      requestBody:
        description: Representation of the worker viriable compensation, e.g. additional remunerations
        required: true
        content:
          application/json:
            schema:
              $ref: ./schemas/worker-compensation-variable-request-schema_v01.json
      responses:
        '200':
          headers:
            ETag:
              schema:
                type: string
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
            Content-Language:
              schema:
                type: string
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
            Last-Modified:
              schema:
                type: string
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
          description: OK
          content:
            application/json:
              schema:
                $ref: ./schemas/worker-compensation-variable-schema_v01.json
        '400':
          $ref: '#/components/responses/400'
        '500':
          $ref: '#/components/responses/500'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '503':
          $ref: '#/components/responses/503'
        '404':
          $ref: '#/components/responses/404'
      description: Operation to update worker's additional remunerations, e.g. bonus, commission, etc.
      operationId: 88505d88-9d17-486e-bcba-b224ff234dce
      parameters:
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Context-ExpressionID
        description: Geopolitical context, typically country, region, e.g. country=CA;subdivision=Quebec
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-CorrelationID
        description: Geopolitical context, typically country, region, e.g. country=CA;subdivision=Quebec
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: employee
          type: string
          enum:
          - employee
          - ' manager'
          - ' practitioner'
          - ' administrator'
          - ' supervisor'
        in: header
        name: roleCode
        description: 'The role the user is playing during the transaction.  Possible values: employee,manager,practitioner,administrator,supervisor.  The roleCode header will be passed in all calls. When coming from Myself capabilities rolecode=employee. When coming from Team capabilities roleCode=manager. When coming from Practitioner capabilities roleCode=practitioner.'
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          default: ''
          type: string
        in: header
        name: Accept-Language
        description: Accept-Language:language|*;q=qvalue. Specifies the language(s) that are acceptable for the response. The optional qvalue represents a quality level for acceptable languages.
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          type: string
        in: header
        name: orgoid
        description: Organization OID of the requestor as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          type: string
        in: header
        name: associateoid
        description: Associate OID of the requestor as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Consumer-ApplicationID
        description: Identifier of the application sending a request - not intended to be used as a correlation id for messages across systems participating in a collaboration
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          type: string
        in: path
        name: assignment-id
        description: Unique identifier of a work assignment
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          type: string
        in: path
        name: aoid
        description: Unique worker associate OID as generated by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          default: ''
          type: string
        in: header
        name: Authorization
        description: Provides the client's authorization token to access the resource representation at a URI
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      tags:
      - Compensation Management
  /hr/worker-profile/v1/workers/{aoid}/work-assignments/{assignment-id}/reportable-benefits/meta:
    x-adpPathData:
      uriTranslationIndicator: false
      featureCode: workerProfileManagement
      functionCode: compensationManagement
      serviceCode: wfnService
      serviceCategoryCode: hr
      canonicalName: Worker Profile Experience (WFN)
    get:
      summary: Read reportable benefit add/update metadata
      x-adpOperationData:
        operationStateCode: active
        grantTypes:
        - authorization_code
        - urn:ietf:params:oauth:grant-type:saml2-bearer
        - urn:ietf:params:oauth:grant-type:jwt-bearer
        - client_credential
        asaFeatureCodes:
        - WfnExperienceESSWorkerProfile
        - WfnExperiencePSSWorkerProfile
        - WfnExperienceMSSWorkerProfile
        sorRequestTimeoutPolicies:
          cachedTimeout: 3
          notCachedTimeout: 10
        canonicalUri: hr/wfnService/workerProfileManagement/compensationManagement/reportableBenefits.change.meta.read
        operationCode: reportableBenefits.change.meta.read
        operationId: ce62769f-1b88-4b1b-b59a-c5698423df93
        performAuthIndicator: true
        roleCodes:
        - employee
        - practitioner
        - manager
        scenarios:
        - summary: <span>Returns event metadata information.</span>
          name: Returns event metadata information.
          responses:
          - headers:
              ETag: unset
              Content-Language: unset
              Last-Modified: unset
            code: '200'
            description: Returns event metadata information.
            content:
              application/json:
                externalValue: ./examples/Returns_event_metadata_information._Provide_Example_reportableBenefits.change.meta.read_200_47382.json
          description: <span>Returns event metadata information.</span>
        visibilityCodes:
        - internal
        globalViewDevPortalIndicator: false
      responses:
        '200':
          headers:
            ETag:
              schema:
                type: string
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
            Content-Language:
              schema:
                type: string
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
            Last-Modified:
              schema:
                type: string
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
          description: OK
          content:
            application/json:
              schema:
                $ref: ./schemas/worker-compensation-reportable-benefits-meta-schema_v01.json
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
        '403':
          $ref: '#/components/responses/403'
        '503':
          $ref: '#/components/responses/503'
        '404':
          $ref: '#/components/responses/404'
      description: Operation to read meta worker's reportable benefit add/update metadata
      operationId: ce62769f-1b88-4b1b-b59a-c5698423df93
      parameters:
      - schema:
          default: employee
          type: string
          enum:
          - employee
          - ' manager'
          - ' practitioner'
          - ' administrator'
          - ' supervisor'
        in: header
        name: roleCode
        description: 'The role the user is playing during the transaction.  Possible values: employee,manager,practitioner,administrator,supervisor.  The roleCode header will be passed in all calls. When coming from Myself capabilities rolecode=employee. When coming from Team capabilities roleCode=manager. When coming from Practitioner capabilities roleCode=practitioner.'
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          default: ''
          type: string
        in: header
        name: Accept-Language
        description: Accept-Language:language|*;q=qvalue. Specifies the language(s) that are acceptable for the response. The optional qvalue represents a quality level for acceptable languages.
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-CorrelationID
        description: Geopolitical context, typically country, region, e.g. country=CA;subdivision=Quebec
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: Authorization
        description: Provides the client's authorization token to access the resource representation at a URI
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Context-ExpressionID
        description: Geopolitical context, typically country, region, e.g. country=CA;subdivision=Quebec
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          type: string
        in: header
        name: orgoid
        description: Organization OID of the requestor as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          type: string
        in: header
        name: associateoid
        description: Associate OID of the requestor as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Consumer-ApplicationID
        description: Identifier of the application sending a request - not intended to be used as a correlation id for messages across systems participating in a collaboration
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: query
        name: $filter
        description: The OData $filter parameter MUST be used to specify the filter criterion to limit the resultset
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          type: string
        in: path
        name: assignment-id
        description: Unique identifier of a work assignment
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          type: string
        in: path
        name: aoid
        description: Unique worker associate OID as generated by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      tags:
      - Compensation Management
  /hr/worker-profile/v1/workers/{aoid}/work-assignments/{assignment-id}/additional-remunerations/meta:
    x-adpPathData:
      uriTranslationIndicator: false
      featureCode: workerProfileManagement
      functionCode: compensationManagement
      serviceCode: wfnService
      serviceCategoryCode: hr
      canonicalName: Worker Profile Experience (WFN)
    get:
      summary: Read additional remuneration add/update metadata
      x-adpOperationData:
        operationStateCode: active
        grantTypes:
        - authorization_code
        - urn:ietf:params:oauth:grant-type:saml2-bearer
        - urn:ietf:params:oauth:grant-type:jwt-bearer
        - client_credential
        asaFeatureCodes:
        - WfnExperiencePSSWorkerProfile
        - WfnExperienceMSSWorkerProfile
        - WfnExperienceESSWorkerProfile
        sorRequestTimeoutPolicies:
          cachedTimeout: 3
          notCachedTimeout: 10
        canonicalUri: hr/wfnService/workerProfileManagement/compensationManagement/additionalRemunerations.change.meta.read
        operationCode: additionalRemunerations.change.meta.read
        operationId: 7cad475e-59cd-4615-84ca-4189a44b3ee2
        performAuthIndicator: true
        roleCodes:
        - practitioner
        - manager
        - employee
        scenarios:
        - summary: <span>Retrieves the meta information</span>
          name: Retrieving the meta information
          responses:
          - headers:
              ETag: unset
              Content-Language: unset
              Last-Modified: unset
            code: '200'
            description: Retrieves the meta information
            content:
              application/json:
                externalValue: ./examples/Retrieving_the_meta_information_Provide_Example_additionalRemunerations.change.meta.read_200_94004.json
          description: <span>Retrieves the meta information</span>
        visibilityCodes:
        - internal
        globalViewDevPortalIndicator: false
      responses:
        '200':
          headers:
            ETag:
              schema:
                type: string
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
            Content-Language:
              schema:
                type: string
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
            Last-Modified:
              schema:
                type: string
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
          description: OK
          content:
            application/json:
              schema:
                $ref: ./schemas/worker-compensation-variable-meta-schema_v01.json
        '400':
          $ref: '#/components/responses/400'
        '500':
          $ref: '#/components/responses/500'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '503':
          $ref: '#/components/responses/503'
        '404':
          $ref: '#/components/responses/404'
      description: Operation to read worker's additional remuneration add/update metadata
      operationId: 7cad475e-59cd-4615-84ca-4189a44b3ee2
      parameters:
      - schema:
          default: employee
          type: string
          enum:
          - employee
          - ' manager'
          - ' practitioner'
          - ' administrator'
          - ' supervisor'
        in: header
        name: roleCode
        description: 'The role the user is playing during the transaction.  Possible values: employee,manager,practitioner,administrator,supervisor.  The roleCode header will be passed in all calls. When coming from Myself capabilities rolecode=employee. When coming from Team capabilities roleCode=manager. When coming from Practitioner capabilities roleCode=practitioner.'
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          default: ''
          type: string
        in: header
        name: Authorization
        description: Provides the client's authorization token to access the resource representation at a URI
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Consumer-ApplicationID
        description: Identifier of the application sending a request - not intended to be used as a correlation id for messages across systems participating in a collaboration
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: Accept-Language
        description: Accept-Language:language|*;q=qvalue. Specifies the language(s) that are acceptable for the response. The optional qvalue represents a quality level for acceptable languages.
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          type: string
        in: header
        name: orgoid
        description: Organization OID of the requestor as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Context-ExpressionID
        description: Geopolitical context, typically country, region, e.g. country=CA;subdivision=Quebec
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          type: string
        in: header
        name: associateoid
        description: Associate OID of the requestor as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          default: ''
          type: string
        in: query
        name: $filter
        description: The OData $filter parameter MUST be used to specify the filter criterion to limit the resultset
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-CorrelationID
        description: Geopolitical context, typically country, region, e.g. country=CA;subdivision=Quebec
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          type: string
        in: path
        name: assignment-id
        description: Unique identifier of a work assignment
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          type: string
        in: path
        name: aoid
        description: Unique worker associate OID as generated by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      tags:
      - Compensation Management
  /hr/worker-profile/v1/workers/{aoid}/work-assignments/{assignment-id}/reportable-benefits:
    x-adpPathData:
      uriTranslationIndicator: false
      featureCode: workerProfileManagement
      functionCode: compensationManagement
      serviceCode: wfnService
      serviceCategoryCode: hr
      canonicalName: Worker Compensation Reportable Benefits
    post:
      summary: Create worker's reportable benefits
      x-adpOperationData:
        asaFeatureCodes:
        - WfnExperiencePSSWorkerProfile
        - WfnExperienceMSSWorkerProfile
        - WfnExperienceESSWorkerProfile
        canonicalUri: hr/wfnService/workerProfileManagement/compensationManagement/reportableBenefits.add
        operationCode: reportableBenefits.add
        roleCodes:
        - practitioner
        - manager
        - employee
        scenarios:
        - summary: <p>Adds Taxable Benefit details for an employee.</p><p><strong>Note:</strong></p><ul><li>The<strong>&nbsp;{associateoid}&nbsp;</strong>can be obtained by making&nbsp;hr/v2/workers API call.</li><li>The <strong>{assignment-id}</strong> can be obtained by making hr/v2/workers API call.<br>Use <strong>itemID</strong> under <strong>workAssignments</strong> of the API response.</li></ul>
          name: 1. Adding Taxable Benefit in active status for an employee.
          responses:
          - headers:
              ETag: unset
              Content-Language: unset
              Last-Modified: unset
            code: '200'
            description: Response of Adding Taxable Benefit in active status for an employee.
            content:
              application/json:
                externalValue: ./examples/1._Adding_Taxable_Benefit_in_active_status_for_an_employee._Provide_Example_reportableBenefits.add_200_47366.json
          - headers:
              Content-Language: unset
              Last-Modified: unset
            code: '400'
            description: "Bad Request While adding Taxable Benefit with invalid earning code.\n\"userMessage\": {\n                            \"messageTxt\": \" Inactive / Invalid Deduction code for Reportable Benefits : 1234\"\n                        }"
            content:
              application/json:
                externalValue: ./examples/1._Adding_Taxable_Benefit_in_active_status_for_an_employee._Provide_Example_reportableBenefits.add_400_47380.json
          - headers:
              Content-Language: unset
              Last-Modified: unset
            code: '400'
            description: "Bad Request While adding Taxable Benefit without passing earning code.\n\"userMessage\": {\n                            \"messageTxt\": \"Deduction code is required for Reportable Benefits\"\n                        }"
            content:
              application/json:
                externalValue: ./examples/1._Adding_Taxable_Benefit_in_active_status_for_an_employee._Provide_Example_reportableBenefits.add_400_47381.json
          description: <p>Adds Taxable Benefit details for an employee.</p><p><strong>Note:</strong></p><ul><li>The<strong>&nbsp;{associateoid}&nbsp;</strong>can be obtained by making&nbsp;hr/v2/workers API call.</li><li>The <strong>{assignment-id}</strong> can be obtained by making hr/v2/workers API call.<br>Use <strong>itemID</strong> under <strong>workAssignments</strong> of the API response.</li></ul>
          content:
            application/json:
              externalValue: ./examples/1._Adding_Taxable_Benefit_in_active_status_for_an_employee._Provide_Example_reportableBenefits.add_request_4583.json
        - summary: <span>Adds a Taxable Benefit in inactive status for an employee.</span>
          name: 2. Adding a Taxable Benefit in inactive status for an employee.
          responses:
          - headers:
              ETag: unset
              Content-Language: unset
              Last-Modified: unset
            code: '200'
            description: Response of Adds a Taxable Benefit in inactive status for an employee.
            content:
              application/json:
                externalValue: ./examples/2._Adding_a_Taxable_Benefit_in_inactive_status_for_an_employee._Provide_Example_reportableBenefits.add_200_47370.json
          description: <span>Adds a Taxable Benefit in inactive status for an employee.</span>
          content:
            application/json:
              externalValue: ./examples/2._Adding_a_Taxable_Benefit_in_inactive_status_for_an_employee._Provide_Example_reportableBenefits.add_request_4584.json
        globalViewDevPortalIndicator: false
        operationStateCode: active
        grantTypes:
        - authorization_code
        - urn:ietf:params:oauth:grant-type:saml2-bearer
        - urn:ietf:params:oauth:grant-type:jwt-bearer
        - client_credential
        sorRequestTimeoutPolicies:
          cachedTimeout: 3
          notCachedTimeout: 10
        operationId: 9f87f9fe-b071-4110-848a-651ba9abf56a
        performAuthIndicator: true
        dataSensitivityLevelCode: 2
        visibilityCodes:
        - internal
      requestBody:
        description: Representation of the worker's tax taxable benefits and allowances, e.g. auto, cellular , etc.
        required: true
        content:
          application/json:
            schema:
              $ref: ./schemas/worker-compensation-reportable-benefits-request-schema_v01.json
      responses:
        '200':
          headers:
            ETag:
              schema:
                type: string
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
            Content-Language:
              schema:
                type: string
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
            Last-Modified:
              schema:
                type: string
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
          description: OK
          content:
            application/json:
              schema:
                $ref: ./schemas/worker-compensation-reportable-benefits-schema_v01.json
        '400':
          $ref: '#/components/responses/400'
        '500':
          $ref: '#/components/responses/500'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '503':
          $ref: '#/components/responses/503'
        '404':
          $ref: '#/components/responses/404'
      description: Operation to add worker's tax taxable benefits and allowances, e.g. auto, cellular , etc.
      operationId: 9f87f9fe-b071-4110-848a-651ba9abf56a
      parameters:
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Context-ExpressionID
        description: Geopolitical context, typically country, region, e.g. country=CA;subdivision=Quebec
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: employee
          type: string
          enum:
          - employee
          - ' manager'
          - ' practitioner'
          - ' administrator'
          - ' supervisor'
        in: header
        name: roleCode
        description: 'The role the user is playing during the transaction.  Possible values: employee,manager,practitioner,administrator,supervisor.  The roleCode header will be passed in all calls. When coming from Myself capabilities rolecode=employee. When coming from Team capabilities roleCode=manager. When coming from Practitioner capabilities roleCode=practitioner.'
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-CorrelationID
        description: Geopolitical context, typically country, region, e.g. country=CA;subdivision=Quebec
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: Accept-Language
        description: Accept-Language:language|*;q=qvalue. Specifies the language(s) that are acceptable for the response. The optional qvalue represents a quality level for acceptable languages.
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: Authorization
        description: Provides the client's authorization token to access the resource representation at a URI
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Consumer-ApplicationID
        description: Identifier of the application sending a request - not intended to be used as a correlation id for messages across systems participating in a collaboration
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          type: string
        in: header
        name: orgoid
        description: Organization OID of the requestor as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          type: string
        in: header
        name: associateoid
        description: Associate OID of the requestor as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          type: string
        in: path
        name: assignment-id
        description: Unique identifier of a work assignment
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          type: string
        in: path
        name: aoid
        description: Unique worker associate OID as generated by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      tags:
      - Compensation Management
    get:
      summary: Read worker's reportable benefits
      x-adpOperationData:
        operationStateCode: active
        grantTypes:
        - authorization_code
        - urn:ietf:params:oauth:grant-type:saml2-bearer
        - urn:ietf:params:oauth:grant-type:jwt-bearer
        - client_credential
        asaFeatureCodes:
        - WfnExperiencePSSWorkerProfile
        - WfnExperienceMSSWorkerProfile
        - WfnExperienceESSWorkerProfile
        canonicalUri: hr/wfnService/workerProfileManagement/compensationManagement/reportableBenefits.read
        operationCode: reportableBenefits.read
        operationId: 959c1e5a-fce1-4233-b3f0-0ab65529606a
        performAuthIndicator: true
        roleCodes:
        - practitioner
        - manager
        - employee
        scenarios:
        - summary: <span>Successful response when future effective date is passed as filter parameter</span>
          name: 3. Successful response when future effective date is passed as filter parameter
          responses:
          - headers:
              ETag: unset
              Content-Language: unset
              Last-Modified: unset
            code: '200'
            description: Successful response when future effective date is passed as filter parameter
            content:
              application/json:
                externalValue: ./examples/3._Successful_response_when_future_effective_date_is_passed_as_filter_parameter_Provide_Example_reportableBenefits.read_200_45859.json
          description: <span>Successful response when future effective date is passed as filter parameter</span>
        - summary: <span>Successful response when the past effective date is passed as filter parameter.</span>
          name: 2. Successful response when the past effective date is passed as filter parameter.
          responses:
          - headers:
              ETag: unset
              Content-Language: unset
              Last-Modified: unset
            code: '200'
            description: Successful response when the past effective date is passed as filter parameter.
            content:
              application/json:
                externalValue: ./examples/2._Successful_response_when_the_past_effective_date_is_passed_as_filter_parameter._Provide_Example_reportableBenefits.read_200_45858.json
          description: <span>Successful response when the past effective date is passed as filter parameter.</span>
        - summary: <p>Retrieves all the taxable benefits assigned to the employee for current pay period.</p><p><strong>Note:</strong></p><ul><li><strong>{associateoid}&nbsp;</strong>can be obtained by making&nbsp;hr/v2/workers API call.</li><li><strong>{assignment-id}</strong> can be obtained by making hr/v2/workers API call.<br>Use <strong>itemID</strong> under <strong>workAssignments</strong> of the API response.</li></ul>
          name: 1. Retrieves all the taxable benefits successfully, without passing the effective date.
          responses:
          - headers:
              ETag: unset
              Content-Language: unset
              Last-Modified: unset
            code: '200'
            description: Retrieves all the taxable benefits successfully, without passing the effective date.
            content:
              application/json:
                externalValue: ./examples/1._Retrieves_all_the_taxable_benefits_successfully,_without_passing_the_effective_date._Provide_Example_reportableBenefits.read_200_45855.json
          - headers:
              Content-Language: unset
              Last-Modified: unset
            code: '400'
            description: "When the workAssignmentID is invalid. \n\"userMessage\": {\n                            \"messageTxt\": \"workAssignmentID is invalid.\"\n                        }"
            content:
              application/json:
                externalValue: ./examples/1._Retrieves_all_the_taxable_benefits_successfully,_without_passing_the_effective_date._Provide_Example_reportableBenefits.read_400_45857.json
          - headers:
              Content-Language: unset
              Last-Modified: unset
            code: '400'
            description: "When the Associate Object ID (AOID) is invalid.\n\"userMessage\": {\n                            \"messageTxt\": \"associateOID is invalid.\"\n                        }"
            content:
              application/json:
                externalValue: ./examples/1._Retrieves_all_the_taxable_benefits_successfully,_without_passing_the_effective_date._Provide_Example_reportableBenefits.read_400_45856.json
          description: <p>Retrieves all the taxable benefits assigned to the employee for current pay period.</p><p><strong>Note:</strong></p><ul><li><strong>{associateoid}&nbsp;</strong>can be obtained by making&nbsp;hr/v2/workers API call.</li><li><strong>{assignment-id}</strong> can be obtained by making hr/v2/workers API call.<br>Use <strong>itemID</strong> under <strong>workAssignments</strong> of the API response.</li></ul>
        dataSensitivityLevelCode: 2
        visibilityCodes:
        - internal
        globalViewDevPortalIndicator: false
      responses:
        '200':
          headers:
            ETag:
              schema:
                type: string
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
            Content-Language:
              schema:
                type: string
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
            Last-Modified:
              schema:
                type: string
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
          description: OK
          content:
            application/json:
              schema:
                $ref: ./schemas/worker-compensation-reportable-benefits-schema_v01.json
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '503':
          $ref: '#/components/responses/503'
      description: Operation to read worker's tax taxable benefits and allowances, e.g. auto, cellular , etc.
      operationId: 959c1e5a-fce1-4233-b3f0-0ab65529606a
      parameters:
      - schema:
          default: employee
          type: string
          enum:
          - employee
          - ' manager'
          - ' practitioner'
          - ' administrator'
          - ' supervisor'
        in: header
        name: roleCode
        description: 'The role the user is playing during the transaction.  Possible values: employee,manager,practitioner,administrator,supervisor.  The roleCode header will be passed in all calls. When coming from Myself capabilities rolecode=employee. When coming from Team capabilities roleCode=manager. When coming from Practitioner capabilities roleCode=practitioner.'
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          default: ''
          type: string
        in: header
        name: Accept-Language
        description: Accept-Language:language|*;q=qvalue. Specifies the language(s) that are acceptable for the response. The optional qvalue represents a quality level for acceptable languages.
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Consumer-ApplicationID
        description: Identifier of the application sending a request - not intended to be used as a correlation id for messages across systems participating in a collaboration
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          type: string
        in: header
        name: orgoid
        description: Organization OID of the requestor as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          default: ''
          type: string
        in: header
        name: Authorization
        description: Provides the client's authorization token to access the resource representation at a URI
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          type: string
        in: header
        name: associateoid
        description: Associate OID of the requestor as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-CorrelationID
        description: Geopolitical context, typically country, region, e.g. country=CA;subdivision=Quebec
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: query
        name: $filter
        description: The OData $filter parameter MUST be used to specify the filter criterion to limit the resultset
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Context-ExpressionID
        description: Geopolitical context, typically country, region, e.g. country=CA;subdivision=Quebec
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          type: string
        in: path
        name: assignment-id
        description: Unique identifier of a work assignment
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          type: string
        in: path
        name: aoid
        description: Unique worker associate OID as generated by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      tags:
      - Compensation Management
    put:
      summary: Update worker's reportable benefits
      x-adpOperationData:
        asaFeatureCodes:
        - WfnExperienceESSWorkerProfile
        - WfnExperiencePSSWorkerProfile
        - WfnExperienceMSSWorkerProfile
        canonicalUri: hr/wfnService/workerProfileManagement/compensationManagement/reportableBenefits.change
        operationCode: reportableBenefits.change
        roleCodes:
        - employee
        - practitioner
        - manager
        scenarios:
        - summary: <p>Adds an employee&#39;s Taxable Benefits details.</p><p><strong>Note:</strong></p><ul><li><strong>{associateoid}&nbsp;</strong>can be obtained by making&nbsp;hr/v2/workers API call.</li><li><strong>{assignment-id}</strong> can be obtained by making hr/v2/workers API call.<br>Use <strong>itemID</strong> under <strong>workAssignments</strong> of the API response.</li></ul>
          name: 1. Updates a Taxable Benefit for an employee
          responses:
          - headers:
              ETag: unset
              Content-Language: unset
              Last-Modified: unset
            code: '200'
            description: Response of Updating a Taxable Benefit for an employee
            content:
              application/json:
                externalValue: ./examples/1._Updates_a_Taxable_Benefit_for_an_employee_Provide_Example_reportableBenefits.change_200_47383.json
          - headers:
              Content-Language: unset
              Last-Modified: unset
            code: '400'
            description: "Bad Request While updating Taxable Benefit with invalid earning code.\n\"userMessage\": {\n                            \"messageTxt\": \" Inactive / Invalid Deduction code for Reportable Benefits : 1234\"\n                        }"
            content:
              application/json:
                externalValue: ./examples/1._Updates_a_Taxable_Benefit_for_an_employee_Provide_Example_reportableBenefits.change_400_47385.json
          - headers:
              Content-Language: unset
              Last-Modified: unset
            code: '400'
            description: "Bad Request While updating Taxable Benefit without passing earning code.\n\"userMessage\": {\n                            \"messageTxt\": \" Deduction code is required for Reportable Benefits \"\n                        }"
            content:
              application/json:
                externalValue: ./examples/1._Updates_a_Taxable_Benefit_for_an_employee_Provide_Example_reportableBenefits.change_400_47386.json
          description: <p>Adds an employee&#39;s Taxable Benefits details.</p><p><strong>Note:</strong></p><ul><li><strong>{associateoid}&nbsp;</strong>can be obtained by making&nbsp;hr/v2/workers API call.</li><li><strong>{assignment-id}</strong> can be obtained by making hr/v2/workers API call.<br>Use <strong>itemID</strong> under <strong>workAssignments</strong> of the API response.</li></ul>
          content:
            application/json:
              externalValue: ./examples/1._Updates_a_Taxable_Benefit_for_an_employee_Provide_Example_reportableBenefits.change_request_4585.json
        - summary: <span>Updates the status of Taxable benefit from active to inactive</span>
          name: 2. Updating the status of Taxable benefit from active to inactive
          responses:
          - headers:
              ETag: unset
              Content-Language: unset
              Last-Modified: unset
            code: '200'
            description: Response of Updating the status of Taxable benefit from active to inactive
            content:
              application/json:
                externalValue: ./examples/2._Updating_the_status_of_Taxable_benefit_from_active_to_inactive_Provide_Example_reportableBenefits.change_200_47384.json
          description: <span>Updates the status of Taxable benefit from active to inactive</span>
          content:
            application/json:
              externalValue: ./examples/2._Updating_the_status_of_Taxable_benefit_from_active_to_inactive_Provide_Example_reportableBenefits.change_request_4586.json
        globalViewDevPortalIndicator: false
        operationStateCode: active
        grantTypes:
        - authorization_code
        - urn:ietf:params:oauth:grant-type:saml2-bearer
        - urn:ietf:params:oauth:grant-type:jwt-bearer
        - client_credential
        sorRequestTimeoutPolicies:
          cachedTimeout: 3
          notCachedTimeout: 10
        operationId: 3458a21c-aa66-4f38-9445-822bb83c08a3
        performAuthIndicator: true
        dataSensitivityLevelCode: 2
        visibilityCodes:
        - internal
      requestBody:
        description: Representation of the worker's tax taxable benefits and allowances, e.g. auto, cellular , etc.
        required: true
        content:
          application/json:
            schema:
              $ref: ./schemas/worker-compensation-reportable-benefits-request-schema_v01.json
      responses:
        '200':
          headers:
            ETag:
              schema:
                type: string
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
            Content-Language:
              schema:
                type: string
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
            Last-Modified:
              schema:
                type: string
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
          description: OK
          content:
            application/json:
              schema:
                $ref: ./schemas/worker-compensation-reportable-benefits-schema_v01.json
        '400':
          $ref: '#/components/responses/400'
        '500':
          $ref: '#/components/responses/500'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '503':
          $ref: '#/components/responses/503'
      description: Operation to update worker's tax taxable benefits and allowances, e.g. auto, cellular , etc.
      operationId: 3458a21c-aa66-4f38-9445-822bb83c08a3
      parameters:
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-CorrelationID
        description: Geopolitical context, typically country, region, e.g. country=CA;subdivision=Quebec
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: employee
          type: string
          enum:
          - employee
          - ' manager'
          - ' practitioner'
          - ' administrator'
          - ' supervisor'
        in: header
        name: roleCode
        description: 'The role the user is playing during the transaction.  Possible values: employee,manager,practitioner,administrator,supervisor.  The roleCode header will be passed in all calls. When coming from Myself capabilities rolecode=employee. When coming from Team capabilities roleCode=manager. When coming from Practitioner capabilities roleCode=practitioner.'
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          default: ''
          type: string
        in: header
        name: Accept-Language
        description: Accept-Language:language|*;q=qvalue. Specifies the language(s) that are acceptable for the response. The optional qvalue represents a quality level for acceptable languages.
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Context-ExpressionID
        description: Geopolitical context, typically country, region, e.g. country=CA;subdivision=Quebec
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Consumer-ApplicationID
        description: Identifier of the application sending a request - not intended to be used as a correlation id for messages across systems participating in a collaboration
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: Authorization
        description: Provides the client's authorization token to access the resource representation at a URI
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          type: string
        in: header
        name: orgoid
        description: Organization OID of the requestor as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          type: string
        in: header
        name: associateoid
        description: Associate OID of the requestor as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          type: string
        in: path
        name: assignment-id
        description: Unique identifier of a work assignment
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          type: string
        in: path
        name: aoid
        description: Unique worker associate OID as generated by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      tags:
      - Compensation Management
components:
  responses:
    '404':
      headers:
        Content-Language:
          schema:
            type: string
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Last-Modified:
          schema:
            type: string
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
      description: Not Found
      content:
        application/json:
          schema:
            $ref: ../../../common/shared/confirm-message-schema_v01.json
    '403':
      headers:
        Content-Language:
          schema:
            type: string
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Last-Modified:
          schema:
            type: string
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: ../../../common/shared/confirm-message-schema_v01.json
    '503':
      headers:
        Content-Language:
          schema:
            type: string
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Last-Modified:
          schema:
            type: string
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
      description: Service Unavailable
      content:
        application/json:
          schema:
            $ref: ../../../common/shared/confirm-message-schema_v01.json
    '401':
      headers:
        Content-Language:
          schema:
            type: string
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
[...]
