openapi: 3.2.0
info:
  contact:
    name: James Kontos
    email: jameskontos@gmail.com
  description: 'The Deduction Application Programming Interfaces (APIs) are used to do the following:


    Start, stop or change the payroll deduction setup for a worker.


    View all deduction instructions of a worker.


    Retrieve and send employee deductions to ADP (commonly used by Benefits Solutions).


    For more information see Deduction Instruction API Guide for ADP Workforce Now'
  title: Worker Payroll Instructions API
  version: 1.0.4
  x-apievangelist-source: https://api-library-marketplace.adp.com/hcm-offrg-wfn/payroll/worker-payroll-instructions/v1/worker-payroll-instructions-swagger_v1-merged.json
  x-apievangelist-product: ADP Workforce Now (hcm-offrg-wfn)
  x-apievangelist-resource-path: payroll/worker-payroll-instructions/v1/worker-payroll-instructions
servers:
- url: https://api.adp.com
  description: 'ADP production API gateway (mutual-TLS). Source: https://developers.adp.com/getting-started/key-concepts/access-tokens'
- url: https://api.eu.adp.com
  description: ADP European API gateway
- url: https://uat-api.adp.com
  description: ADP UAT / sandbox gateway
tags:
- name: Worker Payroll Instructions
  description: List all payroll instructions
paths:
  /payroll/v1/workers/{aoid}/payroll-instructions/{payroll-instruction-id}:
    x-adpPathData:
      uriTranslationIndicator: false
      featureCode: payrollInstructionManagement
      functionCode: workerPayrollInstructionManagement
      serviceCode: payrollManagement
      serviceCategoryCode: payroll
      canonicalName: Worker Payroll Instructions
    get:
      summary: Worker Payroll Instruction Instance
      x-adpOperationData:
        operationStateCode: active
        grantTypes:
        - authorization_code
        - urn:ietf:params:oauth:grant-type:saml2-bearer
        - urn:ietf:params:oauth:grant-type:jwt-bearer
        - client_credential
        asaFeatureCodes:
        - MobileMSSPayrollInstruction
        - MobileESSPayrollInstruction
        - MobilePSSPayrollInstruction
        canonicalUri: payroll/payrollManagement/payrollInstructionManagement/workerPayrollInstructionManagement/workerPayrollInstructions.read
        sorRequestTimeoutPolicies:
          cachedTimeout: 3
          notCachedTimeout: 10
        operationCode: workerPayrollInstructions.read
        operationId: 16833646-8273-4837-8110-5cea3793b8ef
        roleCodes:
        - manager
        - employee
        - practitioner
        performAuthIndicator: true
        visibilityCodes:
        - internal
        - external
        globalViewDevPortalIndicator: false
      responses:
        '200':
          headers:
            ADP-Acting-Session-Expires:
              schema:
                type: string
              description: Specifies the date and time the representational state of the resource is considered stale in 'Act-As' and act 'On-Behalf-Of' scenarios
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
            sm_transactionid:
              schema:
                type: string
              description: 'SiteMinder transaction ID.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_transactionid: 1aaf14ac-7083-54c0186f-4680c940-82b33ca3'
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
            Cache-Control:
              schema:
                type: string
              description: Specifies directives that must be obeyed by all caching mechanisms along the request/response chain.
              x-adpParameterData:
                visibilityCodes:
                - internal
                - external
              required: false
            ETag:
              schema:
                type: string
              description: Defines the entity tag for use with the If-Match and If-None-Match request headers.
              x-adpParameterData:
                visibilityCodes:
                - internal
                - external
              required: false
            ADP-Acting-SessionID:
              schema:
                type: string
              description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
            Content-Type:
              schema:
                type: string
              description: 'Content-Type'' '': '' type ''/'' subtype. Describes the media type and subtype of an entity-body.'
              x-adpParameterData:
                visibilityCodes:
                - internal
                - external
              required: false
          description: Return a worker general deduction instruction
          content:
            application/json:
              schema:
                $ref: ./schemas/payrollInstructions_schema_v01_00_rev006.json
        '400':
          $ref: '#/components/responses/400'
        '412':
          $ref: '#/components/responses/412'
        '500':
          $ref: '#/components/responses/500'
        '413':
          $ref: '#/components/responses/413'
        '403':
          $ref: '#/components/responses/403'
        '304':
          $ref: '#/components/responses/304'
        '503':
          $ref: '#/components/responses/503'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '406':
          $ref: '#/components/responses/406'
        '429':
          $ref: '#/components/responses/429'
      description: Return a worker general deduction instruction
      operationId: 16833646-8273-4837-8110-5cea3793b8ef
      parameters:
      - schema:
          default: ''
          type: string
        in: header
        name: sm_transactionid
        description: 'SiteMinder transaction ID.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_transactionid: 1aaf14ac-7083-54c0186f-4680c940-82b33ca3'
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: G4O73G9Z62SL2NFM
          type: string
        in: header
        name: associateoid
        description: Associate OID of the requestor as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          default: ''
          type: string
        in: header
        name: sm_userdn
        description: 'SiteMinder user LDAP distinguished name.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_userdn: uid=JJohns@Abc,ou=Users,o=Abc'
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: query
        name: asOfDate
        description: Allows for filtering based the date when the records are effective.  If the parameter is omitted, the current date is assumed.
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: orgoid
        description: Organization OID of the requestor as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          default: ''
          type: string
        in: header
        name: SORUri
        description: Actual Uri within the SOR
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: 12345678A
          type: string
        in: path
        name: payroll-instruction-id
        description: Payroll Instruction ID
        x-adpParameterData:
          visibilityCodes:
          - internal
          - external
        required: true
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Context-ExpressionID
        description: Geopolitical context, typically country, region, e.g. country=CA;subdivision=Quebec
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Consumer-ApplicationID
        description: Identifier of the application sending a request - not intended to be used as a correlation id for messages across systems participating in a collaboration
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: query
        name: $filter
        description: The OData $filter parameter MUST be used to specify the filter criterion.  Please refer RESTful Web API Design Standard document for this query parameter specification details.
        x-adpParameterData:
          visibilityCodes:
          - internal
          - external
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: SORContext
        description: Context within an SOR that the call should be routed to
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: sm_user
        description: 'SiteMinder user ID.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_user: JJohns@Abc'
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: G4O73G9Z62SL2NFM
          type: string
        in: path
        name: aoid
        description: Associate OID as provisoned in the ADP registry
        x-adpParameterData:
          visibilityCodes:
          - internal
          - external
        required: true
      - schema:
          default: ISI
          type: string
        in: header
        name: realm
        description: The identity management realm, e.g. ISI
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          default: ''
          type: string
        in: query
        name: inactive
        description: Indictes  the inactive instructons should be included in the response.  If the parameter is omitted, only active are returned.
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ConsumerAppOID
        description: Identifier for the service consumer application.  This header is required, if the actor (Service Consumer) is an application or the actor is internal to ADP
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: employee
          type: string
          enum:
          - employee
          - ' manager'
          - ' practitioner'
          - ' administrator'
          - ' supervisor'
        in: header
        name: roleCode
        description: 'The role the user is playing during the transaction.  Possible values: employee,manager,practitioner,administrator,supervisor.  The roleCode header should be passed in all calls.'
        x-adpParameterData:
          visibilityCodes:
          - internal
          - external
        required: true
      - schema:
          default: ''
          type: string
        in: header
        name: sm_auth_level
        description: 'SiteMinder autorization level.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_auth_level: 10'
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: sm_serversessionid
        description: 'SiteMinder session ID.   Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_serversessionid: SoFpy8UMyhtXY6YsEumvXJbznFA='
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: Authorization
        description: Provides the client's authorization token to access the resource representation at a URI
        x-adpParameterData:
          visibilityCodes:
          - internal
          - external
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Act-As-OrgOID
        description: Org OID for organization of the associate that is the actor in 'Acting As' as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Act-As-AssociateOID
        description: Associate OID of the associate that is the actor in 'Acting As' as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: SOR
        description: SOR where the call is routed to - usuall injected by the API proxy, with few exceptions
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Acting-SessionID
        description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-On-Behalf-Of-OrgOID
        description: Org OID for organization of the associate that is the actor in ' On Behalf Of' as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-On-Behalf-Of-AssociateOID
        description: Associate OID for the associate that is the actor in ' On Behalf Of' as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: query
        name: $select
        description: The OData $select parameter MUST be used to specify the selection criterion
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      tags:
      - Worker Payroll Instructions
  /payroll/v1/workers/{aoid}/payroll-instructions:
    x-adpPathData:
      uriTranslationIndicator: false
      featureCode: payrollInstructionManagement
      functionCode: workerPayrollInstructionManagement
      serviceCode: payrollManagement
      serviceCategoryCode: payroll
      canonicalName: Worker Payroll Instructions
    get:
      summary: Worker Payroll Instructions
      x-adpOperationData:
        operationStateCode: active
        grantTypes:
        - authorization_code
        - urn:ietf:params:oauth:grant-type:saml2-bearer
        - urn:ietf:params:oauth:grant-type:jwt-bearer
        - client_credential
        asaFeatureCodes:
        - MobileESSPayrollInstruction
        - MobileMSSPayrollInstruction
        - MobilePSSPayrollInstruction
        canonicalUri: payroll/payrollManagement/payrollInstructionManagement/workerPayrollInstructionManagement/workerPayrollInstructions.read
        sorRequestTimeoutPolicies:
          cachedTimeout: 3
          notCachedTimeout: 10
        operationCode: workerPayrollInstructions.read
        operationId: c1de25c2-6bd0-4550-8f55-8fcc6acebc1f
        roleCodes:
        - employee
        - manager
        - practitioner
        performAuthIndicator: true
        scenarios:
        - summary: <p>Returns the list of all active payroll instructions for an employee until the current effective date.</p><p>Note:ADP Workforce Now supports workers with multiple positions. When a worker has multiple positions, the Payroll Instructions API returns all active deductions and garnishments for all payroll file numbers for a given worker. Use the GET Workers API to retrieve employee position status. &nbsp;</p>
          name: Retrieving Payroll Instructions
          responses:
          - headers:
              ADP-Acting-Session-Expires: unset
              Cache-Control: unset
              sm_transactionid: unset
              ETag: unset
              ADP-Acting-SessionID: unset
              Content-Type: unset
            code: '200'
            description: Request the list of all available payroll instructions that the requester is authorized to view
            content:
              application/json:
                externalValue: ./examples/Retrieving_Payroll_Instructions__Provide_Example_workerPayrollInstructions.read_200_44232.json
          - headers:
              ADP-Acting-Session-Expires: unset
              Cache-Control: unset
              sm_transactionid: unset
              ETag: unset
              ADP-Acting-SessionID: unset
              Content-Type: unset
            code: '400'
            description: Verifies the response when the itemID passed in the URI is invalid.
            content:
              application/json:
                externalValue: ./examples/Retrieving_Payroll_Instructions__Provide_Example_workerPayrollInstructions.read_400_44233.json
          - headers:
              ADP-Acting-Session-Expires: ''
              Cache-Control: ''
              sm_transactionid: ''
              ETag: ''
              ADP-Acting-SessionID: ''
              Content-Type: ''
            code: '500'
            description: Verifies the response when the associateOID passed in the request URI is invalid.
            content:
              application/json:
                externalValue: ./examples/Retrieving_Payroll_Instructions__Provide_Example_workerPayrollInstructions.read_500_44234.json
          description: <p>Returns the list of all active payroll instructions for an employee until the current effective date.</p><p>Note:ADP Workforce Now supports workers with multiple positions. When a worker has multiple positions, the Payroll Instructions API returns all active deductions and garnishments for all payroll file numbers for a given worker. Use the GET Workers API to retrieve employee position status. &nbsp;</p>
          parameters:
            asOfDate: YYYY-MM-DD
            inactive: 'true'
        visibilityCodes:
        - internal
        - external
        globalViewDevPortalIndicator: true
      responses:
        '200':
          headers:
            ADP-Acting-Session-Expires:
              schema:
                type: string
              description: Specifies the date and time the representational state of the resource is considered stale in 'Act-As' and act 'On-Behalf-Of' scenarios
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
            sm_transactionid:
              schema:
                type: string
              description: 'SiteMinder transaction ID.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_transactionid: 1aaf14ac-7083-54c0186f-4680c940-82b33ca3'
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
            Cache-Control:
              schema:
                type: string
              description: Specifies directives that must be obeyed by all caching mechanisms along the request/response chain.
              x-adpParameterData:
                visibilityCodes:
                - internal
                - external
              required: false
            ETag:
              schema:
                type: string
              description: Defines the entity tag for use with the If-Match and If-None-Match request headers.
              x-adpParameterData:
                visibilityCodes:
                - internal
                - external
              required: false
            ADP-Acting-SessionID:
              schema:
                type: string
              description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
            Content-Type:
              schema:
                type: string
              description: 'Content-Type'' '': '' type ''/'' subtype. Describes the media type and subtype of an entity-body.'
              x-adpParameterData:
                visibilityCodes:
                - internal
                - external
              required: false
          description: Request the list of all available payroll instructions that the requester is authorized to view
          content:
            application/json:
              schema:
                $ref: ./schemas/payrollInstructions_schema_v01_00_rev006.json
        '400':
          $ref: '#/components/responses/400'
        '500':
          $ref: '#/components/responses/500'
        '412':
          $ref: '#/components/responses/412'
        '413':
          $ref: '#/components/responses/413'
        '403':
          $ref: '#/components/responses/403'
        '304':
          $ref: '#/components/responses/304'
        '404':
          $ref: '#/components/responses/404'
        '503':
          $ref: '#/components/responses/503'
        '405':
          $ref: '#/components/responses/405'
        '406':
          $ref: '#/components/responses/406'
        '429':
          $ref: '#/components/responses/429'
      description: Request the list of all available payroll instructions that the requester is authorized to view
      operationId: c1de25c2-6bd0-4550-8f55-8fcc6acebc1f
      parameters:
      - schema:
          default: ''
          type: string
        in: header
        name: sm_transactionid
        description: 'SiteMinder transaction ID.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_transactionid: 1aaf14ac-7083-54c0186f-4680c940-82b33ca3'
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: G4O73G9Z62SL2NFM
          type: string
        in: header
        name: associateoid
        description: Associate OID of the requestor as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          default: ''
          type: string
        in: header
        name: sm_userdn
        description: 'SiteMinder user LDAP distinguished name.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_userdn: uid=JJohns@Abc,ou=Users,o=Abc'
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: query
        name: asOfDate
        description: Allows for filtering based the date when the records are effective.  If the parameter is omitted, the current date is assumed.
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: orgoid
        description: Organization OID of the requestor as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          default: ''
          type: string
        in: query
        name: $filter
        description: The OData $filter parameter MUST be used to specify the filter criterion.  Please refer RESTful Web API Design Standard document for this query parameter specification details.
        x-adpParameterData:
          visibilityCodes:
          - internal
          - external
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: Authorization
        description: Provides the client's authorization token to access the resource representation at a URI
        x-adpParameterData:
          visibilityCodes:
          - internal
          - external
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: SORUri
        description: Actual Uri within the SOR
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: SORContext
        description: Context within an SOR that the call should be routed to
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: sm_user
        description: 'SiteMinder user ID.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_user: JJohns@Abc'
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: G4O73G9Z62SL2NFM
          type: string
        in: path
        name: aoid
        description: Associate OID as provisoned in the ADP registry
        x-adpParameterData:
          visibilityCodes:
          - internal
          - external
        required: true
      - schema:
          default: ISI
          type: string
        in: header
        name: realm
        description: The identity management realm, e.g. ISI
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          default: ''
          type: string
        in: query
        name: inactive
        description: Indictes  the inactive instructons should be included in the response.  If the parameter is omitted, only active are returned.
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Context-ExpressionID
        description: Geopolitical context, typically country, region, e.g. country=CA;subdivision=Quebec
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ConsumerAppOID
        description: Identifier for the service consumer application.  This header is required, if the actor (Service Consumer) is an application or the actor is internal to ADP
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: employee
          type: string
          enum:
          - employee
          - ' manager'
          - ' practitioner'
          - ' administrator'
          - ' supervisor'
        in: header
        name: roleCode
        description: 'The role the user is playing during the transaction.  Possible values: employee,manager,practitioner,administrator,supervisor.  The roleCode header should be passed in all calls.'
        x-adpParameterData:
          visibilityCodes:
          - internal
          - external
        required: true
      - schema:
          default: ''
          type: string
        in: header
        name: sm_auth_level
        description: 'SiteMinder autorization level.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_auth_level: 10'
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: query
        name: effectiveDate
        description: Allows for filtering based the date when the records are effective.  If the parameter is omitted, the current date is assumed.
        x-adpParameterData:
          visibilityCodes:
          - internal
          - external
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: sm_serversessionid
        description: 'SiteMinder session ID.   Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_serversessionid: SoFpy8UMyhtXY6YsEumvXJbznFA='
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Act-As-OrgOID
        description: Org OID for organization of the associate that is the actor in 'Acting As' as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Act-As-AssociateOID
        description: Associate OID of the associate that is the actor in 'Acting As' as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: SOR
        description: SOR where the call is routed to - usuall injected by the API proxy, with few exceptions
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Acting-SessionID
        description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-On-Behalf-Of-OrgOID
        description: Org OID for organization of the associate that is the actor in ' On Behalf Of' as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-On-Behalf-Of-AssociateOID
        description: Associate OID for the associate that is the actor in ' On Behalf Of' as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: query
        name: $select
        description: The OData $select parameter MUST be used to specify the selection criterion
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Consumer-ApplicationID
        description: Identifier of the application sending a request - not intended to be used as a correlation id for messages across systems participating in a collaboration
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      tags:
      - Worker Payroll Instructions
components:
  responses:
    '404':
      headers:
        ADP-Acting-Session-Expires:
          schema:
            type: string
          description: Specifies the date and time the representational state of the resource is considered stale in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        sm_transactionid:
          schema:
            type: string
          description: 'SiteMinder transaction ID.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_transactionid: 1aaf14ac-7083-54c0186f-4680c940-82b33ca3'
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Cache-Control:
          schema:
            type: string
          description: Specifies directives that must be obeyed by all caching mechanisms along the request/response chain.
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        ETag:
          schema:
            type: string
          description: Defines the entity tag for use with the If-Match and If-None-Match request headers.
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        ADP-Acting-SessionID:
          schema:
            type: string
          description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Content-Type:
          schema:
            type: string
          description: 'Content-Type'' '': '' type ''/'' subtype. Describes the media type and subtype of an entity-body.'
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
      description: Not Found
      content:
        application/json:
          schema:
            $ref: ../../../common/responses/v1/schemas/confirmMessage_schema_v01_00_rev008.json
    '405':
      headers:
        ADP-Acting-Session-Expires:
          schema:
            type: string
          description: Specifies the date and time the representational state of the resource is considered stale in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        sm_transactionid:
          schema:
            type: string
          description: 'SiteMinder transaction ID.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_transactionid: 1aaf14ac-7083-54c0186f-4680c940-82b33ca3'
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Cache-Control:
          schema:
            type: string
          description: Specifies directives that must be obeyed by all caching mechanisms along the request/response chain.
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        ETag:
          schema:
            type: string
          description: Defines the entity tag for use with the If-Match and If-None-Match request headers.
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        ADP-Acting-SessionID:
          schema:
            type: string
          description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Content-Type:
          schema:
            type: string
          description: 'Content-Type'' '': '' type ''/'' subtype. Describes the media type and subtype of an entity-body.'
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
      description: Method Not Allowed
      content:
        application/json:
          schema:
            $ref: ../../../common/responses/v1/schemas/confirmMessage_schema_v01_00_rev008.json
    '412':
      headers:
        ADP-Acting-Session-Expires:
          schema:
            type: string
          description: Specifies the date and time the representational state of the resource is considered stale in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        sm_transactionid:
          schema:
            type: string
          description: 'SiteMinder transaction ID.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_transactionid: 1aaf14ac-7083-54c0186f-4680c940-82b33ca3'
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Cache-Control:
          schema:
            type: string
          description: Specifies directives that must be obeyed by all caching mechanisms along the request/response chain.
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        ETag:
          schema:
            type: string
          description: Defines the entity tag for use with the If-Match and If-None-Match request headers.
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        ADP-Acting-SessionID:
          schema:
            type: string
          description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Content-Type:
          schema:
            type: string
          description: 'Content-Type'' '': '' type ''/'' subtype. Describes the media type and subtype of an entity-body.'
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
      description: Precondition Failed
      content:
        application/json:
          schema:
            $ref: ../../../common/responses/v1/schemas/confirmMessage_schema_v01_00_rev008.json
    '503':
      headers:
        ADP-Acting-Session-Expires:
          schema:
            type: string
          description: Specifies the date and time the representational state of the resource is considered stale in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        sm_transactionid:
          schema:
            type: string
          description: 'SiteMinder transaction ID.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_transactionid: 1aaf14ac-7083-54c0186f-4680c940-82b33ca3'
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Cache-Control:
          schema:
            type: string
          description: Specifies directives that must be obeyed by all caching mechanisms along the request/response chain.
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        ETag:
          schema:
            type: string
          description: Defines the entity tag for use with the If-Match and If-None-Match request headers.
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        ADP-Acting-SessionID:
          schema:
            type: string
          description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Content-Type:
          schema:
            type: string
          description: 'Content-Type'' '': '' type ''/'' subtype. Describes the media type and subtype of an entity-body.'
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
      description: Service Unavailable
      content:
        application/json:
          schema:
            $ref: ../../../common/responses/v1/schemas/confirmMessage_schema_v01_00_rev008.json
    '403':
      headers:
        ADP-Acting-Session-Expires:
          schema:
            type: string
          description: Specifies the date and time the representational state of the resource is considered stale in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        sm_transactionid:
          schema:
            type: string
          description: 'SiteMinder transaction ID.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_transactionid: 1aaf14ac-7083-54c0186f-4680c940-82b33ca3'
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Cache-Control:
          schema:
            type: string
          description: Specifies directives that must be obeyed by all caching mechanisms along the request/response chain.
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        ETag:
          schema:
            type: string
          description: Defines the entity tag for use with the If-Match and If-None-Match request headers.
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        ADP-Acting-SessionID:
          schema:
            type: string
          description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Content-Type:
          schema:
            type: string
          description: 'Content-Type'' '': '' type ''/'' subtype. Describes the media type and subtype of an entity-body.'
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: ../../../common/responses/v1/schemas/confirmMessage_schema_v01_00_rev008.json
    '304':
      headers:
        ADP-Acting-Session-Expires:
          schema:
            type: string
          description: Specifies the date and time the representational state of the resource is considered stale in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        sm_transactionid:
          schema:
            type: string
          description: 'SiteMinder transaction ID.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_transactionid: 1aaf14ac-7083-54c0186f-4680c940-82b33ca3'
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Cache-Control:
          schema:
            type: string
          description: Specifies directives that must be obeyed by all caching mechanisms along the request/response chain.
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        ETag:
          schema:
            type: string
          description: Defines the entity tag for use with the If-Match and If-None-Match request headers.
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        ADP-Acting-SessionID:
          schema:
            type: string
          description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Content-Type:
          schema:
            type: string
          description: 'Content-Type'' '': '' type ''/'' subtype. Describes the media type and subtype of an entity-body.'
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
      description: Not Modified
    '413':
      headers:
        ADP-Acting-Session-Expires:
          schema:
            type: string
          description: Specifies the date and time the representational state of the resource is considered stale in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        sm_transactionid:
          schema:
            type: string
          description: 'SiteMinder transaction ID.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_transactionid: 1aaf14ac-7083-54c0186f-4680c940-82b33ca3'
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Cache-Control:
          schema:
            type: string
          description: Specifies directives that must be obeyed by all caching mechanisms along the request/response chain.
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        ETag:
          schema:
            type: string
          description: Defines the entity tag for use with the If-Match and If-None-Match request headers.
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        ADP-Acting-SessionID:
          schema:
            type: string
          description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Content-Type:
          schema:
            type: string
          description: 'Content-Type'' '': '' type ''/'' subtype. Describes the media type and subtype of an entity-body.'
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
      description: Request Entity Too Large
      content:
        application/json:
          schema:
            $ref: ../../../common/responses/v1/schemas/confirmMessage_schema_v01_00_rev008.json
    '429':
      headers:
        ADP-Acting-Session-Expires:
          schema:
            type: string
          description: Specifies the date and time the representational state of the resource is considered stale in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        sm_transactionid:
          schema:
            type: string
          description: 'SiteMinder transaction ID.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_transactionid: 1aaf14ac-7083-54c0186f-4680c940-82b33ca3'
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Cache-Control:
          schema:
            type: string
          description: Specifies directives that must be obeyed by all caching mechanisms along the request/response chain.
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        ETag:
          schema:
            type: string
          description: Defines the entity tag for use with the If-Match and If-None-Match request headers.
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        ADP-Acting-SessionID:
          schema:
            type: string
          description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Content-Type:
          schema:
            type: string
          description: 'Content-Type'' '': '' type ''/'' subtype. Describes the media type and subtype of an entity-body.'
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
      description: Too Many Requests
      content:
        application/json:
          schema:
            $ref: ../../../common/responses/v1/schemas/confirmMessage_schema_v01_00_rev008.json
    '500':
      headers:
        ADP-Acting-Session-Expires:
          schema:
            type: string
          description: Specifies the date and time the representational state of the resource is considered stale in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        sm_transactionid:
          schema:
            type: string
          description: 'SiteMinder transaction ID.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_transactionid: 1aaf14ac-7083-54c0186f-4680c940-82b33ca3'
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Cache-Control:
          schema:
            type: string
          description: Specifies directives that must be obeyed by all caching mechanisms along the request/response chain.
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        ETag:
          schema:
            type: string
          description: Defines the entity tag for use with the If-Match and If-None-Match request headers.
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        ADP-Acting-SessionID:
          schema:
            type: string
          description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Content-Type:
          schema:
            type: string
          description: 'Content-Type'' '': '' type ''/'' subtype. Describes the media type and subtype of an entity-body.'
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: ../../../common/responses/v1/schemas/confirmMessage_schema_v01_00_rev008.json
    '400':
      headers:
        ADP-Acting-Session-Expires:
          schema:
            type: string
          description: Specifies the date and time the representational state of the resource is considered stale in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        sm_transactionid:
          schema:
            type: string
          description: 'SiteMinder transaction ID.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_transactionid: 1aaf14ac-7083-54c0186f-4680c940-82b33ca3'
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Cache-Control:
          schema:
            type: string
          description: Specifies directives that must be obeyed by all caching mechanisms along the request/response chain.
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        ETag:
          schema:
            type: string
          description: Defines the entity tag for use with the If-Match and If-None-Match request headers.
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        ADP-Acting-SessionID:
          schema:
            type: string
          description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Content-Type:
          schema:
            type: string
          description: 'Content-Type'' '': '' type ''/'' subtype. Describes the media type and subtype of an entity-body.'
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: ../../../common/responses/v1/schemas/confirmMessage_schema_v01_00_rev008.json
    '406':
      headers:
        ADP-Acting-Session-Expires:
          schema:
            type: string
          description: Specifies the date and time the representational state of the resource is considered stale in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        sm_transactionid:
          schema:
            type: string
          description: 'SiteMinder transaction ID.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_transactionid: 1aaf14ac-7083-54c0186f-4680c940-82b33ca3'
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Cache-Control:
          schema:
            type: string
          description: Specifies directives that must be obeyed by all caching mechanisms along the request/response chain.
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        ETag:
          schema:
            type: string
          description: Defines the entity tag for use with the If-Match and If-None-Match request headers.
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
        ADP-Acting-SessionID:
          schema:
            type: string
          description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Content-Type:
          schema:
            type: string
          description: 'Content-Type'' '': '' type ''/'' subtype. Describes the media type and subtype of an entity-body.'
          x-adpParameterData:
            visibilityCodes:
            - internal
            - external
          required: false
      description: Not Acceptable
      content:
        application/json:
          schema:
            $ref: ../../../common/responses/v1/schemas/confirmMessage_schema_v01_00_rev008.json
x-adpSpecData:
  domain: Payroll
  specId: d372ab8f-cc78-4090-b40c-c2033e4a3632
  canonicalSpecId: 5c347761-8c9f-4ab8-adee-fcd6fecf57d7
  specStatusCode: published
  specTypeCode: REST
  specStateCode: active
  nonStandardIndicator: false
  visibilityCodes:
  - internal
  - external
  filename: worker-payroll-instructions-swagger_v1-merged.json
  serviceProviderId: 'null'
  resourcePath: payroll/worker-payroll-instructions/v1
  libraryVersion: ''
  businessRules:
  - rule: R11.1
    ruleTitle: '''associateoid'' in the uri pattern should match the ''associateoid'' in the request header parameter'
    visibilityCodes:
    - internal
  - rule: US Account ID
    ruleTitle: '**Masking [Pattern:](/library/patterns/#revealmasked)** XXXXX-678 (show last 4 chars)  **Reveal Operation Canonical ID: **  /core/accessManagement/sensitiveDataManagement/financialAccountManagement/usFinancialAccountID.reveal'
    visibilityCodes:
    - internal
  - rule: R8.2
    ruleTitle: An event notification does not include the transform or meta objects.
    visibilityCodes:
    - internal
  - rule: R5.1
    ruleTitle: The only information that must be valued in the meta for the events header are the standard codelist references for priorityCode, eventStatusCode, and serviceCategoryCode
    visibilityCodes:
    - internal
  - rule: R3.5
    ruleTitle: A complete event has /data/eventContext and /data/output
    visibilityCodes:
    - internal
  - rule: R3.4
    ruleTitle: /data/output may be provided during the recording of the event showing the intermediary results.
    visibilityCodes:
    - internal
  - rule: R15.1
    ruleTitle: 'An SOR may return an HTTP 503 when they are down for a scheduled maintenance or for an outage.If an SOR is planning a maintenance window then they should plan on having an end point available to return the 503 with a standard confirmMessage.  The confirmMessage will contain a message stating the date and timeframe that the maintenance window is for.The SOR should return the Retry-After response-header field with the Date and Time when they expect the system to be available.  E.g. §  Retry-After: Fri, 31 Dec 1999 23:59:59 GMT  This does not need to be handled dynamically.  They can set the time that their maintenance window ends.'
    visibilityCodes:
    - internal
  - rule: US Bank Routing ID
    ruleTitle: '**Masking [Pattern:](/library/patterns/#revealmasked)** XXXXXXXX (all masked)  **Reveal Canonical ID: **  /core/accessManagement/sensitiveDataManagement/financialAccountManagement/usFinancialPartyRoutingID.reveal'
    visibilityCodes:
    - internal
  - rule: US SSN
    ruleTitle: '**Masking [Pattern:](/library/patterns/#revealmasked)** XXX-XX-6789 (mask first 5 digits)  **Reveal Operation Canonical ID: **  /core/accessManagement/sensitiveDataManagement/governmentIDManagement/usGovernmentID.reveal'
    visibilityCodes:
    - internal
  - rule: R8.3
    ruleTitle: 'A self link is included in the /data/links with 1 links item with the following 2 properties: rel=”self” href=”/events-notifications/{domain}/v1/{event-name}/{eventID}”'
    visibilityCodes:
    - internal
  - rule: R3.0
    ruleTitle: /data/schemaContext communicates the keys and properties that relate the event instance to a concrete concept (e.g. associate).
    visibilityCodes:
    - internal
  - rule: R3.6
    ruleTitle: An event which is being recorded includes the /data/eventContext and the /data/transform during the composition phase (i.e. recording of the event).
    visibilityCodes:
    - internal
  - rule: R0.2
    ruleTitle: If request contains ADP-On-Behalf-Of-OrgOID, ADP-On-Behalf-Of-AssociateOID and ADP-Acting-SessionID header values, SOR MUST use ADP-On-Behalf-Of-AssociateOID header value to authorize the data requested, NOT associateoid header value to authorize the data.
    visibilityCodes:
    - internal
  - rule: R2.4
    ruleTitle: If there is no effective date from a business perspective then the effective date should be set equal to the record date time.
    visibilityCodes:
    - internal
  - rule: R6.2
    ruleTitle: An event instance which has been recorded has an event.status.code=complete
    visibilityCodes:
    - internal
  - rule: R3.2
    ruleTitle: /data/transform is only used during the recording of the event.  The transform is the data that is provided by a user/machine to complete the recording of the event.
    visibilityCodes:
    - internal
  - rule: R2.0
    ruleTitle: creationDateTime is the date that the event is created.  If a System of Record creates the event instance then it sets the creationDateTime.
    visibilityCodes:
    - internal
  - rule: R8.1
    ruleTitle: An event notification includes the /data/eventContext and /data/output objects.
    visibilityCodes:
    - internal
  - rule: R5.0
    ruleTitle: Meta returns the context rules for each data section
    visibilityCodes:
    - internal
  - rule: R6.1
    ruleTitle: An event instance which is being “worked on” has an event.status.code=inprogress
    visibilityCodes:
    - internal
  - rule: R3.1
    ruleTitle: /data/input is optional.  Input communicates data that is needed to complete recording the event instance.  An example is a benefits.enroll event.  The input communicates the benefitOfferings (the choices) that the user has to make which are communicated in the transform.
    visibilityCodes:
    - internal
  - rule: R0.3
    ruleTitle: 'For Act-As or On-Behalf-Of requests, header ''Cache-Control: no-store'' MUST be set to indicate on server or on UI the response object SHOULD not be cached'
    visibilityCodes:
    - internal
  - rule: R3.3
    ruleTitle: /data/output communicates the result of the event instance.
    visibilityCodes:
    - internal
  - rule: R1.0
    ruleTitle: event.id is generated once an event is recorded with a event.status.code=complete
    visibilityCodes:
    - internal
  - rule: R2.2
    ruleTitle: The recordDateTime is the date time which the event is recorded in the system of record with an event.status.code=complete
    visibilityCodes:
    - internal
  - rule: R4.0
    ruleTitle: All envelope data is set by the System of Record (e.g. event.ID, creationDateTime, recordDateTime, event.status.code, etc…
    visibilityCodes:
    - internal
  - rule: R6.0
    ruleTitle: An event instance may be created by a System of record for a user to complete. This event instance will have a event.status.code=created
    visibilityCodes:
    - internal
  - rule: R2.3
    ruleTitle: effectiveDateTime is the date that the event is effective from a business perspective
    visibilityCodes:
    - internal
  - rule: R0.1
    ruleTitle: If request contains ADP-Act-As-OrgOID, ADP-Act-As-AssociateOID and ADP-Acting-SessionID header values, SOR MUST use ADP-Act-As-AssociateOID header value to authorize the data requested, NOT associateoid header value to authorize the data.
    visibilityCodes:
    - internal
  - rule: R2.1
    ruleTitle: If the event is declared by an actor then the creationDateTime is the date time when the first call is made to the System of Record.
    visibilityCodes:
    - internal
  eventNotifications:
  - eventCode: workerGeneralDeductionInstruction.stop.eventNotify
    example:
      href: deduction-stop-event-notification-http-200-response.json
  - eventCode: workerGeneralDeductionInstruction.stop.eventNotify.subscribe
    example:
      href: deduction-stop-event-notification-http-200-response.json
  - eventCode: workerGeneralDeductionInstruction.start.eventNotify
    example:
      href: deduction-start-event-notification-http-200-response.json
  - eventCode: workerGeneralDeductionInstruction.start.eventNotify.subscribe
    example:
      href: deduction-start-event-notification-http-200-response.json
  - eventCode: workerGeneralDeductionInstruction.change.eventNotify
    example:
      href: deduction-change-event-notification-http-200-response.json
  - eventCode: workerGeneralDeductionInstruction.change.eventNotify.subscribe
    example:
      href: deduction-change-event-notification-http-200-response.json
  testCaseCollection:
    example:
      href: WFN_CG_Worker_Payroll_Instructions.postman_collection.json
    description: WFN_CG_Worker_Payroll_Instructions.postman_collection.json
  publicationContext:
    products:
    - productId: hcm-offrg-wfn
      productName: workforce now
      marketplaceProductName: ADP Workforce Now®
  specCategoryCode: ''
