openapi: 3.0.1
servers:
- url: https://api.adp.com
  description: 'ADP production API gateway (mutual-TLS). Source: https://developers.adp.com/getting-started/key-concepts/access-tokens'
- url: https://api.eu.adp.com
  description: ADP European API gateway
- url: https://uat-api.adp.com
  description: ADP UAT / sandbox gateway
info:
  contact:
    name: Lavanya Appa
    email: LAVANYA.APPA@ADP.COM
  description: The Time Card Inputs APIs provide a mechanism to accept external/third-party time card data for processing
    into pay data by WFN Industry Solutions.
  title: Time Card Inputs
  version: 1.0.2
  x-apievangelist-source: https://api-library-marketplace.adp.com/hcm-offrg-wfn/time/time-card-inputs/v1/time-card-inputs-swagger_v1-merged.json
  x-apievangelist-product: ADP Workforce Now (hcm-offrg-wfn)
  x-apievangelist-resource-path: time/time-card-inputs/v1/time-card-inputs
x-adpSpecData:
  domain: Time
  specId: 8ecd64c1-7dea-4b7a-9179-aec51d772ea1
  canonicalSpecId: 323a4b0a-c74d-40d8-8000-870443f02bb9
  specStatusCode: publishing
  specTypeCode: REST
  specStateCode: active
  nonStandardIndicator: false
  visibilityCodes:
  - internal
  filename: time-card-inputs-swagger_v1-merged.json
  serviceProviderId: 'null'
  resourcePath: time/time-card-inputs/v1
  libraryVersion: ''
  testCaseCollection:
    example:
      href: WFN_Time_Card_Inputs.postman_collection.json
    description: WFN_Time_Card_Inputs
  publicationContext:
    products:
    - productId: hcm-offrg-wfn.next.gen
      productName: workforce now next generation
      marketplaceProductName: ADP Workforce Now® Next Generation
    - productId: hcm-offrg-wfn
      productName: workforce now
      marketplaceProductName: ADP Workforce Now®
  specCategoryCode: ''
tags:
- name: Worker Time Card Inputs
  description: APIs to manage worker time card input requests
paths:
  /time/v1/worker-time-card-inputs:
    x-adpPathData:
      uriTranslationIndicator: false
      featureCode: timeEntryManagement
      functionCode: timeSheetManagement
      serviceCode: timeLaborManagement
      serviceCategoryCode: time
      canonicalName: Time Card Inputs
    post:
      summary: Submit worker time card inputs
      x-adpOperationData:
        operationStateCode: active
        grantTypes:
        - authorization_code
        - urn:ietf:params:oauth:grant-type:saml2-bearer
        - urn:ietf:params:oauth:grant-type:jwt-bearer
        - client_credential
        canonicalUri: time/timeLaborManagement/timeEntryManagement/timeSheetManagement/workerTimeCardInputs.add
        operationCode: workerTimeCardInputs.add
        operationDataAttributeSensitivitylevels:
        - dataSensitivityCategory: NA
          attributeName: /_confirmMessage/messages/alternateMessageTexts/languageCode/name
          dataSensitivityLevelCode: 2
        - dataSensitivityCategory: NA
          attributeName: /_confirmMessage/resourceMessages/messages/alternateMessageTexts/languageCode/name
          dataSensitivityLevelCode: 2
        operationId: 5dafb647-ef5e-4f3a-9504-da6ad9c0497b
        performAuthIndicator: true
        roleCodes:
        - administrator
        - manager
        - practitioner
        scenarios:
        - summary: Adding Third PartyTime Card Data with multiple day and time entries
          name: Adding Third PartyTime Card Data with multiple day and time entries
          responses:
          - headers:
              Retry-After: unset
              Location: unset
            code: '201'
            description: Created
            content:
              application/json:
                externalValue: ./examples/Adding_Third_PartyTime_Card_Data_with_multiple_day_and_time_entries_Custom_Example_workerTimeCardInputs.add_201_495900.json
          description: Adding Third PartyTime Card Data with multiple day and time entries
          content:
            application/json:
              externalValue: ./examples/Adding_Third_PartyTime_Card_Data_with_multiple_day_and_time_entries_Custom_Example_workerTimeCardInputs.add_request_46496.json
        - summary: Adding Third-Party Time Card Data
          name: Adding Third Party Time Card Data with single day and time entry
          responses:
          - headers:
              Retry-After: unset
              Location: unset
            code: '201'
            description: Created
            content:
              application/json:
                externalValue: ./examples/Adding_Third_Party_Time_Card_Data_with_single_day_and_time_entry_Generate_from_Schema_workerTimeCardInputs.add_201_495896.json
          description: Adding Third-Party Time Card Data
          content:
            application/json:
              externalValue: ./examples/Adding_Third_Party_Time_Card_Data_with_single_day_and_time_entry_Time_Card_Inputs_Example_workerTimeCardInputs.add_request_46494.json
        dataSensitivityLevelCode: 2
        visibilityCodes:
        - internal
        globalViewDevPortalIndicator: true
      requestBody:
        description: Request body for submitting time card inputs
        content:
          application/json:
            schema:
              $ref: ./schemas/time-card-inputs-request-schema_v01.json
        required: true
      responses:
        '201':
          headers:
            Retry-After:
              schema:
                type: string
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
            Location:
              schema:
                type: string
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
          description: Created
          content:
            application/json:
              schema:
                $ref: ../../../common/shared/confirm-message-schema_v03.json
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
        '413':
          $ref: '#/components/responses/413'
        '403':
          $ref: '#/components/responses/403'
        '503':
          $ref: '#/components/responses/503'
        '404':
          $ref: '#/components/responses/404'
      description: Submit worker time card input data for processing
      operationId: 5dafb647-ef5e-4f3a-9504-da6ad9c0497b
      parameters:
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Context-ExpressionID
        description: Geopolitical context, typically country, region, e.g. country=CA;subdivision=Quebec
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          type: string
        in: header
        name: Link
        description: Expresses a typed relationship with another resource, typically used in the callback scenarios to specify
          a callback URI
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          type: string
        in: header
        name: associateoid
        description: Associate OID of the requestor as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          type: string
        in: header
        name: orgoid
        description: Organization OID of the requestor as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          type: string
        in: header
        name: roleCode
        description: 'The role the user is playing during the transaction.  Possible values: employee,manager,practitioner,administrator,supervisor.  The
          roleCode header will be passed in all calls. When coming from Myself capabilities rolecode=employee. When coming
          from Team capabilities roleCode=manager. When coming from Practitioner capabilities roleCode=practitioner.'
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Action-Reason
        description: Free format to indicate a reason for the current request
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: Authorization
        description: 'The Authorization header is used to provide the client''s authorization to access the resource in the
          following format: Authorization: {scheme credentials}, e.g. Authorization: pin 123456'
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      tags:
      - Worker Time Card Inputs
components:
  responses:
    '400':
      headers:
        Content-Language:
          schema:
            type: string
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Last-Modified:
          schema:
            type: string
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: ../../../common/shared/confirm-message-schema_v03.json
    '401':
      headers:
        Content-Language:
          schema:
            type: string
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Last-Modified:
          schema:
            type: string
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: ../../../common/shared/confirm-message-schema_v03.json
    '500':
      headers:
        Content-Language:
          schema:
            type: string
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Last-Modified:
          schema:
            type: string
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: ../../../common/shared/confirm-message-schema_v03.json
    '413':
      headers:
        Content-Language:
          schema:
            type: string
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Last-Modified:
          schema:
            type: string
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
      description: Request Entity Too Large
      content:
        application/json:
          schema:
            $ref: ../../../common/shared/confirm-message-schema_v03.json
    '403':
      headers:
        Content-Language:
          schema:
            type: string
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Last-Modified:
          schema:
            type: string
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: ../../../common/shared/confirm-message-schema_v03.json
    '503':
      headers:
        Content-Language:
          schema:
            type: string
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Last-Modified:
          schema:
            type: string
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
      description: Service Unavailable
      content:
        application/json:
          schema:
            $ref: ../../../common/shared/confirm-message-schema_v03.json
    '404':
      headers:
        Content-Language:
          schema:
            type: string
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Last-Modified:
          schema:
            type: string
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
      description: Not Found
      content:
        application/json:
          schema:
            $ref: ../../../common/shared/confirm-message-schema_v03.json
