openapi: 3.0.1
servers:
- url: https://api.adp.com
  description: 'ADP production API gateway (mutual-TLS). Source: https://developers.adp.com/getting-started/key-concepts/access-tokens'
- url: https://api.eu.adp.com
  description: ADP European API gateway
- url: https://uat-api.adp.com
  description: ADP UAT / sandbox gateway
info:
  contact:
    name: Donald Vargo
    email: donny.vargo@adp.com
  description: The API guide can be found here:&nbsp;<a href="https://developers.adp.com/guides/api-guides/payroll-group-list-of-pay-periods-api-guide-for-adp-workforce-now-nextgen">https://developers.adp.com/guides/api-guides/payroll-group-list-of-pay-periods-api-guide-for-adp-workforce-now-nextgen</a>
  title: Payroll Group List of Pay Periods
  version: 1.0.0
  x-apievangelist-source: https://api-library-marketplace.adp.com/hcm-offrg-wfn.next.gen/payroll/payroll-group-pay-periods/v1/payroll-group-pay-periods-swagger_v1-merged.json
  x-apievangelist-product: ADP Workforce Now (hcm-offrg-wfn)
  x-apievangelist-resource-path: payroll/payroll-group-pay-periods/v1/payroll-group-pay-periods
x-adpSpecData:
  domain: Payroll
  specId: e7ba881b-ca8e-4b50-af90-3c5860447515
  canonicalSpecId: f8a80a32-85ed-4268-9abb-aa17c1bcf42e
  specStatusCode: publishing
  specTypeCode: REST
  specStateCode: active
  nonStandardIndicator: false
  visibilityCodes:
  - internal
  filename: payroll-group-pay-periods-swagger_v1-merged.json
  serviceProviderId: 'null'
  resourcePath: payroll/payroll-group-pay-periods/v1
  libraryVersion: ''
  eventNotifications:
  - eventCode: payrollGroup.payPeriodStatus.change.eventNotify.subscribe
    example:
      href: sample-payperiod-notification.json
  testCaseCollection:
    example:
      href: Get-Paygroup-Payschedules.postman_collection.json
    description: Pay periods Collection
  publicationContext:
    products:
    - productId: hcm-offrg-wfn.next.gen
      productName: workforce now next generation
      marketplaceProductName: ADP Workforce Now® Next Generation
    - productId: hcm-offrg-wfn
      productName: workforce now
      marketplaceProductName: ADP Workforce Now®
  specCategoryCode: ''
tags:
- name: Payroll Group Pay Periods
  description: Retrieve the list of pay periods for pay groups
paths:
  /payroll/v1/pay-schedule/payroll-groups:
    x-adpPathData:
      uriTranslationIndicator: false
      featureCode: payrollProcessingScheduleManagement
      functionCode: payScheduleManagement
      serviceCode: payrollManagement
      serviceCategoryCode: payroll
      canonicalName: Payroll Group List of Pay Periods
    get:
      summary: Retrieve pay periods for payroll groups
      x-adpOperationData:
        operationStateCode: active
        grantTypes:
        - authorization_code
        - urn:ietf:params:oauth:grant-type:saml2-bearer
        - urn:ietf:params:oauth:grant-type:jwt-bearer
        - client_credential
        canonicalUri: payroll/payrollManagement/payrollProcessingScheduleManagement/payScheduleManagement/payrollGroups.payPeriods.read
        operationCode: payrollGroups.payPeriods.read
        operationDataAttributeSensitivitylevels:
        - dataSensitivityCategory: NA
          attributeName: /payrollGroupsPayPeriods/payCycleCode/name
          dataSensitivityLevelCode: 2
        - dataSensitivityCategory: NA
          attributeName: /payrollGroupsPayPeriods/payPeriods/payPeriodStatus/name
          dataSensitivityLevelCode: 2
        - dataSensitivityCategory: NA
          attributeName: /_confirmMessage/messages/alternateMessageTexts/languageCode/name
          dataSensitivityLevelCode: 2
        - dataSensitivityCategory: NA
          attributeName: /_confirmMessage/resourceMessages/messages/alternateMessageTexts/languageCode/name
          dataSensitivityLevelCode: 2
        operationId: 9a9692cc-1066-44f9-8ec8-a4fcac04495c
        roleCodes:
        - manager
        - practitioner
        - employee
        - administrator
        performAuthIndicator: true
        dataSensitivityLevelCode: 2
        scenarios:
        - summary: New description scenario for the consumer of this API to better understand this example.
          name: Get a list of all payroll group pay schedules - another example
          responses:
          - headers:
              ADP-Acting-Session-Expires: ''
              Cache-Control: ''
              ETag: ''
              ADP-Acting-SessionID: ''
            code: '200'
            description: Successful response that provides the requested list of pay periods.
            content:
              application/json:
                externalValue: ./examples/Get_a_list_of_all_payroll_group_pay_schedules_-_another_example_Custom_Example_payrollGroups.payPeriods.read_200_495899.json
          description: New description scenario for the consumer of this API to better understand this example.
        - summary: Get all payroll groups with pay periods within the date range specified by the startDate and endDate parameters
          name: Get a list of all payroll group pay schedules - Date range
          responses:
          - headers:
              ADP-Acting-Session-Expires: ''
              Cache-Control: ''
              ETag: ''
              ADP-Acting-SessionID: ''
            code: '200'
            description: Successful response that provides the requested list of pay periods.
            content:
              application/json:
                externalValue: ./examples/Get_a_list_of_all_payroll_group_pay_schedules_-_Date_range_Custom_Example_payrollGroups.payPeriods.read_200_496160.json
          description: Get all payroll groups with pay periods within the date range specified by the startDate and endDate
            parameters
          parameters:
            endDate: '2025-06-30'
            startDate: '2025-01-01'
        - summary: Get all payroll groups with pay periods (schedules) for the specified&nbsp;<span>asOfDate</span> parameter.
            API will return the pay period that includes the asOfDate and two periods before and after.
          name: Get a list of all payroll group pay schedules - As of date
          responses:
          - headers:
              ADP-Acting-Session-Expires: ''
              Cache-Control: ''
              ETag: ''
              ADP-Acting-SessionID: ''
            code: '200'
            description: Successful response that provides the requested list of pay periods as of the date specified.
            content:
              application/json:
                externalValue: ./examples/Get_a_list_of_all_payroll_group_pay_schedules_-_As_of_date_Custom_Example_payrollGroups.payPeriods.read_200_496161.json
          description: Get all payroll groups with pay periods (schedules) for the specified&nbsp;<span>asOfDate</span> parameter.
            API will return the pay period that includes the asOfDate and two periods before and after.
          parameters:
            asOfDate: '2025-01-01'
        - summary: '<p>All payroll groups with pay periods (schedules) filtered by open statuses.</p><p><br></p><p>Note: status
            is not an OData filter but a simple named filter. The documentation needs to be updated. In this example the following
            param is used:</p><p>status=OPEN</p>'
          name: Get a list of all payroll group pay schedules - Filter status for open periods
          responses:
          - headers:
              ADP-Acting-Session-Expires: ''
              Cache-Control: ''
              ETag: ''
              ADP-Acting-SessionID: ''
            code: '200'
            description: 'Successful response that returns all payroll groups along with pay periods that are OPEN. Since
              an asOfDate or Date Range is not specified, the current date of Feb 3, 2025 is used here as asOfDate.


              Note: When a pay period is in OPEN status it means it is accepting input. Internally the pay period would be
              in one of the many OPEN statuses.'
            content:
              application/json:
                externalValue: ./examples/Get_a_list_of_all_payroll_group_pay_schedules_-_Filter_status_for_open_periods_Custom_Example_payrollGroups.payPeriods.read_200_496159.json
          description: '<p>All payroll groups with pay periods (schedules) filtered by open statuses.</p><p><br></p><p>Note:
            status is not an OData filter but a simple named filter. The documentation needs to be updated. In this example
            the following param is used:</p><p>status=OPEN</p>'
          parameters:
            $filter: status=OPEN
        - summary: When this API is invoked with no parameters for filtering, all payroll groups with pay periods as of the
            current date is returned. The API will return the pay period that includes today as well as two pay periods before
            and after that for each group.
          name: Get a list of all payroll group pay schedules
          responses:
          - headers:
              ADP-Acting-Session-Expires: ''
              Cache-Control: ''
              ETag: ''
              ADP-Acting-SessionID: ''
            code: '200'
            description: Successful response that provides the requested list of payroll groups with periods. The example
              shows results when the API is executed on the date of Feb 3, 2025.
            content:
              application/json:
                externalValue: ./examples/Get_a_list_of_all_payroll_group_pay_schedules_Custom_Example_payrollGroups.payPeriods.read_200_496156.json
          description: When this API is invoked with no parameters for filtering, all payroll groups with pay periods as of
            the current date is returned. The API will return the pay period that includes today as well as two pay periods
            before and after that for each group.
        - summary: All payroll groups with pay periods (schedules) filtered by status and a date range.
          name: Get a list of all payroll group pay schedules - Multiple filters, Date Range and Status
          responses:
          - headers:
              ADP-Acting-Session-Expires: unset
              Cache-Control: unset
              ETag: unset
              ADP-Acting-SessionID: unset
            code: '200'
            description: Successful response that returns all Pay Groups with list of pay periods filtered by both status
              and date range.
            content:
              application/json:
                externalValue: ./examples/Get_a_list_of_all_payroll_group_pay_schedules_-_Multiple_filters,_Date_Range_and_Status_Custom_Example_payrollGroups.payPeriods.read_200_497229.json
          description: All payroll groups with pay periods (schedules) filtered by status and a date range.
          parameters:
            $filter: status=NOT_STARTED
            endDate: '2025-03-10'
            startDate: '2025-01-01'
        - summary: '<p>All payroll groups with pay periods (schedules) filtered by status.</p><p><br></p><p>Note: status is
            not an OData filter but a simple named filter. The documentation needs to be updated. In this example the following
            param is used:</p><p>status=NOT_STARTED</p>'
          name: Get a list of all payroll group pay schedules - Filter status Not Started
          responses:
          - headers:
              ADP-Acting-Session-Expires: ''
              Cache-Control: ''
              ETag: ''
              ADP-Acting-SessionID: ''
            code: '200'
            description: Successful response that returns all payroll groups along with pay periods that are NOT STARTED.
              Since an asOfDate or Date Range is not specified, the current date of Feb 3, 2025 is used here as asOfDate.
            content:
              application/json:
                externalValue: ./examples/Get_a_list_of_all_payroll_group_pay_schedules_-_Filter_status_Not_Started_Custom_Example_payrollGroups.payPeriods.read_200_496158.json
          description: '<p>All payroll groups with pay periods (schedules) filtered by status.</p><p><br></p><p>Note: status
            is not an OData filter but a simple named filter. The documentation needs to be updated. In this example the following
            param is used:</p><p>status=NOT_STARTED</p>'
          parameters:
            $filter: status=NOT_STARTED
        visibilityCodes:
        - internal
        globalViewDevPortalIndicator: false
      responses:
        '200':
          headers:
            ADP-Acting-Session-Expires:
              schema:
                type: string
              description: Specifies the date and time the representational state of the resource is considered stale. Session
                ID for the acting session, Act-As and act On-Behalf-Off
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
            Cache-Control:
              schema:
                type: string
              description: Specifies directives that must be obeyed by all caching mechanisms along the request/response chain.
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
            ETag:
              schema:
                type: string
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
            ADP-Acting-SessionID:
              schema:
                type: string
              description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
          description: Successful response that provides the requested list of pay periods.
          content:
            application/json:
              schema:
                $ref: ./schemas/payroll-groups-pay-periods-response-schema_v01.json
        '400':
          $ref: '#/components/responses/400'
        '500':
          $ref: '#/components/responses/500'
        '204':
          $ref: '#/components/responses/204'
        '413':
          $ref: '#/components/responses/413'
        '304':
          $ref: '#/components/responses/304'
        '403':
          $ref: '#/components/responses/403'
        '503':
          $ref: '#/components/responses/503'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
      operationId: 9a9692cc-1066-44f9-8ec8-a4fcac04495c
      description: Returns the list of pay groups and their associated pay schedule / pay periods
      parameters:
      - schema:
          default: ''
          type: string
        in: query
        name: $expand
        description: The OData $expand parameter MUST be used to specify the expand criterion
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: query
        name: openNextPayPeriodQuantity
        description: Define the number of open pay period to be included in the respose. If this is not specified then default
          value is 2, response should contain 2 open next pay periods, if exists.
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: SORContext
        description: Context within an SOR that the call should be routed to
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: query
        name: $filter
        description: The OData $filter parameter MUST be used to specify the filter criterion
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Act-As-OrgOID
        description: Org OID for Organization of the Associate that the Actor is Acting As
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-On-Behalf-Of-OrgOID
        description: Org OID for Organization of the Associate that the Actor is acting On Behalf Of
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Act-As-AssociateOID
        description: Associate OID for the Associate that the Actor is Acting As
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: employee
          type: string
          enum:
          - employee
          - ' manager'
          - ' practitioner'
          - ' administrator'
          - ' supervisor'
        in: header
        name: roleCode
        description: 'The role the user is playing during the transaction.  Possible values: employee,manager,practitioner,administrator,supervisor.  The
          roleCode header will be passed in all calls. When coming from Myself capabilities rolecode=employee. When coming
          from Team capabilities roleCode=manager. When coming from Practitioner capabilities roleCode=practitioner.'
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          default: ''
          type: boolean
        in: query
        name: $count
        description: The OData $count parameter MUST be used to specify the total number criterion
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Context-ExpressionID
        description: Geopolitical context, typically country, region, e.g. country=CA;subdivision=Quebec
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-On-Behalf-Of-AssociateOID
        description: Associate OID for the Associate that the Actor is acting On Behalf Of
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          type: string
        in: query
        name: endDate
        description: End date (inclusive) of the date range used to filter the list of pay periods. The string representation
          of the date value using the ISO-8601 format
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          type: string
        in: header
        name: orgoid
        description: Organization OID of the requestor as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          default: ''
          type: string
        in: query
        name: $skip
        description: The OData $skip parameter MUST be used to specify the start sequence criterion
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: Authorization
        description: 'The Authorization header is used to provide the client''s authorization to access the resource in the
          following format: Authorization: {scheme credentials}, e.g. Authorization: pin 123456'
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          type: string
        in: query
        name: startDate
        description: Start date (inclusive) of the date range used to filter the list of pay periods. The string representation
          of the date value using the ISO-8601 format
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: SOR
        description: SOR where the call is routed to.  Typically set by the infrastructure except for the callback scenarios.
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          default: ''
          type: string
        in: header
        name: ConsumerAppOID
        description: Identifier for the service consumer application. This header is required, if the actor (service consumer)
          is an application and it's internal to ADP.
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          type: string
        in: query
        name: asOfDate
        description: Allows for filtering the response to data currently valid ('in effect') as of the date specified. This
          value is ignored if startDate/endDate query parameters are present. The current date is assumed if asOfDate is omitted.
          The format should follow ISO-8601.
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: query
        name: $top
        description: The OData $top parameter MUST be used to specify the maximum number criterion
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: query
        name: closedPayPeriodQuantity
        description: Define the number of closed pay period to be included in the respose, If this is not specified then default
          value is 2, response should contain 2 closed pay periods, if exists
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          type: string
        in: header
        name: associateoid
        description: Associate OID of the requestor as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      tags:
      - Payroll Group Pay Periods
  /payroll/v1/pay-schedule/payroll-groups/{group-code}:
    x-adpPathData:
      uriTranslationIndicator: false
      featureCode: payrollProcessingScheduleManagement
      functionCode: payScheduleManagement
      serviceCode: payrollManagement
      serviceCategoryCode: payroll
      canonicalName: Payroll Group List of Pay Periods
    get:
      summary: Retrieve a payroll group's pay periods
      x-adpOperationData:
        operationStateCode: active
        grantTypes:
        - authorization_code
        - urn:ietf:params:oauth:grant-type:saml2-bearer
        - urn:ietf:params:oauth:grant-type:jwt-bearer
        - client_credential
        canonicalUri: payroll/payrollManagement/payrollProcessingScheduleManagement/payScheduleManagement/payrollGroup.payPeriods.read
        operationCode: payrollGroup.payPeriods.read
        operationDataAttributeSensitivitylevels:
        - dataSensitivityCategory: NA
          attributeName: /payrollGroupsPayPeriods/payCycleCode/name
          dataSensitivityLevelCode: 2
        - dataSensitivityCategory: NA
          attributeName: /_confirmMessage/resourceMessages/messages/alternateMessageTexts/languageCode/name
          dataSensitivityLevelCode: 2
        - dataSensitivityCategory: NA
          attributeName: /_confirmMessage/messages/alternateMessageTexts/languageCode/name
          dataSensitivityLevelCode: 2
        - dataSensitivityCategory: NA
          attributeName: /payrollGroupsPayPeriods/payPeriods/payPeriodStatus/name
          dataSensitivityLevelCode: 2
        operationId: 368fa69a-f69e-4b9f-9aa3-33b8fdd02a7f
        roleCodes:
        - manager
        - practitioner
        - administrator
        - employee
        performAuthIndicator: true
        dataSensitivityLevelCode: 2
        scenarios:
        - summary: When this API is called with a payroll group code as path variable, that single pay group is returned with
            the pay periods. When no filter params are passed in, the current date is used as asOfDate. The pay period which
            includes today along with two pay periods before and after are returned.
          name: Get one payroll group with pay schedules
          responses:
          - headers:
              ADP-Acting-Session-Expires: ''
              Cache-Control: ''
              ETag: ''
              ADP-Acting-SessionID: ''
            code: '200'
            description: Successful response that provides the requested payroll group with pay periods.
            content:
              application/json:
                externalValue: ./examples/Get_one_payroll_group_with_pay_schedules_Custom_Example_payrollGroup.payPeriods.read_200_496157.json
          description: When this API is called with a payroll group code as path variable, that single pay group is returned
            with the pay periods. When no filter params are passed in, the current date is used as asOfDate. The pay period
            which includes today along with two pay periods before and after are returned.
          parameters:
            group-code: BWLY
        - summary: '<p>Return the one payroll group requested, with pay periods filtered by status and date range.</p><p><br></p><p>Note:
            The schema documentation is out of date needs to be updated. The following params are used in this call:</p><p>status=NOT_STARTED</p><p>startDate=2025-01-01</p><p>endDate=2025-03-10</p>'
          name: Get one payroll group with pay schedules - multiple filters, status and date range
          responses:
          - headers:
              ADP-Acting-Session-Expires: unset
              Cache-Control: unset
              ETag: unset
              ADP-Acting-SessionID: unset
            code: '200'
            description: Successful response returning the requested payroll group, with list of pay periods filtered by status
              and date range.
            content:
              application/json:
                externalValue: ./examples/Get_one_payroll_group_with_pay_schedules_-_multiple_filters,_status_and_date_range_Custom_Example_payrollGroup.payPeriods.read_200_497230.json
          description: '<p>Return the one payroll group requested, with pay periods filtered by status and date range.</p><p><br></p><p>Note:
            The schema documentation is out of date needs to be updated. The following params are used in this call:</p><p>status=NOT_STARTED</p><p>startDate=2025-01-01</p><p>endDate=2025-03-10</p>'
          parameters:
            group-code: BWLY
        visibilityCodes:
        - internal
        globalViewDevPortalIndicator: false
      responses:
        '200':
          headers:
            ADP-Acting-Session-Expires:
              schema:
                type: string
              description: Specifies the date and time the representational state of the resource is considered stale. Session
                ID for the acting session, Act-As and act On-Behalf-Off
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
            Cache-Control:
              schema:
                type: string
              description: Specifies directives that must be obeyed by all caching mechanisms along the request/response chain.
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
            ETag:
              schema:
                type: string
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
            ADP-Acting-SessionID:
              schema:
                type: string
              description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
          description: Successful response that provides the requested list of pay periods.
          content:
            application/json:
              schema:
                $ref: ./schemas/payroll-groups-pay-periods-response-schema_v01.json
        '400':
          $ref: '#/components/responses/400'
        '500':
          $ref: '#/components/responses/500'
        '204':
          $ref: '#/components/responses/204'
        '413':
          $ref: '#/components/responses/413'
        '403':
          $ref: '#/components/responses/403'
        '304':
          $ref: '#/components/responses/304'
        '404':
          $ref: '#/components/responses/404'
        '503':
          $ref: '#/components/responses/503'
        '429':
          $ref: '#/components/responses/429'
      operationId: 368fa69a-f69e-4b9f-9aa3-33b8fdd02a7f
      description: For a given payroll group, returns a list of pay periods and pay schedule details
      parameters:
      - schema:
          type: string
        in: path
        name: group-code
        description: Associate OID
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          default: ''
          type: string
        in: query
        name: openNextPayPeriodQuantity
        description: Define the number of open pay period to be included in the respose. If this is not specified then default
          value is 2, response should contain 2 open next pay periods, if exists.
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: SORContext
        description: Context within an SOR that the call should be routed to
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Act-As-OrgOID
        description: Org OID for Organization of the Associate that the Actor is Acting As
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-On-Behalf-Of-OrgOID
        description: Org OID for Organization of the Associate that the Actor is acting On Behalf Of
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Act-As-AssociateOID
        description: Associate OID for the Associate that the Actor is Acting As
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: employee
          type: string
          enum:
          - employee
          - ' manager'
          - ' practitioner'
          - ' administrator'
          - ' supervisor'
        in: header
        name: roleCode
        description: 'The role the user is playing during the transaction.  Possible values: employee,manager,practitioner,administrator,supervisor.  The
          roleCode header will be passed in all calls. When coming from Myself capabilities rolecode=employee. When coming
          from Team capabilities roleCode=manager. When coming from Practitioner capabilities roleCode=practitioner.'
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Context-ExpressionID
        description: Geopolitical context, typically country, region, e.g. country=CA;subdivision=Quebec
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-On-Behalf-Of-AssociateOID
        description: Associate OID for the Associate that the Actor is acting On Behalf Of
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          type: string
        in: header
        name: orgoid
        description: Organization OID of the requestor as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          default: ''
          type: string
        in: header
        name: Authorization
        description: 'The Authorization header is used to provide the client''s authorization to access the resource in the
          following format: Authorization: {scheme credentials}, e.g. Authorization: pin 123456'
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: SOR
        description: SOR where the call is routed to.  Typically set by the infrastructure except for the callback scenarios.
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          default: ''
          type: string
        in: header
        name: ConsumerAppOID
        description: Identifier for the service consumer application. This header is required, if the actor (service consumer)
          is an application and it's internal to ADP.
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          type: string
        in: query
        name: asOfDate
        description: Allows for filtering the response to data currently valid ('in effect') as of the date specified. This
          value is ignored if startDate/endDate query parameters are present. The current date is assumed if asOfDate is omitted.
          The format should follow ISO-8601.
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: query
        name: closedPayPeriodQuantity
        description: Define the number of closed pay period to be included in the respose, If this is not specified then default
          value is 2, response should contain 2 closed pay periods, if exists
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          type: string
        in: header
        name: associateoid
        description: Associate OID of the requestor as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      tags:
      - Payroll Group Pay Periods
components:
  responses:
    '400':
      headers:
        Content-Language:
          schema:
            type: string
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Last-Modified:
          schema:
            type: string
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: ../../../common/shared/confirm-message-schema_v03.json
    '500':
      headers:
        Content-Language:
          schema:
            type: string
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Last-Modified:
          schema:
            type: string
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: ../../../common/shared/confirm-message-schema_v03.json
    '204':
      headers:
        ETag:
          schema:
            type: string
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Last-Modified:
          schema:
            type: string
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
      description: No Content
    '413':
      headers:
        Content-Language:
          schema:
            type: string
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Last-Modified:
          schema:
            type: string
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
      description: Request Entity Too Large
      content:
        application/json:
          schema:
            $ref: ../../../common/shared/confirm-message-schema_v03.json
    '304':
      description: Not Modified
    '403':
      headers:
        Content-Language:
          schema:
            type: string
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Last-Modified:
          schema:
            type: string
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: ../../../common/shared/confirm-message-schema_v03.json
    '503':
      headers:
        Content-Language:
          schema:
            type: string
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Last-Modified:
          schema:
            type: string
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
      description: Service Unavailable
      content:
        application/json:
          schema:
            $ref: ../../../common/shared/confirm-message-schema_v03.json
    '404':
      headers:
        Content-Language:
          schema:
            type: string
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Last-Modified:
          schema:
            type: string
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
      description: Not Found
      content:
        application/json:
          schema:
            $ref: ../../../common/shared/confirm-message-schema_v03.json
    '429':
      headers:
        Content-Language:
          schema:
            type: string
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Last-Modified:
          schema:
            type: string
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
      description: Too Many Requests
      content:
        application/json:
          schema:
            $ref: ../../../common/shared/confirm-message-schema_v03.json
