openapi: 3.2.0
info:
  contact:
    name: Kelly Ortman
    email: kelly.ortman@adp.com
  description: Add and change the background screening status and results link for a single or multiple job applications at a time using the application item IDs. For more information, see Job Applications V2 API Guide
  title: Job Applicants Applicant's External Assessment API
  version: 2.0.8
  x-apievangelist-source: https://api-library-marketplace.adp.com/hcm-offrg-wfn/staffing/job-applicants/v2/job-applicants-swagger_v2-merged.json
  x-apievangelist-product: ADP Workforce Now (hcm-offrg-wfn)
  x-apievangelist-resource-path: staffing/job-applicants/v2/job-applicants
servers:
- url: https://api.adp.com
  description: 'ADP production API gateway (mutual-TLS). Source: https://developers.adp.com/getting-started/key-concepts/access-tokens'
- url: https://api.eu.adp.com
  description: ADP European API gateway
- url: https://uat-api.adp.com
  description: ADP UAT / sandbox gateway
tags:
- name: Applicant's External Assessment
  description: API to manage the applicant's assessment by the external agency
paths:
  /events/staffing/v1/job-applicant.external-assessment.status.change:
    x-adpPathData:
      uriTranslationIndicator: false
      featureCode: positionSeekerManagement
      functionCode: applicantManagementExternal
      serviceCode: staffingManagement
      serviceCategoryCode: staffing
      canonicalName: Job Applicants
    post:
      summary: Update Applicant's External Agency Assessment Status
      x-adpOperationData:
        operationStateCode: active
        grantTypes:
        - authorization_code
        - urn:ietf:params:oauth:grant-type:saml2-bearer
        - urn:ietf:params:oauth:grant-type:jwt-bearer
        - client_credential
        asaFeatureCodes:
        - MobilePSSStaffingExternal
        canonicalUri: staffing/staffingManagement/positionSeekerManagement/applicantManagementExternal/externalAssessment.status.change
        operationCode: externalAssessment.status.change
        operationId: 374402a1-a1d4-4f38-9dae-19df7c578f85
        roleCodes:
        - practitioner
        performAuthIndicator: true
        scenarios:
        - summary: <p>This use case describes how to use the Result Assessment API to update the assessment result status selected by the job applicant.</p>
          name: Updating assessment result status for single applicant
          responses:
          - headers:
              Cache-Control: ''
              ETag: ''
              Content-Type: ''
            code: '200'
            description: Applicant external assessment status changed
            content:
              application/json:
                externalValue: ./examples/Updating_assessment_result_status_for_single_applicant_Provide_Example_externalAssessment.status.change_200_45702.json
          - headers:
              Cache-Control: unset
              ETag: unset
              Content-Type: unset
            code: '200'
            description: Applicant external assessment status changed
            content:
              application/json:
                externalValue: ./examples/Updating_assessment_result_status_for_single_applicant_Provide_Example_externalAssessment.status.change_200_45704.json
          - headers:
              ADP-Acting-Session-Expires: unset
              Cache-Control: unset
              sm_transactionid: unset
              ETag: unset
              ADP-Acting-SessionID: unset
              Content-Type: unset
            code: '400'
            description: "Bad Request.Updating an assessment result without the assessmentPackageID.\n\"userMessage\": {\n                            \"messageTxt\": \"Bad Request - Invalid assessmentPackageID - []\"\n                        }"
            content:
              application/json:
                externalValue: ./examples/Updating_assessment_result_status_for_single_applicant_Provide_Example_externalAssessment.status.change_400_45708.json
          - headers:
              ADP-Acting-Session-Expires: unset
              Cache-Control: unset
              sm_transactionid: unset
              ETag: unset
              ADP-Acting-SessionID: unset
              Content-Type: unset
            code: '400'
            description: "Bad Request.\nUpdating an assessment result without an assessmentStatusCode.\n\"userMessage\": {\n                            \"messageTxt\": \"Bad Request - [Status should not be blank against Application Id - 169744662286_1]\"\n                        }"
            content:
              application/json:
                externalValue: ./examples/Updating_assessment_result_status_for_single_applicant_Provide_Example_externalAssessment.status.change_400_45706.json
          - headers:
              ADP-Acting-Session-Expires: unset
              Cache-Control: unset
              sm_transactionid: unset
              ETag: unset
              ADP-Acting-SessionID: unset
              Content-Type: unset
            code: '400'
            description: "Bad Request.\nUpdating an assessment result without an agencyCode.\n\"userMessage\": {\n                            \"messageTxt\": \"Bad Request - agencyCode should not be blank\"\n                        }"
            content:
              application/json:
                externalValue: ./examples/Updating_assessment_result_status_for_single_applicant_Provide_Example_externalAssessment.status.change_400_45705.json
          - headers:
              ADP-Acting-Session-Expires: unset
              Cache-Control: unset
              sm_transactionid: unset
              ETag: unset
              ADP-Acting-SessionID: unset
              Content-Type: unset
            code: '400'
            description: "Bad Request.Updating an assessment result without applicationID.\n\"userMessage\": {\n                            \"messageTxt\": \"Bad Request - Invalid AppOid - []\"\n                        }"
            content:
              application/json:
                externalValue: ./examples/Updating_assessment_result_status_for_single_applicant_Provide_Example_externalAssessment.status.change_400_45707.json
          description: <p>This use case describes how to use the Result Assessment API to update the assessment result status selected by the job applicant.</p>
          content:
            application/json:
              externalValue: ./examples/Updating_assessment_result_status_for_single_applicant_Provide_Example_externalAssessment.status.change_request_4273.json
        - summary: <span>This use case describes how to use the Publish Package API to publish and update an assessment package in ADP Workforce Now.</span>
          name: Updating assessment results for multiple applicants
          responses:
          - headers:
              Cache-Control: ''
              ETag: ''
              Content-Type: ''
            code: '200'
            description: Updating assessment results for multiple packages.
            content:
              application/json:
                externalValue: ./examples/Updating_assessment_results_for_multiple_applicants_Provide_Example_externalAssessment.status.change_200_45703.json
          description: <span>This use case describes how to use the Publish Package API to publish and update an assessment package in ADP Workforce Now.</span>
          content:
            application/json:
              externalValue: ./examples/Updating_assessment_results_for_multiple_applicants_Provide_Example_externalAssessment.status.change_request_4274.json
        visibilityCodes:
        - internal
        globalViewDevPortalIndicator: false
      requestBody:
        description: posted contents
        content:
          application/json:
            schema:
              $ref: ./schemas/events_staffing.jobApplicant.externalAssessment.status.change_schema_v01_00_rev001.json
        required: true
      responses:
        '200':
          headers:
            Cache-Control:
              schema:
                type: string
              description: Specifies directives that must be obeyed by all caching mechanisms along the request/response chain.
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
            ETag:
              schema:
                type: string
              description: Defines the entity tag for use with the If-Match and If-None-Match request headers.
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
            Content-Type:
              schema:
                type: string
              description: 'Content-Type'' '': '' type ''/'' subtype. Describes the media type and subtype of an entity-body.'
              x-adpParameterData:
                visibilityCodes:
                - internal
              required: false
          description: Applicant external assessment status changed
          content:
            application/json:
              schema:
                $ref: ./schemas/events_staffing.jobApplicant.externalAssessment.status.change_schema_v01_00_rev001.json
        '400':
          $ref: '#/components/responses/400'
        '412':
          $ref: '#/components/responses/412'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
        '403':
          $ref: '#/components/responses/403'
        '503':
          $ref: '#/components/responses/503'
        '504':
          $ref: '#/components/responses/504'
        '405':
          $ref: '#/components/responses/405'
        '406':
          $ref: '#/components/responses/406'
        '429':
          $ref: '#/components/responses/429'
      operationId: 374402a1-a1d4-4f38-9dae-19df7c578f85
      description: Applicant's background assessment status changed by the external agency
      parameters:
      - schema:
          default: ''
          type: string
        in: header
        name: SOR
        description: SOR where the call is routed to - usuall injected by the API proxy, with few exceptions
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          default: ''
          type: string
        in: header
        name: orgoid
        description: Organization OID of the requestor as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          default: G4O73G9Z62SL2NFM
          type: string
        in: header
        name: associateoid
        description: Associate OID of the requestor as provisioned by the ADP Registry
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      - schema:
          default: ''
          type: string
        in: header
        name: ConsumerAppOID
        description: Identifier for the service consumer application.  This header is required, if the actor (Service Consumer) is an application or the actor is internal to ADP
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Consumer-ApplicationID
        description: Identifier of the application sending a request - not intended to be used as a correlation id for messages across systems participating in a collaboration
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: Authorization
        description: Provides the client's authorization token to access the resource representation at a URI
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: ''
          type: string
        in: header
        name: ADP-Context-ExpressionID
        description: Geopolitical context, typically country, region, e.g. country=CA;subdivision=Quebec
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: en-US
          type: string
        in: header
        name: Accept-Language
        description: 'Accept-Language'' '': '' ( language | ''*'' ) ['';'' ''q'' ''=''qvalue]. Specifies the language(s) that are acceptable for the response. The optional qvalue represents a quality level for acceptable languages.'
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: false
      - schema:
          default: employee
          type: string
          enum:
          - employee
          - ' manager'
          - ' practitioner'
          - ' administrator'
          - ' supervisor'
        in: header
        name: roleCode
        description: 'The role the user is playing during the transaction.  Possible values: employee,manager,practitioner,administrator,supervisor.  The roleCode header should be passed in all calls.'
        x-adpParameterData:
          visibilityCodes:
          - internal
        required: true
      tags:
      - Applicant's External Assessment
components:
  responses:
    '405':
      headers:
        ADP-Acting-Session-Expires:
          schema:
            type: string
          description: Specifies the date and time the representational state of the resource is considered stale in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        sm_transactionid:
          schema:
            type: string
          description: 'SiteMinder transaction ID.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_transactionid: 1aaf14ac-7083-54c0186f-4680c940-82b33ca3'
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Cache-Control:
          schema:
            type: string
          description: Specifies directives that must be obeyed by all caching mechanisms along the request/response chain.
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        ETag:
          schema:
            type: string
          description: Defines the entity tag for use with the If-Match and If-None-Match request headers.
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        ADP-Acting-SessionID:
          schema:
            type: string
          description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Content-Type:
          schema:
            type: string
          description: 'Content-Type'' '': '' type ''/'' subtype. Describes the media type and subtype of an entity-body.'
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
      description: Method Not Allowed
      content:
        application/json:
          schema:
            $ref: ../../../common/responses/v1/schemas/confirmMessage_schema_v01_00_rev008.json
    '503':
      headers:
        ADP-Acting-Session-Expires:
          schema:
            type: string
          description: Specifies the date and time the representational state of the resource is considered stale in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        sm_transactionid:
          schema:
            type: string
          description: 'SiteMinder transaction ID.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_transactionid: 1aaf14ac-7083-54c0186f-4680c940-82b33ca3'
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Cache-Control:
          schema:
            type: string
          description: Specifies directives that must be obeyed by all caching mechanisms along the request/response chain.
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        ETag:
          schema:
            type: string
          description: Defines the entity tag for use with the If-Match and If-None-Match request headers.
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        ADP-Acting-SessionID:
          schema:
            type: string
          description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Content-Type:
          schema:
            type: string
          description: 'Content-Type'' '': '' type ''/'' subtype. Describes the media type and subtype of an entity-body.'
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
      description: Service Unavailable
      content:
        application/json:
          schema:
            $ref: ../../../common/responses/v1/schemas/confirmMessage_schema_v01_00_rev008.json
    '403':
      headers:
        ADP-Acting-Session-Expires:
          schema:
            type: string
          description: Specifies the date and time the representational state of the resource is considered stale in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        sm_transactionid:
          schema:
            type: string
          description: 'SiteMinder transaction ID.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_transactionid: 1aaf14ac-7083-54c0186f-4680c940-82b33ca3'
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Cache-Control:
          schema:
            type: string
          description: Specifies directives that must be obeyed by all caching mechanisms along the request/response chain.
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        ETag:
          schema:
            type: string
          description: Defines the entity tag for use with the If-Match and If-None-Match request headers.
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        ADP-Acting-SessionID:
          schema:
            type: string
          description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Content-Type:
          schema:
            type: string
          description: 'Content-Type'' '': '' type ''/'' subtype. Describes the media type and subtype of an entity-body.'
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: ../../../common/responses/v1/schemas/confirmMessage_schema_v01_00_rev008.json
    '400':
      headers:
        ADP-Acting-Session-Expires:
          schema:
            type: string
          description: Specifies the date and time the representational state of the resource is considered stale in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        sm_transactionid:
          schema:
            type: string
          description: 'SiteMinder transaction ID.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_transactionid: 1aaf14ac-7083-54c0186f-4680c940-82b33ca3'
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Cache-Control:
          schema:
            type: string
          description: Specifies directives that must be obeyed by all caching mechanisms along the request/response chain.
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        ETag:
          schema:
            type: string
          description: Defines the entity tag for use with the If-Match and If-None-Match request headers.
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        ADP-Acting-SessionID:
          schema:
            type: string
          description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Content-Type:
          schema:
            type: string
          description: 'Content-Type'' '': '' type ''/'' subtype. Describes the media type and subtype of an entity-body.'
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: ../../../common/responses/v1/schemas/confirmMessage_schema_v01_00_rev008.json
    '429':
      headers:
        ADP-Acting-Session-Expires:
          schema:
            type: string
          description: Specifies the date and time the representational state of the resource is considered stale in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        sm_transactionid:
          schema:
            type: string
          description: 'SiteMinder transaction ID.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_transactionid: 1aaf14ac-7083-54c0186f-4680c940-82b33ca3'
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Cache-Control:
          schema:
            type: string
          description: Specifies directives that must be obeyed by all caching mechanisms along the request/response chain.
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        ETag:
          schema:
            type: string
          description: Defines the entity tag for use with the If-Match and If-None-Match request headers.
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        ADP-Acting-SessionID:
          schema:
            type: string
          description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Content-Type:
          schema:
            type: string
          description: 'Content-Type'' '': '' type ''/'' subtype. Describes the media type and subtype of an entity-body.'
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
      description: Too Many Requests
      content:
        application/json:
          schema:
            $ref: ../../../common/responses/v1/schemas/confirmMessage_schema_v01_00_rev008.json
    '401':
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: ../../../common/responses/v1/schemas/confirmMessage_schema_v01_00_rev008.json
    '500':
      headers:
        ADP-Acting-Session-Expires:
          schema:
            type: string
          description: Specifies the date and time the representational state of the resource is considered stale in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        sm_transactionid:
          schema:
            type: string
          description: 'SiteMinder transaction ID.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_transactionid: 1aaf14ac-7083-54c0186f-4680c940-82b33ca3'
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Cache-Control:
          schema:
            type: string
          description: Specifies directives that must be obeyed by all caching mechanisms along the request/response chain.
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        ETag:
          schema:
            type: string
          description: Defines the entity tag for use with the If-Match and If-None-Match request headers.
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        ADP-Acting-SessionID:
          schema:
            type: string
          description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Content-Type:
          schema:
            type: string
          description: 'Content-Type'' '': '' type ''/'' subtype. Describes the media type and subtype of an entity-body.'
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: ../../../common/responses/v1/schemas/confirmMessage_schema_v01_00_rev008.json
    '412':
      headers:
        ADP-Acting-Session-Expires:
          schema:
            type: string
          description: Specifies the date and time the representational state of the resource is considered stale in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        sm_transactionid:
          schema:
            type: string
          description: 'SiteMinder transaction ID.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_transactionid: 1aaf14ac-7083-54c0186f-4680c940-82b33ca3'
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Cache-Control:
          schema:
            type: string
          description: Specifies directives that must be obeyed by all caching mechanisms along the request/response chain.
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        ETag:
          schema:
            type: string
          description: Defines the entity tag for use with the If-Match and If-None-Match request headers.
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        ADP-Acting-SessionID:
          schema:
            type: string
          description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Content-Type:
          schema:
            type: string
          description: 'Content-Type'' '': '' type ''/'' subtype. Describes the media type and subtype of an entity-body.'
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
      description: Precondition Failed
      content:
        application/json:
          schema:
            $ref: ../../../common/responses/v1/schemas/confirmMessage_schema_v01_00_rev008.json
    '406':
      headers:
        ADP-Acting-Session-Expires:
          schema:
            type: string
          description: Specifies the date and time the representational state of the resource is considered stale in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        sm_transactionid:
          schema:
            type: string
          description: 'SiteMinder transaction ID.  Required for requests where conversation was initiated from a service consumer, external to ADP, and that consumer was authenticated by SMS. Example - sm_transactionid: 1aaf14ac-7083-54c0186f-4680c940-82b33ca3'
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Cache-Control:
          schema:
            type: string
          description: Specifies directives that must be obeyed by all caching mechanisms along the request/response chain.
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        ETag:
          schema:
            type: string
          description: Defines the entity tag for use with the If-Match and If-None-Match request headers.
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        ADP-Acting-SessionID:
          schema:
            type: string
          description: Session ID for the acting session in 'Act-As' and act 'On-Behalf-Of' scenarios
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
        Content-Type:
          schema:
            type: string
          description: 'Content-Type'' '': '' type ''/'' subtype. Describes the media type and subtype of an entity-body.'
          x-adpParameterData:
            visibilityCodes:
            - internal
          required: false
      description: Not Acceptable
      content:
        application/json:
          schema:
            $ref: ../../../common/responses/v1/schemas/confirmMessage_schema_v01_00_rev008.json
    '504':
      description: Gateway Timeout
      content:
        application/json:
          schema:
            $ref: ../../../common/responses/v1/schemas/confirmMessage_schema_v01_00_rev008.json
x-adpSpecData:
  domain: Staffing
  specId: f606dd50-37e9-4af1-9c05-0858675ac49a
  canonicalSpecId: c9ee8839-a6c5-45db-8162-5be445446cf2
  specStatusCode: publishing
  specTypeCode: REST
  specStateCode: active
  nonStandardIndicator: false
  visibilityCodes:
  - internal
  - external
  filename: job-applicants-swagger_v2-merged.json
  serviceProviderId: WFN
  resourcePath: staffing/job-applicants/v2
  libraryVersion: ''
  businessRules:
  - rule: R8.3
    ruleTitle: 'A self link is included in the /data/links with 1 links item with the following 2 properties: rel=”self” href=”/events-notifications/{domain}/v1/{event-name}/{eventID}”'
    visibilityCodes:
    - internal
  - rule: R3.4
    ruleTitle: /data/output may be provided during the recording of the event showing the intermediary results.
    visibilityCodes:
    - internal
  - rule: R3.3
    ruleTitle: /data/output communicates the result of the event instance.
    visibilityCodes:
    - internal
  - rule: R3.0
    ruleTitle: /data/schemaContext communicates the keys and properties that relate the event instance to a concrete concept (e.g. associate).
    visibilityCodes:
    - internal
  - rule: US Person Birth Year
    ruleTitle: '**Masking [Pattern:](/library/patterns/#revealmasked)** XXXX-01-15 (mask year)  **Reveal Operation Canonical ID: **  /core/accessManagement/sensitiveDataManagement/birthDateManagement/usBirthDateYear.reveal'
    visibilityCodes:
    - internal
  - rule: R2.1
    ruleTitle: If the event is declared by an actor then the creationDateTime is the date time when the first call is made to the System of Record.
    visibilityCodes:
    - internal
  - rule: R2.3
    ruleTitle: effectiveDateTime is the date that the event is effective from a business perspective
    visibilityCodes:
    - internal
  - rule: R3.5
    ruleTitle: A complete event has /data/eventContext and /data/output
    visibilityCodes:
    - internal
  - rule: R8.2
    ruleTitle: An event notification does not include the transform or meta objects.
    visibilityCodes:
    - internal
  - rule: R2.2
    ruleTitle: The recordDateTime is the date time which the event is recorded in the system of record with an event.status.code=complete
    visibilityCodes:
    - internal
  - rule: R4.0
    ruleTitle: All envelope data is set by the System of Record (e.g. event.ID, creationDateTime, recordDateTime, event.status.code, etc…
    visibilityCodes:
    - internal
  - rule: R5.1
    ruleTitle: The only information that must be valued in the meta for the events header are the standard codelist references for priorityCode, eventStatusCode, and serviceCategoryCode
    visibilityCodes:
    - internal
  - rule: R3.1
    ruleTitle: /data/input is optional.  Input communicates data that is needed to complete recording the event instance.  An example is a benefits.enroll event.  The input communicates the benefitOfferings (the choices) that the user has to make which are communicated in the transform.
    visibilityCodes:
    - internal
  - rule: R3.6
    ruleTitle: An event which is being recorded includes the /data/eventContext and the /data/transform during the composition phase (i.e. recording of the event).
    visibilityCodes:
    - internal
  - rule: R8.1
    ruleTitle: An event notification includes the /data/eventContext and /data/output objects.
    visibilityCodes:
    - internal
  - rule: R6.2
    ruleTitle: An event instance which has been recorded has an event.status.code=complete
    visibilityCodes:
    - internal
  - rule: R0.3
    ruleTitle: 'For Act-As or On-Behalf-Of requests, header ''Cache-Control: no-store'' MUST be set to indicate on server or on UI the response object SHOULD not be cached'
    visibilityCodes:
    - internal
  - rule: R15.1
    ruleTitle: 'An SOR may return an HTTP 503 when they are down for a scheduled maintenance or for an outage.If an SOR is planning a maintenance window then they should plan on having an end point available to return the 503 with a standard confirmMessage.  The confirmMessage will contain a message stating the date and timeframe that the maintenance window is for.The SOR should return the Retry-After response-header field with the Date and Time when they expect the system to be available.  E.g. §  Retry-After: Fri, 31 Dec 1999 23:59:59 GMT  This does not need to be handled dynamically.  They can set the time that their maintenance window ends.'
    visibilityCodes:
    - internal
  - rule: R5.0
    ruleTitle: Meta returns the context rules for each data section
    visibilityCodes:
    - internal
  - rule: R0.1
    ruleTitle: If request contains ADP-Act-As-OrgOID, ADP-Act-As-AssociateOID and ADP-Acting-SessionID header values, SOR MUST use ADP-Act-As-AssociateOID header value to authorize the data requested, NOT associateoid header value to authorize the data.
    visibilityCodes:
    - internal
  - rule: R0.2
    ruleTitle: If request contains ADP-On-Behalf-Of-OrgOID, ADP-On-Behalf-Of-AssociateOID and ADP-Acting-SessionID header values, SOR MUST use ADP-On-Behalf-Of-AssociateOID header value to authorize the data requested, NOT associateoid header value to authorize the data.
    visibilityCodes:
    - internal
  - rule: R3.2
    ruleTitle: /data/transform is only used during the recording of the event.  The transform is the data that is provided by a user/machine to complete the recording of the event.
    visibilityCodes:
    - internal
  - rule: R6.0
    ruleTitle: An event instance may be created by a System of record for a user to complete. This event instance will have a event.status.code=created
    visibilityCodes:
    - internal
  - rule: R1.0
    ruleTitle: event.id is generated once an event is recorded with a event.status.code=complete
    visibilityCodes:
    - internal
  - rule: R6.1
    ruleTitle: An event instance which is being “worked on” has an event.status.code=inprogress
    visibilityCodes:
    - internal
  - rule: R2.4
    ruleTitle: If there is no effective date from a business perspective then the effective date should be set equal to the record date time.
    visibilityCodes:
    - internal
  - rule: R2.0
    ruleTitle: creationDateTime is the date that the event is created.  If a System of Record creates the event instance then it sets the creationDateTime.
    visibilityCodes:
    - internal
  testCaseCollection:
    example:
      href: WFN_CG_Job_applicants.postman_collection.json
    description: WFN_CG_Job_applicants.postman_collection.
  publicationContext:
    products:
    - productId: hcm-offrg-wfn
      productName: workforce now
      marketplaceProductName: ADP Workforce Now®
  specCategoryCode: ''
